@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
body { 
    color: #5A5A5A;
    background-color: #FFF;
    font-size: 15px;
}
.navbar-nverse  { 
    background-color: #fff;
} 
.navbar .nav > li > a {
    padding-top: 10px;
    color: #333;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: none;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{ color: #2DCC70;}
body {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
}
/* menu del encabezado */
.encabezado .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #337ab7;
    background-color:#337ab700 !important;
}
.encabezado .nav {
    margin-top:20px;
 }

.menuconsolidado {
    background-image: url(/static/img/bg-naranja.jpg);
    background-size: cover;
    min-height: 140px;
}
/* cierre del menu del encabezado*/
h1 { 
    font-size: 31px !important;
}
h2, h2 > a , .titular-header { 
    color: #187EBF;
}
h2.enconsulta { 
    color: #085106;
    margin-bottom: 20px;
    margin-top: 0px;
}
h2 { font-size: 24px;}
.titular-header {
    margin-top: 6px !important;

}
body > section {
    padding: 50px 0px;
}
#graficos , #distribucion{ 
    background-color: #F6F6F6;
}
.graficos-portada { 
    background-color: #005899 !important;
}
.graficos-portada h2, .blanco{
    color: #fff;
}
.titularp {color: #fff !important;}
h2.titular, .title  {
    margin-top: 0px !important;
    padding: 15px 0px;
    font-size: 22px;
    font-weight: bold;
    color: #005899;
    text-align: center;
}
.interna {
    background-color: #F6F6F6 !important;
}
#proyectos { 
    background: none repeat scroll 0% 0% #004783; 
    color: #252525;
}
.icon-medium {
    font-size: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    background: none repeat scroll 0% 0% #2DCC70;
    padding: 10px;
    border-radius: 100%;
    color: #FFF;
}
.media-heading, #proyectos h3 { 
    color:#fff;
}
.media-body, .lead { color:#B6B6B6;}
.panel > .panel-heading {
    font-size: 19px;
    color: #fff;
}
.panel-success .panel-heading {
    background-color: #0B9176;
}
.panel-success {
    border: 1px solid #0B9176;
}

/* paneles y buscador e inversiones */
.panel-body { 
  height:214px;
}

.panel-body .btn-default {
  margin-top: 69px; 

} 
.panel-body h4 { 
 color: #fff

} 
.verde {background:#388e3c; }
.celeste {background:#1891ac; }
.gris {background:#5A5A5A; }
.naranja {background:#e9b23b; }
.azula {background:#013d71; }

.buscador button, select{
 background: #fff;
 color: #337ab7;
}
.buscador .btn-group, .btn-group-vertical {
    border:2px solid #337ab7;

}
.buscador .btn-group-lg > .btn, .btn-lg { 
   border-radius:0px;
}
.buscador .btn {
  background:#fff;
  color: #337ab7;
  border:3px solid #337ab7;   
}

.buscador .btn-group > .btn-lg + .dropdown-toggle { 
 background:#337ab7
}
.buscador .data-toggle {color:#fff }
.buscador p { 
 text-align: center;
 margin-top: 13px;
 color:#337ab7;
}

#inversiones { 
  background:#e7e8ea;
   margin-top: 20px;
    }
 #inversiones h2 {
  {text-align:center; color:#005899; padding-top:35px; }
}

#inversiones h2::after{
  display: block;
  width: 10%;
  margin: 10px auto;
  content: "";
  border-top: 2px solid #005899;;
}
#inversiones .text-info,.text-danger {
    color:#5A5A5A;

} 
#inversiones .carousel  { 
   height: 250px;
}
#inversiones .carousel-inner { 
    background-color: none;
}
#inversiones .carousel .item { 
    height: 280px;
}
#inversiones .carousel-control.left, #carousel-inv > .carousel-control.right { 
    background: none;margin-top: 10%;
}
#inversiones .carousel-control.left { 
    margin-left: -6%;
}
#inversiones .carousel-control.right { 
    margin-right: -80px;
}
#inversiones .carousel-control {
    color: #000;
}
#inversiones .carousel-inner .thumbnails {
    margin: 0px;
    list-style: none;
}
#inversiones .thumbnails a {
    font-size: 16px;
    margin-top: 18px;
    color: #999;
}
#inversiones .thumbnails p {
    font-size: 30px;
    padding-top: 18px;
}

#inversiones .text-info {
    margin-top:60px;
}
span.count {
    font-weight: 500;
	font-size: 16px;
    padding-left: 10px;
    transition: all 0.5s ease 0s;
    color: #fff;
    border-left: 1px solid #FFF;
}
/* cierre de estilo de paneles, buscador e inversiones */

.recuadro { width:75%;}
#recuadros { margin-top: -50px; background-color: #fff;}
#recuadros .container { margin-right: 0px !important;}
#recuadros button { margin-right: 10px;margin-left: 5px; margin-bottom: 10px;}
.inside { margin-top: 50px;}
#graficos form { padding: 15px;float: right;margin-right: 15px;}
#graficos form select, #graficos form input { 
    color: #353535; 
    font-size: 15px; 
    font-family: "Fjalla One";
    padding: 4px;
}
.separador {
    margin-top: 40px;
}
.circular {
  width: 150px;
  height: 150px;
  margin: 10px 5px;
  -webkit-border-radius: 83px;
  -moz-border-radius: 83px;
  borer-radius: 83px;
  background-position: center !important;
}
.totales {
    margin-bottom: 10px;
}
.totales img {
    padding-right: 5px;
}
#recuadros .btn {
    padding: 0px !important;
}
.recuadro-text { padding-left: 10px !important;text-align: left !important;}
.recuadro-icon, .btn-warning .span {
    border-radius: 2px 0px 0px 2px;
    display: block;
    float: left;
    text-align: center;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}
.graficos-azul {
    background-color: #5BC0DE;
    margin-top: 50px;
    padding-bottom:40px;
    color: #fff;
}
.popover {
    max-width: 400px;
}
.btn-info {
    background-color: #0962B9 !important;
}
/* estilo del footer*/
.contacto p {
    color: #fff;
    margin-top: 20px;
}
.contacto .fa { 
  color:#fff;
    margin-top:10px;
} 
.logos {
   background: #FFF;
   margin-top: 101px;
   height: 62px;
}
.logos img { 
  margin-right: 25px;
  margin-top: 10px;
}

/* cierre de estilo del footer*/
.table-condensed tr.info th {
    background-color: rgb(9, 98, 185) !important;
    color: #fff;
    font-size: 15px;
}
.cifra {
    font-family: "Kaushan Script", bold !important;
    font-size: 17px;
    font-weight: bold;
}
.grande {
    font-size: 27px;
}
.margen {
    margin-right: 10px;
}
.report {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0px;
    border-collapse: collapse
}
.report tr th {
    background-color: #0962B9 !important;
    color: #FFF;
    font-size: 15px;
    padding: 5px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD
    text-align: center;
}
.report tr td {
    padding: 5px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
    text-align: left;
}
.success td {
    font-weight: bold;
}
.montos, .centrar {
    text-align: right !important;
}
.capfirst { text-transform: capitalize;}
tr th, .center { text-align: center !important;}
.link-info { color: #0FF; text-decoration: underline;}
.consultap a, .consultap:hover, .link-info:hover { color: #fff;}
.consultap { background-color: #EC6706 !important;padding-top:15px;padding-bottom:65px;}
.consultap a { font-size: 17px;font-weight: bold;font-family: "Fjalla One"; cursor: pointer;} 
.consultap .modal-content {color: #5A5A5A;text-align: justify;}
.intro {
    font-family: "Josefin Sans";
    font-size: 25px;
    color: #FFF;
    padding-top: 27px;
    padding-bottom: 30px;
    background-color: #005899 !important;
}

footer {
        background:#013d71;
        margin-top: 20px;

    }

/* tmp */

#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #fff;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 425px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.carousel-inner h3, h4, h5 {
    background: rgba(24,145,172,0.5);
    padding: 10px;
}
#first-slider .last {
  animation-delay: 4s;
}
#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h5 {
  animation-delay: 4s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 53px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}

.item .info {
    margin-top: 40px;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
    background-image: url(/static/img/banner1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
#first-slider .slide2 {
    background-image: url(/static/img/banner2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
}
.slider-portada { padding-right: 0px;}
