{% extends "_base.html" %}
{% load static thumbnail %}

{% block main_content %}
<div class="container">
    <h2>Participación Ciudadana</h2>
    <hr class="pma-line-2"/>
    <div class="col-md-12">
        {% for object in object_list %}
            <div class="col-md-6 organizaciones">
                {% if object.logo %}
                    {% thumbnail object.logo "120" as img %}
                    <img src="{{ img.url }}" alt="{{ logo }}" class="pull-left"/>
                    {% endthumbnail %}
                {% endif %}
                <h4>{{ object.nombre }}</h4>.
                {{ object.correo }} {{ object.web|urlize }}
            </div>
            {% if forloop.last or forloop.counter|divisibleby:2 %}<br clear="all" />{% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
