{% extends "base.html" %}
{% load static thumbnail %}

{% block content %}
    <h2>Organizaciones</h2>
    <div class="col-md-10 col-md-offset-2">
        {% for object in object_list %}
            <div class="col-md-5 organizaciones">
                {% if object.logo %}
                    {% thumbnail object.logo "120" as img %}
                    <img src="{{ img.url }}" alt="{{ logo }}" class="pull-left"/>
                    {% endthumbnail %}
                {% endif %}
                <h4>{{ object.nombre }}</h4>.
                {{ object.correo }} {{ object.web }} 
            </div>
        {% endfor %}
    </div>
{% endblock %}
