{% extends "_base.html" %}
{% load static thumbnail chartit %}
{% load humanize %}
{% load mathfilters %}
{% load core_extras %}
{% load absurl %}
{# TODO: Replace this by django-seo2 #}
{% block titulo %}
    {{ municipio }}
{% endblock %}
{% block extra_header_links %}
    <link rel="stylesheet" href="{% static 'css/linea_basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/linea_software.css' %}">
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bubbletree.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/horizontal-timeline.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semi-donut-categories.css' %}"/>
{% endblock %}

{% block header %}
    <div class="pma-search-bar pma-bg-blue ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="indicatorfilter" method="GET">
                        <div class="col-xs-4 col-sm-2 col-md-1">
                            <span class="pma-fg-light-green titsearch years"><strong>AÑO</strong></span>
                            <select name="year" id="year">
                                {% for ayear in year_list %}
                                    <option {% if ayear == year|add:"0" %}selected{% endif %}
                                            value="{{ ayear }}">{{ ayear }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if request.resolver_match.url_name == 'municipio' %}
                            <div class="col-xs-9 col-sm-5 col-md-3 indicadores">
                                <span class="pma-fg-light-green titsearch"><strong>Indicador</strong></span>
                                <select name="indicador" class="indicator" id="indicator">
                                    <option value="resumen-municipal">Resumen del Municipio</option>
                                    <option value="{% url 'origen_ingresos' %}"
                                            {% if request.resolver_match.url_name == 'origen_ingresos' %}selected{% endif %}>
                                        Origen de los ingresos del municipio
                                    </option>
                                    <option value="{% url 'origen_gastos' %}"
                                            {% if request.resolver_match.url_name == 'origen_gastos' %}selected{% endif %}>
                                        Destino del gasto municipal
                                    </option>
                                    <option value="{% url 'inversion_categoria' %}"
                                            {% if request.resolver_match.url_name == 'inversion_categoria' %}selected{% endif %}>
                                        Inversiones
                                    </option>
                                    <option value="{% url 'gastos_funcion' %}"
                                            {% if request.resolver_match.url_name == 'gastos_funcion' %}selected{% endif %}>
                                        Gastos de funcionamiento
                                    </option>
                                    <option value="{% url 'gastos_personal' %}"
                                            {% if request.resolver_match.url_name == 'gastos_personal' %}selected{% endif %}>
                                        Gastos de personal
                                    </option>
                                    <option value="{% url 'autonomia_gastos' %}"
                                            {% if request.resolver_match.url_name == 'autonomia_gastos' %}selected{% endif %}>
                                        Dependencia para asumir gastos corrientes
                                    </option>
                                    <option value="{% url 'ahorro_corriente' %}"
                                            {% if request.resolver_match.url_name == 'ahorro_corriente' %}selected{% endif %}>
                                        Ahorro corriente para inversiones
                                    </option>
                                    <option value="{% url 'ejecucion_presupuesto' %}"
                                            {% if request.resolver_match.url_name == 'ejecucion_presupuesto' %}selected{% endif %}>
                                        Ejecuci&oacute;n del presupuesto
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" name="municipio" value="{{ municipio.slug }}">
                        {% else %}
                            <div class="col-xs-8 col-sm-4 col-md-2">
                                <span class="pma-fg-light-green titsearch"><strong>MUNICIPIO</strong></span>
                                <select class="municipio pull-right" name="municipio">
                                    <optgroup>
                                        <option value="">Todos</option>
                                    </optgroup>
                                    {% regroup municipios by depto as departamentos %}
                                    {% for departamento in departamentos %}
                                        <optgroup label="{{ departamento.grouper }}">
                                            {% for m in departamento.list %}
                                                <option value="{{ m.slug }}"
                                                        {% ifequal request.GET.municipio m.slug %}
                                                        selected="selected"
                                                        {% endifequal %}>
                                                    {{ m.nombre }}
                                                </option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <div class="col-xs-2 col-sm-1 col-md-1">
                            <input type="submit" value="Buscar" class="btn buscar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="pma-bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block indicator_title %}
                        <h2 class="text-center">{% if municipio %}<strong>{{ municipio }}</strong><br/>{% else %}
                            Consolidado{% endif %}</h2>
                        <hr class="pma-line-5"/>
                        <h4 class="text-center">
                            <strong>{% block indicator_title_text %}{{ indicator_name }}{% endblock %}
                                {% if periodo_list|keyvalue:year == 'F' %}
                                    presupuesto cierre {% elif periodo_list|keyvalue:year == 'A' %}
                                    ejecuci&oacute;n intermedia {% elif periodo_list|keyvalue:year == 'I' %}presupuesto
                                    inicial {% endif %}
                                {% if year %}{{ year }}{% else %}2015 {% endif %}</strong>
                        </h4>
                        <p class="text-center metric-description container"> {% block indicator_description %} Son los
                            ingresos que capta el sector público para realizar sus actividades, es decir, es el dinero
                            percibido por el gobierno para financiar sus gastos públicos
                        {% endblock %}
                        </p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block section1 %}
        <div class="container">
            <div class="row">
                <div>
                    <h3>
                        <strong>
                            Ingresos
                            {% if periodo_list|keyvalue:year == 'F' %}
                                Ejecutados
                            {% elif periodo_list|keyvalue:year == 'A' %}
                                Ejecutado Intermedio
                            {% elif periodo_list|keyvalue:year == 'I' %}
                                Presupuesto Inicial
                            {% endif %}
                        </strong>
                        {{ year }}
                    </h3>
                    <h5>Millones de c&oacute;rdobas corrientes</h5>
                    <hr class="pma-line-2 text-center">
                </div>

                <div class="row pma-header-summary wide">
                    {% block indicator_summary %}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon pma-icon initial">
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-number font-17px">
                                        <strong>Inicial {{ asignado|million|intcomma }}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon pma-icon executed">
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-number font-17px">
                                        <strong>Cierre {{ ejecutado|million|intcomma }}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% if municipio %}
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="info-box">
                                    <span class="info-box-icon pma-icon municipality-category">
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-number font-17px">
                                            <strong>Categor&iacute;a de municipio {{ mi_clase.clasificacion }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="info-box">
                                    <span class="info-box-icon pma-icon pe-7s-date">
                                    </span>
                                    <div class="info-box-content">
                                        <span class="info-box-number font-17px">
                                            <strong>Año {{ year }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
                {% block charts %}
                    <div class="col-xs-12 col-sm-12 col-md-7">
                        <div class="chart-update col-xs-12 col-sm-12 col-md-1 text-right">
                            <span class="pma-icon pe-7s-bubble pma-fg-gray toggle-chart"
                                  aria-hidden="true" id="chart-bubble-1"
                                  data-chartcontainer="bubble-1">
                            </span>
                            <span id="chart-pie-1"
                                  class="pma-icon pe-7s-graph pma-fg-gray toggle-chart"
                                  data-chartcontainer="pie">
                            </span>
                            <span id="chart-bar-1"
                                  class="pma-icon pe-7s-graph3 pma-fg-gray toggle-chart"
                                  data-chartcontainer="bar">
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-11 bubbletree-container chart-container">
                            <div id="bubble-1" class="bubbletree-wrapper view-main">
                                <div class="bubbletree"></div>
                            </div>
                            <div id='pie' class="view-alternative"> Chart will be rendered here</div>
                            <div id='bar' class="view-alternative"> Chart will be rendered here</div>
                        </div>
                    </div>
                {% endblock %}

                {% block main_table %}
                    <div class="col-md-5 table-responsive">
                        <h3>Destino de la inversion municipal<br>
                            Presupuesto de
                            {% if periodo == 'F' %}Cierre
                                {% else %}{% if periodo == 'A' %} Intermedio {% else %}Inicial {% endif %}{% endif %}
                            {{ year }}
                        </h3>
                        <small>Millones de c&oacute;rdobas corrientes</small>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr class="bg-primary">
                                <th>Clasificaci&oacute;n</th>
                                {% if periodo_list|keyvalue:year == 'I' %}
                                    <th class="text-right">Inicial</th>
                                {% else %}
                                    <th class="text-right">Ejecutado</th>
                                {% endif %}
                            </tr>
                            </thead>
                            {% for row in cat %}
                                <tr>
                                    <td class="text-left">{{ row.catinversion__nombre }}</td>
                                    {% if periodo_list|keyvalue:year == 'I' %}
                                        <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                                    {% else %}
                                        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <tfoot>
                            <tr>
                                <td>TOTAL</td>
                                {% if periodo_list|keyvalue:year == 'I' %}
                                    <td class="text-right">{{ asignado|million|intcomma }}</td>
                                {% else %}
                                    <td class="text-right">{{ ejecutado|million|intcomma|default:"0" }}</td>
                                {% endif %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                {% endblock %}

            </div>
        </div>
    {% endblock %}

    {% block section2 %}
    {% endblock %}

    {% block section3 %}
    {% endblock %}

    {% block section4 %}
    {% endblock %}

    <!-- ranking line -->
    {% block section5 %}
    {% endblock %}

    <!-- historic info -->
    {% block section6 %}
    {% endblock %}

{% endblock %}

{% block custom_body_blocks %}
    {% block section7 %}
        <div class="pma-gradient">
            <div class="container">
                <div class="row" id="other-metrics-links">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h3 class="other-metrics-title"><strong>Otros Indicadores</strong><br/>
                            que puedes consultar</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 container-metrics-links">
                        <a href="{% url 'origen_gastos' %}?{% if municipio %}municipio={{ municipio.slug }}{% endif %}&{% if year %}year={{ year }}{% endif %}">Origen
                            de Gastos </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 container-metrics-links">
                        <a href="{% url 'inversion_categoria' %}?{% if municipio %}municipio={{ municipio.slug }}{% endif %}&{% if year %}year={{ year }}{% endif %}">Destinos
                            de Inversi&oacute;n</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 container-metrics-links">
                        <a href="{% url 'gastos_funcion' %}?{% if municipio %}municipio={{ municipio.slug }}{% endif %}&{% if year %}year={{ year }}{% endif %}">Gastos
                            de Funcionamiento </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 container-metrics-links">
                        <a href="{% url 'ahorro_corriente' %}?{% if municipio %}municipio={{ municipio.slug }}{% endif %}&{% if year %}year={{ year }}{% endif %}">Ahorro
                            Corriente de Inversi&oacute;n</a>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-6 col-md-3 container-metrics-links">
                        <a href="{% url 'gastos_personal' %}?{% if municipio %}municipio={{ municipio.slug }}{% endif %}&{% if year %}year={{ year }}{% endif %}">Gastos
                            de Personal </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 container-metrics-links">
                        <a href="{% url 'ejecucion_presupuesto' %}?{% if municipio %}municipio={{ municipio.slug }}{% endif %}&{% if year %}year={{ year }}{% endif %}">Ejecuci&oacute;n
                            Presupuestaria</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block extra_footer_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/jquery.history.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Tween.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bubbletree.min.js' %}"></script>
    <script type="text/javascript"
            src="http://assets.openspending.org/openspendingjs/master/lib/aggregator.js"></script>
    <script type="text/javascript" src="{% static 'js/cofog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/income.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/expense.js' %}"></script>
    <script type="text/javascript">
        var data = {{ bubble_data|safe }};
    </script>
    <script type="text/javascript" src="{% static 'js/pma-bubbletree.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/pma.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/horizontal-timeline.js' %}"></script>

{% endblock %}
