{% load static humanize core_extras %}

<div class="col-lg-12 col-md-12">
    <h2>Ingresos tributarios, transferencias municipales
        e inversiones p&uacute;blicas</h2>
    <h4>Millones de córdobas corrientes</h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <table class="table table-bordered table-responsive small-font">
        <thead>
        <tr class="bg-primary">
            <th>CONCEPTO</th>
            {% for year in years %}
                <th>{{ year }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ingresos Tributarios PGR</td>
            {% for i in evolucion %}
                <td>{{ i.pgr|million|intcomma|floatformat:1 }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Partida presupuestaria</td>
            {% for i in evolucion %}
                <td>
                    {% if i.partida %}
                        {{ i.partida|floatformat:0 }}%
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Programa Inversión Publica</td>
            {% for i in evolucion %}
                <td>
                    {% if i.pip > 0 %}
                        {{ i.pip|million|intcomma|floatformat:1 }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Recursos del tesoro en el PIP</td>
            {% for i in evolucion %}
                <td>
                    {% if i.recurso_tesoro_pip %}
                        {{ i.recurso_tesoro_pip|million|intcomma|floatformat:1 }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td><strong>Transferencias totales</strong></td>
            {% for row in evolucion %}
                <td>{{ row.total|million|intcomma|floatformat:1 }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Corrientes</td>
            {% for row in evolucion|dictsort:'anio' %}
                <td>{{ row.corriente|million|intcomma|floatformat:1 }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>de Capital</td>
            {% for row in evolucion|dictsort:'anio' %}
                <td>{{ row.capital|million|intcomma|floatformat:1 }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>% para destinar a inversión</td>
            {% for row in evolucion|dictsort:'anio' %}
                <td>
                    {% if row.porcentaje_inversion_ttotal %}
                        {{ row.porcentaje_inversion_ttotal|floatformat:1 }}%
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="18">Transferencias Totales</td>
        </tr>
        <tr>
            <td>como % de los Recursos del Tesoro en el PIP</td>
            {% for row in evolucion|dictsort:'anio' %}
                <td>
                    {% if row.precurso_tesoro_ttotal %}
                        {{ row.precurso_tesoro_ttotal|intcomma|floatformat:1 }}%
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="18">Transferencias de capital</td>
        </tr>
        <tr>
            <td>como % del Programa de Inversiones Públicas</td>
            {% for row in evolucion|dictsort:'anio' %}
                <td>
                    {% if row.pprograma_inversion_publica %}
                        {{ row.pprograma_inversion_publica|floatformat:1 }}%
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>como % de los Recursos del Tesoro en el PIP</td>
            {% for row in evolucion|dictsort:'anio' %}
                <td>
                    {% if row.precurso_tesoro %}
                        {{ row.precurso_tesoro|floatformat:1 }}%
                    {% endif %}
                </td>
            {% endfor %}
        </tr>

        </tbody>
    </table>
</div>
