{% extends "_indicator.html" %}
{% load static thumbnail chartit humanize %}
{% load mathfilters %}
{% load core_extras %}
{% block indicator_subtitle %}
    {{ indicator_name }}
{% endblock %}

{% block indicator_description %}
    {{ indicator_description }}
{% endblock %}

{% block main_table %}
    {% if indicator != 'gf' %}
        <div class="col-md-5">
            <h4>Rubros de {{ indicator_name }} para el per&iacute;odo {{ year }}
                {% if periodo_list|keyvalue:year == 'F' %}
                    cierre
                {% elif periodo_list|keyvalue:year == 'A' %}
                    intermedio
                {% elif periodo_list|keyvalue:year == 'I' %}
                    inicial
                {% endif %}
            </h4>
            <h5>
                {% if periodo_list|keyvalue:year == 'F' %}
                    Ejecuci&oacute;n de {{ indicator_name }}
                {% elif periodo_list|keyvalue:year == 'A' %}
                    Ejecuci&oacute;n intermedia de {{ indicator_name }}
                {% elif periodo_list|keyvalue:year == 'I' %}
                    Presupuesto inicial de gastos de {{ indicator_name }}
                {% endif %}
                {{ year }}
                por su destino {% descargar_excel "gp1" %}</h5>

            <table class="table table-striped table-hover" id="datatable-1">
                <thead>
                <tr class="bg-primary">
                    <th class="text-left">Rubros de {{ indicator_name }}</th>
                    {% if periodo_list|keyvalue:year == 'I' %}
                        <th class="text-right">Inicial</th>
                    {% else %}
                        <th class="text-right">Ejecutado</th>
                    {% endif %}
                    <th class="text-right">%</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rubros %}
                    <tr>
                        <td>{% firstof row.tipogasto__nombre row.subtipogasto__nombre %}</td>
                        {% if periodo_list|keyvalue:year == 'I' %}
                            <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                            <td class="text-right">{{ row.inicial_asignado|div:asignado|mul:100|floatformat:1 }}%</td>
                        {% else %}
                            <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                            <td class="text-right">{{ row.ejecutado|div:ejecutado|mul:100|floatformat:1 }}%</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tr class="">
                    <td>TOTAL</td>
                    {% if periodo_list|keyvalue:year == 'I' %}
                        <td class="text-right">{{ asignado|million|intcomma }}</td>
                    {% else %}
                        <td class="text-right">{{ ejecutado|million|intcomma }}</td>
                    {% endif %}
                    <td></td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block section2 %}
    {% if municipio %}
        <div class="loaded">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        {% if municipio %}
                            <h2><strong>Ranking de {{ indicator_name }} {{ year }} </strong><br/>
                                Municipio de {{ municipio }} grupo "{{ mi_clase.clasificacion }}" </h2>
                        {% endif %}
                        <hr class="pma-line-3"/>
                    </div>
                    {% include 'municipal-triangle.html' %}
                </div>
            </div>
            <div class="events-content container text-center">
                <ol>
                    {% if municipio %}
                        {% for row in otros|dictsortreversed:"asignado_percent" %}
                            <li{% if municipio.slug == row.gasto__municipio__slug %} class="selected"{% endif %}
                                                                                     data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}">
                                <!-- <h4>{{ row.gasto__municipio__nombre }}</h4>
          <span> Asignado: {{ row.asignado_percent|intcomma }}
           </span><br/>
           <span> Ejecutado: {{ row.asignado_percent|intcomma }}</span> -->
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for row in porclasep|dictsortreversed:"asignado_percent" %}
                            <li{% if municipio.slug == row.gasto__municipio__slug %} class="selected"{% endif %}
                                                                                     data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}">
                                <!-- <h4>{{ row.gasto__municipio__nombre }}</h4>
          <span> Asignado: {{ row.asignado_percent|intcomma }}
           </span><br/>
           <span> Ejecutado: {{ row.asignado_percent|intcomma }}</span> -->
                            </li>
                        {% endfor %}
                    {% endif %}
                </ol>
            </div> <!-- .events-content -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center medium">
                        <button id="show-detail-1" class="blanco btn pma-bg-blue more" type="submit">
                            Ver detalles en tabla
                        </button>
                    </div>
                </div>
            </div>
            <div id="detail-1" class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 table-responsive">

                        <table class="table table-bordered table-striped pma-bg-white">
                            <thead class="thead-inverse">
                            <tr>
                                <th colspan="4"><h4>Porcentaje del gasto
                                    total destinado a {{ indicator_name }}, presupuesto
                                    {% if periodo_list|keyvalue:year == 'F' %}
                                        de cierre
                                    {% elif periodo_list|keyvalue:year == 'A' %}
                                        intermedio
                                    {% elif periodo_list|keyvalue:year == 'I' %}
                                        inicial
                                    {% endif %}
                                    {{ year }}
                                </h4>
                                </th>
                            </tr>
                            <tr class="bg-primary">
                                <th>Posición</th>
                                <th>Municipios</th>
                                {% if periodo_list|keyvalue:year == 'I' %}
                                    <th>Inicial</th>
                                {% else %}
                                    <th>Ejecutado</th>
                                {% endif %}
                            </tr>
                            </thead>
                            {% for row in otros %}
                                <tr {% if municipio.slug == row.gasto__municipio__slug %}class="info"{% endif %}>
                                    <td> {{ forloop.counter }} </td>
                                    <td>{{ row.gasto__municipio__nombre }}</td>
                                    {% if periodo_list|keyvalue:year == 'I' %}
                                        <td class="text-right">{{ row.asignado_percent }}%</td>
                                    {% else %}
                                        <td class="text-right">{{ row.ejecutado_percent }}%</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <tr class="success">
                                <td></td>
                                <td>NACIONAL</td>
                                {% if periodo_list|keyvalue:year == 'I' %}
                                    <td class="text-right">{{ total_nacional_asignado }}%</td>
                                {% else %}
                                    <td class="text-right">{{ total_nacional_ejecutado }}%</td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-6 ">
                        <div id="bar_horizontal" class="view-alternative"><h3>Informaci&oacute;n no disponible</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="loaded">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2><strong>Porcentaje destinado a {{ indicator_name }}, presupuesto
                            {% if periodo_list|keyvalue:year == 'F' %}
                                de cierre
                            {% elif periodo_list|keyvalue:year == 'A' %}
                                intermedio
                            {% elif periodo_list|keyvalue:year == 'I' %}
                                inicial
                            {% endif %}
                            {{ year }}</strong><br/>
                            por grupos de municipios </h2>
                        <hr class="pma-line-3"/>
                    </div>
                    <div class="col-lg-5 col-md-5 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="5"><h4>Porcentaje del gasto
                                    total destinado a {{ indicator_name }}, presupuesto
                                    {% if periodo_list|keyvalue:year == 'F' %}
                                        de cierre
                                    {% elif periodo_list|keyvalue:year == 'A' %}
                                        intermedio
                                    {% elif periodo_list|keyvalue:year == 'I' %}
                                        inicial
                                    {% endif %}
                                    {{ year }}
                                </h4>
                                </th>
                            </tr>

                            <tr class="bg-primary">
                                <th class="text-center" rowspan="2">Grupo</th>
                                <th class="text-center no-border-bottom"
                                    {% if request.resolver_match.url_name == 'gastos_funcion' %}colspan="2"{% endif %}>
                                    P. Inicial
                                </th>
                                {% if periodo_list|keyvalue:year != 'I' %}
                                    <th class="text-center no-border-bottom" colspan="2">Ejecutado</th>
                                {% endif %}
                            </tr>

                            {% if request.resolver_match.url_name == 'gastos_funcion' %}
                                <tr class="bg-primary">
                                    <th class="text-center no-border-top no-border-right" colspan="1">M. de C$</th>
                                    <th class="text-center no-border-top no-border-left" colspan="1">%</th>
                                    {% if periodo_list|keyvalue:year != 'I' %}
                                        <th class="text-center no-border-top no-border-right" colspan="1">M. de C$</th>
                                        <th class="text-center no-border-top no-border-left" colspan="1">%</th>
                                    {% endif %}
                                </tr>
                            {% endif %}
                            </thead>
                            <tbody>
                            {% for row in porclasep %}
                                <tr>
                                    <td class="text-center">{{ row.clasificacion }}</td>
                                    {% if request.resolver_match.url_name == 'gastos_funcion' %}
                                        {% if row.asignado %}
                                            <td class="text-right">{{ row.asignado|million|intcomma }}</td>
                                            <td class="text-right">{{ row.asignado_porcentaje|floatformat:2 }}%</td>
                                        {% else %}
                                            <td class="text-right">0</td>
                                            <td class="text-right">0%</td>
                                        {% endif %}

                                        {% if periodo_list|keyvalue:year != 'I' %}
                                            <td class="text-right"> {{ row.ejecutado|million|intcomma|default:0 }}</td>
                                            <td class="text-right"> {{ row.ejecutado_porcentaje|floatformat:2|default:0 }}%</td>
                                        {% endif %}
                                    {% elif request.resolver_match.url_name == 'gastos_personal' %}
                                        <td class="text-right">{{ row.asignado|floatformat:2 }}%</td>
                                        {% if periodo_list|keyvalue:year != 'I' %}
                                            <td class="text-right"> {{ row.ejecutado|floatformat:2 }}%</td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <th class="text-center">NACIONAL</th>
                                {% if request.resolver_match.url_name == 'gastos_funcion' %}
                                    <th class="text-right">
                                        <strong>{{ asignado|million|intcomma }}</strong>
                                    </th>
                                    <th class="text-right">
                                        <strong>{{ asignado_percent }}%</strong>
                                    </th>

                                    {% if periodo_list|keyvalue:year != 'I' %}
                                        <th class="text-right">
                                            <strong>{{ ejecutado|million|intcomma }}</strong>
                                        </th>
                                        <th class="text-right">
                                            <strong>{{ ejecutado_percent }}%</strong>
                                        </th>
                                    {% endif %}
                                {% elif request.resolver_match.url_name == 'gastos_personal' %}
                                    <th class="text-right">
                                        <strong>{{ asignado_percent }}%</strong>
                                    </th>
                                    {% if periodo_list|keyvalue:year != 'I' %}
                                        <th class="text-right">
                                            <strong>{{ ejecutado_percent }}%</strong>
                                        </th>
                                    {% endif %}
                                {% endif %}

                            </tr>
                            </tbody>
                            <tfoot class="font-12px font-color-azul">
                            <th colspan="{% if periodo_list|keyvalue:year == 'I' %}3{% else %}5{% endif %}" rowspan="1"
                                class="text-justify">
                                <strong>Fuente: </strong>Elaboraci&oacute;n
                                propia a partir
                                de transmunic.gob.ni<strong>.</strong></th>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div id="bar_horizontal" class="view-alternative"><h3>Informaci&oacute;n no disponible</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events-content container text-center">
                <ol>
                    {% for row in porclasep %}
                        <li{% if forloop.last %} class="selected"{% endif %}
                                                 data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}">
                        </li>
                    {% endfor %}
                </ol>
            </div> <!-- .events-content -->
        </div>
    {% endif %}

{% endblock %}

{% block section3 %}
    <div class="container wide">
        <div class="row">
            <div class="col-md-12">
                <h2><strong>Información Histórica</strong><br>
                    Ejecución presupuestaria del {{ indicator_name }}</h2>
                <h3>{{ municipio }}</h3>
                <hr class="pma-line-3"/>
            </div>
        </div>
    </div>
    <div class="cd-horizontal-timeline loaded">
        <div class="timeline container historico">
            <div class="events-wrapper">
                <div class="events" style="width:{{ anuales|length|add:1|mul:135 }}px">
                    <ol>
                        {% for row in anuales %}
                            <li>
                                <a href="#" data-date="01/01/{{ row.gasto__anio }} 00:00"
                                        {% if row.gasto__anio == year|add:"0" %} class="selected" {% endif %}
                                   style="left:{{ forloop.counter|mul:"135" }}px;">
                                    <span class="posicion"
                                          {% if row.gasto__periodo != 'F' %}data-toggle="tooltip"
                                          data-placement="top"
                                          title="P.{% if row.gasto__periodo == 'I' %}Inicial{% else %}Intermedio{% endif %}"{% endif %}>
                                            {{ row.gasto__anio }}
                                        {% if row.gasto__periodo == 'I' %}*{% endif %}
                                    </span>
                                    <br/>
                                    {% if row.gasto__periodo == 'I' %}
                                        <span class="line-cifra">{{ row.asignado|million|intcomma }}</span>
                                    {% else %}
                                        <span class="line-cifra">{{ row.ejecutado|million|intcomma }}</span>
                                    {% endif %}
                                </a></li>
                        {% endfor %}
                    </ol>
                    <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0772222);"></span>
                </div> <!-- .events -->
            </div> <!-- .events-wrapper -->

            <ul class="cd-timeline-navigation">
                <li><a href="#0" class="prev inactive">Prev</a></li>
                <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
        </div> <!-- .timeline -->

        <div class="events-content">
            <ol>
                {% for row in anuales %}
                    <li><a href="#0" data-date="01/01/{{ row.gasto__anio }} 00:00"
                            {% if row.gasto__anio == year|add:"0" %} class="selected" {% endif %}
                           style="left:{{ forloop.counter|mul:"135" }}px;"></a></li>
                {% endfor %}
            </ol>
        </div> <!-- .events-content -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="show-detail-3" class="blanco btn pma-bg-blue more" type="submit">
                    Ver detalles en tabla
                </button>
            </div>
        </div>
    </div>
    <div id="detail-3" class="container medium">
        <div class="row">
            <div class="col-md-offset-4 col-md-5 table-responsive">
                <table class="table table-bordered">
                    <tr class="bg-primary">
                        <th>Año</th>
                        <th>Inicial</th>
                        <th>Ejecutado</th>
                        <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial"
                               class="link-info blanco">%</a></th>
                    </tr>
                    {% for row in anuales %}
                        <tr>
                            <td>
                                {{ row.gasto__anio }}
                                {% if periodo_list|keyvalue:row.gasto__anio != 'F' %}
                                    <span data-toggle="tooltip"
                                          data-placement="top"
                                          title="P.{% if periodo_list|keyvalue:row.gasto__anio == 'I' %}Inicial{% else %}
                                            Intermedio{% endif %}">*</span>
                                {% endif %}</td>
                            <td class="text-right">{{ row.asignado|million|intcomma }}</td>
                            <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                            {% if row.asignado %}
                                <td class="text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr class="success bold">
                        <td>TOTAL</td>
                        <td class="text-right">{{ anuales|total_sum:'asignado'|million|intcomma }}</td>
                        <td class="text-right">{{ anuales|total_sum:'ejecutado'|million|intcomma }}</td>
                        {% with total_sum_asignado=anuales|total_sum:'asignado' %}
                            {% if total_sum_asignado %}
                                <td class="text-right">{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block section4 %}
    {% if periodo_list|keyvalue:year != 'I' %}
        <div class="container wide">
            <div class="row">
                <div class="col-md-12">
                    <h2><strong>{{ indicator_name }} </strong>{{ municipio }} {{ year }}</h2>
                    <h4>Presupuesto inicial, intermedio, de cierre y su modificación por rubro</h4>
                    <h5>Millones de córdobas corrientes </h5>
                    <hr class="pma-line-3"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered">
                        <tr class="bg-primary">
                            <td></td>
                            <td></td>
                            <td colspan="4" class="text-center">
                                <h4 class="font-color-white">Modificación intermedia
                                    <a href="#" data-toggle="tooltip"
                                       data-original-title="Modificación al {{ year_data.actualizado }}"
                                       class="link-info">*</a>
                                </h4>
                            </td>
                            <td colspan="4" class="text-center">
                                <h4 class="font-color-white">Modificación al cierre
                                    <a href="#" data-toggle="tooltip"
                                       data-original-title="Modificación al {{ year_data.final }}"
                                       class="link-info">*</a>
                                </h4>
                            </td>
                        </tr>
                        <tr class="bg-primary">
                            <th>Rubros de gastos</th>
                            <th>Inicial</th>
                            <th>Actualizado</th>
                            <th>Modificación</th>
                            <th>Ejecutado</th>
                            <th><a href="#" data-toggle="tooltip" data-original- title="Ejecutado/Actualizado"
                                   class="link-info">%</a></th>
                            <th>Actualizado</th>
                            <th>Modificación</th>
                            <th>Ejecutado</th>
                            <th><a href="#" data-toggle="tooltip" data-original- title="Ejecutado/Actualizado"
                                   class="link-info">%</a></th>
                        </tr>
                        {% for row in rubros %}
                            <tr>
                                {% if indicator == 'gf' %}
                                    <td>{{ row.subsubtipogasto__nombre }}</td>
                                {% else %}
                                    <td>{% if row.tipogasto__nombre %}{{ row.tipogasto__nombre }}{% else %}
                                        {{ row.subtipogasto__nombre }}{% endif %}</td>
                                {% endif %}
                                <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                                <td class="text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                                <td class="text-right">{% if row.actualizado_asignado %}
                                    {{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}
                                    0{% endif %}</td>
                                <td class="text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                                {% if row.actualizado_asignado %}
                                    <td class="montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                                {% else %}
                                    <td class="montos">0</td>
                                {% endif %}
                                <td class="text-right">
                                    {% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}
                                        0 {% endif %}</td>
                                <td class="text-right">{% if row.final_asignado and row.inicial_asignado %}
                                    {{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}
                                    0{% endif %}</td>
                                <td class="text-right">
                                    {% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}
                                        0{% endif %}</td>
                                {% if row.final_asignado %}
                                    <td class="montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tr class="bold">
                            <td>TOTAL</td>
                            <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                            <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                            {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                                <td class="montos text-right">
                                    {% if rubros|total_sum:'actualizado_asignado' %}
                                        {{ rubros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                            <td class="text-right">{{ rubros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                            {% with sum_actualizado=rubros|total_sum:'actualizado_asignado' %}
                                <td class="montos text-right">
                                    {% if sum_actualizado %}
                                        {{ rubros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma }}
                                        %
                                    {% endif %}
                                </td>
                            {% endwith %}
                            <!-- totales periodo final -->
                            <td class="text-right">{{ rubros|total_sum:'final_asignado'|million|intcomma }}</td>
                            {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                                <td class="montosi text-right">
                                    {% if rubros|total_sum:'final_asignado' %}
                                        {{ rubros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            {% endwith %}
                            <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                            {% with sum_actualizado=rubros|total_sum:'final_asignado' %}
                                <td class="montos text-right">
                                    {% if sum_actualizado %}
                                        {{ rubros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma }}
                                        %
                                    {% endif %}
                                </td>
                            {% endwith %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_footer_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Tween.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bubbletree.min.js' %}"></script>
    <script type="text/javascript"
            src="http://assets.openspending.org/openspendingjs/master/lib/aggregator.js"></script>
    <script type="text/javascript" src="{% static 'js/cofog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/expense.js' %}"></script>
    {% if indicator != 'gf' %}
        <script type="text/javascript">
            var data = {{ bubble_data|safe }};
        </script>
        <script type="text/javascript" src="{% static 'js/pma-bubbletree.js' %}"></script>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
    <script src="{% static 'js/pma.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/horizontal-timeline.js' %}"></script>
{% endblock %}

{% block custom_scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    {% if indicator == 'gf' %}
        {{ charts|load_charts:"bar_horizontal" }}
    {% else %}
        {{ charts|load_charts:"pie,bar,bar_horizontal" }}
    {% endif %}
{% endblock %}
