{% extends "base.html" %}
{% load static thumbnail chartit %}
{% block main_content %}
    <div id="span12 search">
    <form method="GET">
    <select name="year">
    {% for year in year_list %}
        <option value="{{year|date:'Y'}}">{{year|date:"Y"}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">--</option>
    {% for municipio in municipio_list %}
        <option value="{{municipio.slug}}">{{municipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Submit"/>
    </form>
    </div>
    <div class="clearfix"></div>
    {{ charts|load_charts:"gfbar,barra,pie" }}
    <div id='gfbar'></div>
    <div id='barra'></div>
    <div id='pie'></div>
{% endblock %}
<script>
$('#gfTab a').click(function (e) {
  e.preventDefault()
    $(this).tab('show')
    })
</script>
