{% extends "base.html" %}
{% load static thumbnail chartit humanize%}
{% load mathfilters %}
{% load core_extras %} 
{% block main_content %}
    <div class="col-md-12 text-centered">
        <div class="pull-left">
            <h2 class="title">Gastos de funcionamiento {{ municipio }} {{ year }} </h2>
        </div>
        <div class="pull-left">
            <button type="button" class="btn btn-danger btn-xs" data-toggle="popover" data-trigger="hover" title="&iquest;Qué significa?" data-content="Indica el porcentaje que los municipios  a nivel nacional destinaron para cubrir los gastos de administración y prestación de los">?</button>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myVideo">
                video <i class="fa fa-video-camera icon-large"></i>
            </button>
        </div>
        <!-- video modal -->
        <div class="modal fade" id="myVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">&iquest; Qué son los gastos de funcionamiento?</h4>
                  </div>
                  <div class="modal-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9Kv6H2NLQCU" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="span12 search">
    <form method="GET">
    <select name="year">
    {% for ayear in year_list %}
        <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">--</option>
    {% for amunicipio in municipio_list %}
        <option {% if amunicipio.slug == municipio.slug %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Buscar" class="btn btn-primary"/>
    </form>
    </div>
    <ul id="gfTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        <li role="presentation"><a href="#gfmodificacion" aria-controls="gfmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#gforigen" aria-controls="gforigen" role="tab" data-toggle="tab">Información histórica</a></li>
    </ul>
    <div class="clearfix"></div>
    {% if municipio %}
    {{ municipio }}
        {{ charts|load_charts:"gfbar, barra, pie, comparativo2, comparativo3, comparativo_anios, " }}
    {% else %}
        {{ charts|load_charts:"gfbar, barra, pie, none, comparativo3, comparativo_anios, nivelejecucion" }}
    {% endif %}
    <div id="gfTabContent" class="tab-content col-md-12">

    <!--TAB1-->
    <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">

    <!--Gastos de funcionamiento resumen -->
    <div class="row separador">
        <div class="col-md-12">
            <div class="col-md-4">
                <img src="{% static 'img/gfasignado.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el Porcentaje que Los Municipios  a nivel nacional destinaron para cubrir los gastos de administración y prestación de los">Presupuestado</h3>
                <span class="cifra grande text-primary">{{ asignado|intcomma }}</span>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/gf.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ ejecutado|intcomma }}</span>
            </div>
            {% if municipio %}
            <div class="col-md-4">
                <img src="{% static 'img/categoria2.png' %}" class="img-responsive margen pull-left" alt="Categoria de municipio" />
                <h3>Categor&iacute;a de municipio </h3><span class="cifra text-success grande">{{ mi_clase.clasificacion }}</span>
            </div>
            {% endif %}
        </div>
    </div>
    <!--Fin de resumen-->
    <div class="row separador">
    {% if not municipio %}
        <div class="col-md-5">
    <!-- javier 11/junio gftabla1 nacional -->
        <h3>Porcentaje destinado a gastos de funcionamiento</h3>
        <h4 class="text-info">por categoría de Municipios</h4>

        <table class="table table-condensed">
            <tr class="info"><th>Categoría</th> <th>Asignado</th> <th>Ejecutado</th></tr>
            {% for row in porclasep %}
                <tr>
                    <td>{{ row.clasificacion }}</td>
                    <td class="tex-center">{% if row.asignado %}{{ row.asignado|floatformat:2 }}%{% else %} 0% {% endif %}</td>
                    <td>{% if row.ejecutado %}{{ row.ejecutado|floatformat:2 }}% {% else %} 0% {% endif %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>PROMEDIO</td>
                <td>{{ porclasep|total_avg:'asignado'|floatformat:1 }}%</td>
                <td>{{ porclasep|total_avg:'ejecutado'|floatformat:1 }}%</td>
            </tr>
        </table>
    <!-- /fin gftabla1 nacional-->
        </div>
    {% endif%}

    {% if municipio %}
    <div class="col-md-5">
    <!-- javier 7/junio gftabla1 -->
    <h3>Ranquin de municipio de misma categoría municipal</h3>
    <h4 class="text-info">Porcentaje del gasto total destinado a gastos de funcionamiento</h4>
    <table class="table table-condensed">
    <tr class="info"><th>Municipios</th> <th>P. Inicial</th> <th>Ejecución</th></tr>
    {% for row in otros %}
        {% if municipio == row.gasto__municipio__slug%}
            <tr class="danger">
        {% else %}
            <tr>
        {% endif %}
        <td>{{ row.gasto__municipio__nombre }}</td>
        <td>{{ row.asignado_percent }}%</td>
        <td>{{ row.ejecutado_percent }}%</td>
    </tr>
    {% endfor %}
    <tr>
        <td>PROMEDIO</td>
        <td>{{ otros|total_avg:'asignado_percent'|floatformat:1 }}%</td>
        <td>{{ otros|total_avg:'ejecutado_percent'|floatformat:1 }}%</td>
    </tr>
    </table>
    <!-- /fin gftabla1 -->
    </div>
    {% endif %}

    <div class="col-md-7">
    <!-- javier 7/junio gftabla2 -->
    <h3>Resultado presupuestario gastos de funcionamiento</h3>
    <h4 class="text-info">Millones de córdobas corrientes</h4>
    <table class="table table-condensed">
        <tr class="info"> <th>Tipo</th> <th>Inicial</th> <th>Ejecutado</th> <th>% (ejecutado/inicial)</th></tr>
    {% for row in rubros %}
    <tr>
        <td>{{ row.tipogasto__nombre }}</td>
        <td>{{ row.asignado|intcomma }}</td>
        <td>{{ row.ejecutado|intcomma }}</td>
        {% if row.asignado %}
            <td>{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td>TOTAL</td>
        <td>{{ asignado|intcomma }}</td>
        <td>{{ ejecutado|intcomma }}</td>
        <td>{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%</td></tr>
    </table>
    <!-- /fin gftabla2 -->
    <div id='pie'></div>
    {% if municipio %}
    <div id='comparativo2'></div>
    {% endif %}
    </div>
    </div>

    </div> <!--END TAB1 -->
    <!--TAB2 -->
    <div role="tabpanel" class="tab-pane fade" id="gfmodificacion" aria-labelledby="gfmodificacion-tab">

    <!-- javier 7/junio gftabla3 -->
    <h3>Modificaciones al presupuesto municipal</h3>
    <h4 class="text-info">Gastos de funcionamiento</h4>
    <table class="table table-condensed">
        <tr class="info"> <th>Tipo</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th>% Ejecutado/Actualizado</th></tr>
    {% for row in rubros %}
    <tr>
        <td class="pull-left">{{ row.tipogasto__nombre }}</td>
        <td>{{ row.asignado|intcomma }}</td>
        <td>{{ row.actualizado|intcomma }}</td>
        <td>{% if row.actualizado %}{{ row.actualizado|sub:row.asignado }}{% else %}0{% endif %}</td>
        <td>{{ row.ejecutado|intcomma }}</td>
        {% if row.actualizado %}
        <td>{{ row.ejecutado|div:row.actualizado|mul:100|floatformat:1|intcomma }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td>TOTAL</td>
        <td>{{ rubros|total_sum:'asignado'|intcomma }}</td>
        <td>{{ rubros|total_sum:'actualizado'|intcomma }}</td>
        {% with sum_asignado=rubros|total_sum:'asignado' %}
        <td>
        {% if rubros|total_sum:'actualizado' %}
            {{ rubros|total_sum:'actualizado'|sub:sum_asignado|intcomma }}
        {% else %}
            0
        {% endif %}
        </td>
        {% endwith %}
        <td>{{ rubros|total_sum:'ejecutado'|intcomma }}</td>
        {% with sum_actualizado=rubros|total_sum:'actualizado' %}
        <td>
        {% if sum_actualizado %}
        {{ rubros|total_sum:'ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}
        {% endif %}
        </td>
        {% endwith %}
    </tr>
    </table>
    <br />
    <!-- /fin gftabla3 -->
    
    {% if not municipio %}
    <!-- javier 7/junio gftabla4 nacional -->
    <h3>Modificacion al presupuesto municipios categoria</h3>
    <h4 class="text-info">Millones de córdobas destinado a gastos de funcionamiento por categoría de Municipios</h4>
    <table  class="table table-condensed">
        <tr class="info"><th>Municipio</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th>% Ejecutado/Actualizado</th></tr>
    {% for row in porclase %}
    <tr>
        <td>{{ row.clasificacion }}</td>
        <td>{% if row.asignado %} {{ row.asignado|intcomma }}{% else %}0 {% endif %}</td>
        <td>{% if row.actualizado %} {{ row.actualizado|intcomma }}{% else %}0 {% endif %}</td>
        <td>{% if row.actualizado %} {{ row.actualizado|sub:row.asignado }}{% else %}0 {% endif %}</td>
        <td>{% if row.ejecutado %} {{ row.ejecutado|intcomma }}{% else %}0 {% endif %}</td>
        {% if row.actualizado %}
        <td>{{ row.ejecutado|div:row.actualizado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td>TOTAL</td>
        <td>{{ porclase|total_sum:'asignado'|intcomma }}</td>
        <td>{{ porclase|total_sum:'actualizado'|intcomma }}</td>
        {% with sum_asignado=porclase|total_sum:'asignado' %}
        <td>
        {% if porclase|total_sum:'actualizado' %}
            {{ porclase|total_sum:'actualizado'|sub:sum_asignado|intcomma }}
        {% else %}
            0
        {% endif %}
        </td>
        {% endwith %}
        <td>{{ porclase|total_sum:'ejecutado'|intcomma }}</td>
        {% with sum_actualizado=porclase|total_sum:'actualizado' %}
        <td>
        {% if sum_actualizado %}
        {{ porclase|total_sum:'ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}
        {% endif %}
        </td>
        {% endwith %}
    </tr>
    </table>
    <!-- /fin gftabla4 nacional -->

    {% else %}
    
    <!-- javier 7/junio gftabla4 -->
    <h3>Modificacion al presupuesto municipios categoria '{{ mi_clase.clasificacion }}'</h3>
    <h4 class="text-info">Millones de córdobas destinado a gastos de funcionamiento por categoría de Municipios</h4>
    <table  class="table table-condensed">
        <tr class="info"><th>Municipio</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th>% Ejecutado/Inicial</th></tr>
    {% for row in otros %}
    <tr>
        <td>{{ row.gasto__municipio__nombre }}</td>
        <td>{{ row.asignado }}</td>
        <td>{{ row.actualizado }}</td>
        <td>{% if row.actualizado %} {{ row.actualizado|sub:row.actualizado }}{% else %}0 {% endif %}</td>
        <td>{{ row.ejecutado }}</td>
        {% if row.actualizado %}
        <td>{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td>TOTAL</td>
        <td>{{ otros|total_sum:'asignado'|intcomma }}</td>
        <td>{{ otros|total_sum:'actualizado'|intcomma }}</td>
        {% with sum_asignado=otros|total_sum:'asignado' %}
        <td>
        {% if otros|total_sum:'actualizado' %}
            {{ otros|total_sum:'actualizado'|sub:sum_asignado|intcomma }}
        {% else %}
            0
        {% endif %}
        </td>
        {% endwith %}
        <td>{{ otros|total_sum:'ejecutado'|intcomma }}</td>
        {% with sum_actualizado=otros|total_sum:'actualizado' %}
        <td>
        {% if sum_actualizado %}
        {{ otros|total_sum:'ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}
        {% endif %}
        </td>
        {% endwith %}
    </tr>
    </table>
    {% endif %}
    <!-- /fin gftabla4 -->
        <div id='comparativo3' class="col-md-10"></div>
        <div id='barra' class="visible-xs"></div>
    </div> <!--END TAB2-->

    <!--TAB3-->
    <div role="tabpanel" class="tab-pane fade" id="gforigen" aria-labelledby="gforigen-tab">
    <!-- javier 7/junio gftabla5 -->
    <div class="col-md-7">
        <h3>Ejecucion presupuetaria del gasto de funcionamiento</h3>
        <h4 class="text-info">Millones de córdobas corrientes</h4>
    <table class="table table-condensed">
        <tr class="info"><th>Municipio</th> <th>Inicial</th> <th>Ejecutado</th> <th>% Ejecutado/Inicial</th></tr>
    {% for row in anuales %}
    <tr>
        <td>{{ row.gasto__anio }}</td>
        <td>{{ row.asignado|intcomma }}</td>
        <td>{{ row.ejecutado|intcomma }}</td>
        {% if row.asignado %}
        <td>{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr>
        <td>TOTAL</td>
        <td>{{ anuales|total_sum:'asignado'|intcomma }}</td>
        <td>{{ anuales|total_sum:'ejecutado'|intcomma }}</td>
        {% with total_sum_asignado=anuales|total_sum:'asignado' %}</td>
        <td>{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
        {% endwith %}
    </tr>
    </table>
    <!-- /fin gftabla5 -->
    </div>
        <div id='comparativo_anios' class="col-md-10"></div>
        <div id='gfbar' class="visible-xs"></div>
        <div id='none' style="display:none"></div>
        <div id='nivelejecucion' class="col-md-10"></div>
     </div>
    </div>
<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
$('#gfTab a').click(function (e) {
  e.preventDefault()
    $(this).tab('show')
})
</script>
{% endblock %}
