{% extends "base.html" %}
{% load static thumbnail chartit %}
{% block main_content %}
    <div id="span12 search">
        <form method="GET">
        <select name="year">
        {% for year in year_list %}
            <option {% if year == request.GET.year|add:"0" %}selected{% endif %} value="{{year}}">{{year}}</option>
        {% endfor %}
        </select>
        <select name="municipio">
        <option value="">--</option>
        {% for municipio in municipio_list %}
        <option {% if municipio.slug == request.GET.municipio %}selected{% endif %} value="{{municipio.slug}}">{{municipio}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Submit"/>
        </form>
    </div>
    <div class="clearfix"></div>
    {% if municipio %}
        {{ charts|load_charts:"tipo, gfbar, barra, pie, comparativo2, comparativo3, comparativo_anios, " }}
    {% else %}
        {{ charts|load_charts:"tipo, gfbar, barra, pie" }}
    {% endif %}
    <div id='chart'></div>
    <div id='chart_ejecutado'></div>
    <div id='pie'></div>


    <div id='tipo'></div>
    <div id='comparativo2'></div>
    <div id='comparativo3'></div>
    <div id='comparativo_anios'></div>
{% endblock %}
