{% extends "base.html" %}
{% load static thumbnail chartit %}
{% block main_content %}
    <div id="span12 search">
        <form method="GET">
        <select name="year">
        {% for ayear in year_list %}
            <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
        {% endfor %}
        </select>
        <select name="municipio">
        <option value="">--</option>
        {% for amunicipio in municipio_list %}
            <option {% if amunicipio.slug == municipio %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Submit"/>
        </form>
    </div>
    <div class="clearfix"></div>
    {% if municipio %}
        {{ charts|load_charts:"tipo, gfbar, barra, pie, comparativo2, comparativo3, comparativo_anios, " }}
    {% else %}
        {{ charts|load_charts:"tipo, gfbar, barra, pie" }}
    {% endif %}
    <div id='chart'>chart</div>
    <div id='chart_ejecutado'>chart</div>
    <div id='pie'>chart</div>

    <!-- FIXME: copiados de gf -->
    <div id='gfbar'>gfbar</div>
    <div id='barra'>barra</div>

    <div id='tipo'>chart</div>
    <div id='comparativo2'>chart</div>
    <div id='comparativo3'>chart</div>
    <div id='comparativo_anios'>chart</div>
{% endblock %}
