{% extends "_base.html" %}
{% block header %}
<div class="jumbotron pma-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="text-center"> <strong>Participemos</strong> en la consulta del <br> Presupuesto Municipal</h2>
                <h4 class="text-center"> Informémonos dónde y cuándo será</h4>
            </div>
            <div class="col-md-5">
                <div id="nic-map-container"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container pma-illustration">
    <div class="illustration-index col-md-7">
        <img src="static/images/illustration-index.png" alt="..." class="img-responsive center-block">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3> <strong>Sobre</strong> este sitio.</h3>
                    <hr class="pma-line-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit</p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#">Leer más...</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="static/images/illustration-all-icons.png" alt="Sobre este sitio">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pma-spacing-top pma-spacing-bottom">
        <div class="col-md-6">
        <div class="gray-box">
            <h2>Origen<br/>de los Ingresos</h2>
            <hr class="pma-line-2">
            <ul>
                <li>Lorem ipsum dolor sit amet torquent.</li>
                <li>Lorem sapien metus adipiscing purus sed.</li>
                <li>Facilisi aliquam justo consequat senectus nunc gravida eleifend tellus lacus sit viverra.</li>
                <li>Morbi sagittis sed metus illum nisl purus vivamus mauris tempor scelerisque feugiat fusce tempor porttitor et scelerisque feugiat justo justo facilisi porttitor dolor amet vestibulum curae ante elementum et id.</li>
                <li>Porta volutpat amet sed sem non.</li>
                <li>Torquent quis dapibus scelerisque nullam vel pellentesque adipiscing augue sequi elit donec turpis wisi faucibus porta ullamcorper integer nulla congue vehicula lobortis ipsum eu diam pellentesque at orci blandit praesent ipsum quisque nec amet lobortis
                    duis.</li>
                <li>Nulla nulla leo laoreet pulvinar ut.</li>
                <li>Nullam lorem mollis turpis vivamus sit ligula vestibulum adipiscing duis rhoncus a vestibulum risus phasellus purus in vestibulum.</li>
                <li>Rutrum etiam velit amet wisi ipsum.</li>
                <li>Neque ante etiam semper purus dapibus.</li>
                <li>Ipsum mus nulla odio est auctor habitasse ipsum wisi nullam imperdiet elit ultrices curae condimentum orci et commodo.</li>
                <li>Ligula egestas elementum magna viverra lacus curabitur sed tincidunt enim sodales risus eleifend etiam eget primis unde in.</li>
                <li>Sit suscipit scelerisque risus et nisl.</li>
                <li>Maecenas a tempus ad mi mi.</li>
            </ul>
        </div>
        </div>
        <div class="col-md-6">
        <div class="gray-box">
            <h2>Destino<br/>de los Gastos</h3>
            <hr class="pma-line-2">
        </div>
        </div>
    </div>
</div>
<div class="pma-gradient pma-summary">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2> <strong>Consolidado</strong> <br/>de la Inversión Municipal 2017.</h2>
                        <hr class="pma-line-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3> <strong>Rubros de la Inversión</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h2> <strong>Distribución</strong><br> por Categorías de Ley.</h2>
                        <hr class="pma-line-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/espacio%20grafico.jpg" alt="..." class="img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
