{% extends "_base.html" %}
{% load core_extras static thumbnail %}
{% block header %}
<div class="pma-hero">
    <div class="container ">
        <div class="row">
            <div class="col-md-7">
                <!-- iniciando carrousel -->
                <div id="slider-portada" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for i in banners %}
                        <li data-target="#slider-portada" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} class="active"{% endif%}"></li>
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for i in banners %}
                        <div class="item{% if forloop.first %} active{% endif%}">
                            <div class="carousel-caption">
                                <h2 class="text-center">{{ i.titulo }}</h2>
                                <h4 class="text-center">{{ i.descripcion }}</h4>
                            </div>
                            <img src="/media/{{ i.imagen }}" alt="{{ banner }}" class="pma-illustration img-responsive">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#slider-portada" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#slider-portada" role="button" data-slide="next">
                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                       <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- fin carrousel -->
                <!-- 
                <h2 class="text-center"> <strong>Participemos</strong> en la consulta del <br> Presupuesto Municipal</h2>
                <h4 class="text-center"> Informémonos dónde y cuándo será</h4>
                <div>
                    <img src="static/images/illustration-index.png" alt="..." class="pma-illustration">
                </div-->
            </div>
            <div class="col-md-5">
                <div id="nic-map-container"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main_content %}
<div class="container">
    <div class="row acerca">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {% load i18n flatpages %}
                    {% get_flatpages '/intro/' as pages %}
                    {% for page in pages %}
                    <h3>{{ page.title }}</h3>
                    <hr class="pma-line-3">
                    <p>{{ page.content|safe|truncatewords:80 }}</p>
                    <p><a href="/transferencias-presupuestarias/"> Leer m&aacute;s</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="static/images/illustration-all-icons.png" alt="Sobre este sitio">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pma-index-icons">
    <div class="row row-eq-height pma-spacing-top pma-spacing-bottom">
        <div class="col-md-6 col-eq-height">
            <div class="gray-box">
                <div class="pma-summary-box">
                    <span class="font_small">Asignado:</span><span class="font_small">{{ data_oim.asignado|million }} millones</span><br />
                    <span class="font_small">Ejecutado:</span><span class="font_small">{{ data_oim.ajecutado|million }} millones</span>
                </div>
                <h2><strong>Origen</strong><br/>de los Ingresos</h2>
                <hr class="pma-line-2">
                {% for origen in totales_oim %}
                {% if forloop.counter|divisibleby:2 %}
                {% else %}
                <div class="row info-index">
                {% endif %}
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="info-box">
                            <span class="info-box-icon pma-fg-green pma-icon {{origen.subsubtipoingreso__origen__slug}}">
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{origen.subsubtipoingreso__origen__nombre}}</span>
                                <span class="info-box-number pma-blue">Inicial: {{ origen.asignado_percent }}%</span>
                                <span class="info-box-number pma-green">Final: {{ origen.ejecutado_percent }}%</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 col-eq-height">
            <div class="gray-box">
                <div class="pma-summary-box">
                    <span class="font_small">Asignado:</span><span class="font_small">{{ data_ogm.asignado|million }} millones</span><br />
                    <span class="font_small">Ejecutado:</span><span class="font_small">{{ data_ogm.ajecutado|million }} millones</span>
                </div>
                <h2><strong>Destino</strong><br/>de los Gastos</h2>
                <hr class="pma-line-2">
                {% for gasto in totales_ogm %}
                {% if forloop.counter|divisibleby:2 %}
                {% else %}
                <div class="row">
                {% endif %}
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="info-box">
                            <span class="info-box-icon pma-fg-green pma-icon {{ gasto.subsubtipogasto__origen__slug}}">
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ gasto.subsubtipogasto__origen__nombre }}</span>
                                <span class="info-box-number pma-blue">Inicial: {{ gasto.asignado_percent }}%</span>
                                <span class="info-box-number pma-orange">Final: {{ gasto.ejecutado_percent }}%</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                {% if forloop.counter|divisibleby:2 %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="pma-gradient pma-summary pma-index-inversion-icons">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2> <strong>Consolidado</strong> <br/>de la Inversión Municipal 2017.</h2>
                        <hr class="pma-line-1">
                    </div>
                </div>
                <div class="row categorias_inversion">
                    <div class="col-md-12">
                        <p>Da clic en cada categoría de inversión para ver sus proyectos relacionados </p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="row col-xs-11 col-sm-11 col-md-11">
                    {% for i in categorias %}
                        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
                            <a href="/core/plan-de-inversion?inversion__anio={{ year }}&inversion__periodo={{ periodo}}&catinversion={{ i.id }}"><span class="info-box-icon pma-fg-light-green pma-icon {{ i.slug }}">
                            </span></a>
                            <h5 class="text-center"><a href="/core/plan-de-inversion?inversion__anio={{ yea }}&inversion__periodo={{ periodo}}&catinversion={{ i.catinversion__id }}" class="blanco"><strong>{{ i.nombre }}</strong></a></h5>
                        </div>
                    {% if foorloop.last or forloop.counter|divisibleby:6 %}
                    </div>
                    <div class="row list-icons-inversion">
                    {% endif %}
                    {% endfor %}
			<div class="col-xs-1 col-sm-1 col-md-1">
	                    <div class="text-center ver-mas">
				<a class="blanco" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><strong>VER MAS</strong></a>
			    </div>
			</div>
                    </div>
		    <div class="otras-categorias col-md-11">
			    <div class="collapse" id="collapseExample">
			    	<div class="well">
	        		       	<div class="row">
    					{% for i in otras_categorias %}
						<div class="col-xs-2 col-sm-2 col-md-2 text-center">
							<a href="/core/plan-de-inversion?inversion__anio={{ year }}&inversion__periodo={{ periodo}}&catinversion={{ i.id }}"><span class="info-box-icon pma-fg-light-green pma-icon {{ i.slug }}"> </span></a>
				                      	<h5 class="text-center"><a href="/core/plan-de-inversion?inversion__anio={{ year }}&inversion__periodo={{ periodo}}&catinversion={{ i.id }}" class="blanco"><strong>{{ i.nombre }}</strong></a></h5>
						</div>
		                                {% if foorloop.last or forloop.counter|divisibleby:6 %}
						</div>
						<div class="row list-icons-inversion">
						{% endif %}
					{% endfor %}
					</div>
				</div>
			    </div>
			</div>
                </div>
            </div>
            <!--div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h2> <strong>Distribución</strong><br> por Categorías de Ley.</h2>
                        <hr class="pma-line-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/espacio%20grafico.jpg" alt="..." class="img-rounded">
                    </div>
                </div>
            </div-->
        </div>
    </div>
</div>


{% endblock %}
