{% extends "_base.html" %}
{% load core_extras static thumbnail %}
{% load humanize %}
{% load mathfilters %}
{% block header %}
    <div class="pma-hero">
        <div class="container ">
            <div class="row">
                <div class="col-md-7">
                    <!-- iniciando carrousel -->
                    <div id="slider-portada" class="carousel slide carousel-fade" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-sm hidden-xs">
                            {% for i in banners %}
                                <li data-target="#slider-portada" data-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.first %} active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% for i in banners %}
                                <div class="item{% if forloop.first %} active{% endif %}">
                                    <div class="carousel-caption">
                                        <h2 class="text-center">{{ i.titulo }}</h2>
                                        <h4 class="text-center">{{ i.descripcion }}</h4>
                                    </div>
                                    <img src="/media/{{ i.imagen }}" alt="{{ banner }}"
                                         class="pma-illustration img-responsive hidden-sm hidden-xs">
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Controls -->
                        <div class="hidden-sm hidden-xs">
                            <a class="left carousel-control" href="#slider-portada" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#slider-portada" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <!-- fin carrousel -->
                    <!--
                    <h2 class="text-center"> <strong>Participemos</strong> en la consulta del <br> Presupuesto Municipal</h2>
                    <h4 class="text-center"> Informémonos dónde y cuándo será</h4>
                    <div>
                        <img src="static/images/illustration-index.png" alt="..." class="pma-illustration">
                    </div-->
                </div>
                <div class="col-md-5 mapa-container">
                    <div id="nic-map-container"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="container">
        <div class="row acerca">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        {% load i18n flatpages %}
                        {% get_flatpages '/intro/' as pages %}
                        {% for page in pages %}
                            <h3>{{ page.title }}</h3>
                            <hr class="pma-line-3">
                            <img class="visible-xs img-responsive" src="static/images/illustration-all-icons.png"
                                 alt="Sobre este sitio">
                            <p>{{ page.content|safe|truncatewords:80 }}
                            <a href="/transferencias-presupuestarias/"> Leer m&aacute;s</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-xs-6 col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive" src="static/images/illustration-all-icons.png"
                             alt="Sobre este sitio">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pma-index-icons mt-3">
        <h3>
            Consolidado de Presupuesto
            {% if periodo == 'F' %}
                de Cierre
            {% elif periodo == 'A' %}
                EJecuci&oacute;n Intermedia
            {% else %}
                Inicial
            {% endif %}
            {{ year }}
        </h3>
        <h5>Millones de c&oacutelrdobas por rubro y peso porcentual del presupuesto total</h5>
        <hr class="pma-line-3">
        <div class="row row-eq-height pma-spacing-bottom">
            <div class="col-md-6 col-eq-height">
                <div class="gray-box">
                    <div class="pma-summary-box hidden-xs">
                        <span class="font_small">Asignado:</span>
                        <span class="info-box-number font-13px"> {{ data_oim.asignado|million|intcomma }} millones</span>
                        <br/>
                        <span class="font_small">Ejecutado:</span>
                        {% if periodo == 'I' %}
                            <span class="info-box-number font-13px">0</span>
                        {% else %}
                            <span class="info-box-number font-13px"> {{ data_oim.ejecutado|million|intcomma }} millones</span>
                        {% endif %}
                    </div>
                    <h2>
                        <strong>Origen</strong>
                        <br/>
                        de los Ingresos
                    </h2>
                    <hr class="pma-line-2">
                    <div class="row">
                        {% for origen in totales_oim %}
                            <div class="col-xs-12 col-sm-6 col-md-6 height-rubro-home">
                                <div class="info-box">
                                <span class="info-box-icon pma-fg-green pma-icon {{ origen.sub3tipoingreso__origen__nombre }} {{ origen.subsubtipoingreso__origen__slug }}">
                                </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">
						{{ origen.subsubtipoingreso__origen__nombre }}
						{{ origen.sub3tipoingreso__origen__nombre }}
					</span>
                                        <table class="table text-center info-box-number mb-1px tb-details">
                                            <thead>
                                            <tr>
                                                <th class="pma-blue">Inicial</th>
                                                <th>Ejecutado</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pma-blue">
                                                    {{ origen.asignado|million|intcomma|default:0 }}
                                                </td>
                                                <td class="info-box-number">
                                                    {% if periodo == 'I' %}
                                                        0
                                                    {% else %}
                                                        {{ origen.ejecutado|million|intcomma|default:0 }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pma-blue">
                                                    {{ origen.asignado_percent }}%
                                                </td>
                                                <td>
                                                    {% if periodo == 'I' %}
                                                        0%
                                                    {% else %}
                                                        {{ origen.ejecutado_percent }}%
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-eq-height">
                <div class="gray-box">
                    <div class="hidden-xs pma-summary-box">
                        <span class="font_small">Asignado:</span>
                        <span class="info-box-number font-13px"> {{ data_ogm.asignado|million|intcomma }} millones</span>
                        <br/>
                        <span class="font_small">Ejecutado:</span>
                        <span class="info-box-number font-13px">{% if periodo == 'I' %}0 {% else %}
                            {{ data_ogm.ejecutado|million|intcomma }} millones{% endif %}</span>
                    </div>
                    <h2>
                        <strong>Destino</strong>
                        <br/>
                        de los Gastos
                    </h2>
                    <hr class="pma-line-2">
                    <div class="row">
                        {% for gasto in totales_ogm %}
                            <div class="col-xs-12 col-sm-6 col-md-6 height-rubro-home">
                                <div class="info-box">
                                <span class="info-box-icon pma-fg-green pma-icon {{ gasto.subsubtipogasto__origen__slug }}">
                                </span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{ gasto.subsubtipogasto__origen__nombre }}</span>
                                        <table class="table text-center info-box-number mb-1px tb-details">
                                            <thead>
                                            <tr>
                                                <th class="pma-blue">Inicial</th>
                                                <th>Ejecutado</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pma-blue">
                                                    {{ gasto.asignado|million|intcomma|default:0 }}
                                                </td>
                                                <td class="info-box-number">
                                                    {% if periodo == 'I' %}
                                                        0
                                                    {% else %}
                                                        {{ gasto.ejecutado|million|intcomma|default:0 }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pma-blue">
                                                    {{ gasto.asignado_percent }}%
                                                </td>
                                                <td>
                                                    {% if periodo == 'I' %}
                                                        0%
                                                    {% else %}
                                                        {{ gasto.ejecutado_percent }}%
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pma-gradient pma-summary pma-index-inversion-icons">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-sm-11 col-sm-11">
                    <h2>
                        <strong>Areas</strong>
                        de la Inversi&oacute;n
                    </h2>
                    <h4>
                        Consolidado de Presupuesto
                        {% if periodo == 'F' %}
                            Cierre
                        {% elif periodo == 'A' %}
                            Ejecuci&oacute;n Intermedia
                        {% else %}
                            Inicial
                        {% endif %}
                        {{ year }}
                    </h4>
                    <h5>Millones de cólrdobas por &aacute;rea y peso porcentual del presupuesto total</h5>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 mt-3">
                    <a class="blanco" role="button" data-toggle="collapse" href="#collapseExample"
                       aria-expanded="false" aria-controls="collapseExample">
                        <div class="text-center ver-mas">
                            <strong>VER M&Aacute;S</strong>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row categorias_inversion">
                        <div class="col-xs-12 col-sm-11 col-md-11">
                            {% for i in inversion_categoria|slice:'0:4' %}
                                <div class="icons-inversion col-xs-6 col-sm-3 col-md-3 text-center">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <a href="/core/plan-de-inversion?inversion__anio={{ year }}&inversion__periodo={{ periodo }}&catinversion={{ i.catinversion__id }}"
                                               class="outline-none">
                                                <span class="info-box-icon pma-fg-light-green pma-icon {{ i.catinversion__slug }}"></span>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <h5 class="text-center">
                                                <a href="/core/plan-de-inversion?inversion__anio={{ year }}&inversion__periodo={{ periodo }}&catinversion={{ i.catinversion__id }}"
                                                   class="blanco outline-none">
                                                    <span class="info-box-text">{{ i.catinversion__nombre }}</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <table class="table text-center info-box-number mb-1px tb-details"
                                                   style="color: white;margin: auto">
                                                <thead>
                                                <tr>
                                                    <th class="border-bottom-1px">Inicial</th>
                                                    <th class="border-bottom-1px">Ejecutado</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <span>{{ i.asignado|million|intcomma }}</span>
                                                    </td>
                                                    <td>
                                                        {% if periodo == 'I' %}
                                                            <span>0</span>
                                                        {% else %}
                                                            <span>{{ i.ejecutado|million|intcomma }}</span>
                                                            {{ i.ejecutado|div:total_inversion.ejecutado|mul:100|floatformat }}
                                                            %
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="otras-categorias col-md-11">
                            <div class="collapse" id="collapseExample">
                                <div class="well">
                                    <div class="row">
                                        {% for i in inversion_categoria|slice:'4:' %}
                                            <div class="icons-inversion col-xs-6 col-sm-3 col-md-3 text-center">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <a href="/core/plan-de-inversion?inversion__anio={{ year }}&inversion__periodo={{ periodo }}&catinversion={{ i.catinversion__id }}">
                                                            <span class="info-box-icon pma-fg-light-green pma-icon {{ i.catinversion__slug }}"> </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <h5 class="text-center">
                                                            <a href="/core/plan-de-inversion?inversion__anio={{ year }}&inversion__periodo={{ periodo }}&catinversion={{ i.id }}"
                                                               class="blanco">
                                                                <span>{{ i.catinversion__nombre }}</span>
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <table class="table text-center info-box-number mb-1px tb-details"
                                                               style="color: white;">
                                                            <thead>
                                                            <tr>
                                                                <th class="border-bottom-1px">Inicial</th>
                                                                <th class="border-bottom-1px">Ejecutado</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span>{{ i.asignado|million|intcomma }}</span>
                                                                </td>
                                                                <td>
                                                                    {% if periodo == 'I' %}
                                                                        <span>0</span>
                                                                    {% else %}
                                                                        <span>{{ i.ejecutado|million|intcomma }}</span>
                                                                        {{ i.ejecutado|div:total_inversion.ejecutado|mul:100|floatformat }}
                                                                        %
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
