{% extends "base.html" %}
{% load static thumbnail chartit %}
{% load humanize %} 
{% load core_extras %} 
{% load mathfilters %} 
{% block main_content %}
    <h2 class="titular">Inversión municipal {{ municipio }} {{ year }}</h2>
    <form method="GET">
    <select name="year">
    {% for ayear in year_list %}
        <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">--</option>
    {% for municipio in municipio_list %}                                       
        <option {% if municipio.slug == request.GET.municipio %}selected{% endif %} value="{{municipio.slug}}">{{municipio}}</option>
    {% endfor %} 
    </select>
    <input type="submit" value="Buscar"/>
    </form>
    <div class="clearfix"></div>
    <ul id="invTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        <li role="presentation"><a href="#invmodificacion" aria-controls="invmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#invhistorico" aria-controls="invhistorico" role="tab" data-toggle="tab">Informaci&oacute;n hist&oacute;rica</a></li>
    </ul>

    {% if municipio and charts.4 %}
        {{ charts|load_charts:"tipo, area, fuente, fuente_pie, comparativo_anios, none, asignado" }}
    {% else %}
        {{ charts|load_charts:"tipo, area, fuente, fuente_pie, asignado, ultimos, fuentes" }}
    {% endif %}

    <!-- tabla4 -->
    <div id="invTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">
        <!--maribel 21/07 - ingresos resumen -->
        <div class="row alert alert-success">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{% static 'img/gfasignado.png' %}" class="img-responsive margen pull-left" alt="inversion monto asignado" />
                    <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el Porcentaje que Los Municipios  a nivel nacional destinaron para cubrir los ingresos de administración y prestación de los">Presupuestado</h3>
                    <span class="cifra grande text-primary">{{ asignado|intcomma }}</span>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/gf.png' %}" class="img-responsive margen pull-left" alt="inversion monto asignado" />
                    <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ ejecutado|intcomma }}</span>
                </div>
                {% if municipio %}
                    <div class="col-md-4">
                    <img src="{% static 'img/categoria2.png' %}" class="img-responsive margen pull-left" alt="Categoria de municipio" />
                    <h3>Categor&iacute;a de municipio </h3><span class="cifra text-success grande">{{ mi_clase.clasificacion }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--Fin de resumen-->

        <div class="col-md-5">
            <!--maribel 21/07- tabla1 inversion municipal -->
            <h3>Inversión municipal</h3>
            <h4 class="text-info">Porcentaje por clasificación
              <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsepastel2"  aria-expanded="false" aria-controls="collapsePastel2">Ver gráfico</a>
            </h4>
            <div class="collapse" id="collapsepastel1">               
                <div class="well col-md-8">                                              
                    <h3>Destino del gastos</h3> 
                    <div id='fuente_pie' class="col-md-8"> Chart will be rendered here </div>
                    <br clear="all" />
                </div>                                           
            </div> 
            <div class="collapse" id="collapsepastel2">               
                <div class="well">                                              
                    <div id='asignado' class="col-md-4"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <div class="collapse" id="collapsepastel">               
                <div class="well">                                              
                    <h3>Destino del gastos</h3> 
                    <div id='ejecutado' class="col-md-4"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <div class="collapse" id="collapsebarra">               
                <div class="well">                                              
                    <div id='tipo' class="col-md-5"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <table class="table">
            <tr class="info"><th colspan="2">Clasificación</th><th>Inicial</th><th>Ejecutado</th></tr>
            {% for total in totales %}
              <tr>
                <td class="text-left"><img src="/static/img/{{ total.catinversion__nombre }}.png" class="pull-left" width="50" alt="{{ total.catinversion__nombre }}" /></td>
                <td><h4>{{ total.catinversion__nombre }}</h4></td>
                <td><span class="btn btn-info col-md-12 cifra">{{ total.asignado_percent }}%</span></td>
                <td><span class="btn btn-info col-md-12 cifra">{{ total.ejecutado_percent }}%</span></td>
              </tr>
            {% endfor %}
            </table>
         <!-- tabla1 -->
        </div>
        <div class="col-md-7">
            <!--maribel 21/07 tabla2 inverson -->
            <h3>Inversión municipal</h3>
            <h4 class="text-info">Millones de córdobas corrientes</h4>
            <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Clasificaci&oacute;n de la inversi&oacute;n</th>
                    <th>Inicial</th>
                    <th>Ejecutado</th>
                    <th>% Ejecutado</th>
                </tr>
            </thead>
            <tbody>
            {% for total in cat %}
              <tr>
                <td class="text-left">{{ total.catinversion__nombre }}</td>
                <td class="text-right">{{ total.asignado|intcomma }}</td>
                <td class="text-right">{{ total.ejecutado|intcomma }}</td>
                <td>
                {% if total.asignado %}
                    <span class="text-success">{{ total.ejecutado|div:total.asignado|mul:100|floatformat:2 }}%</span>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
              <tr class="success bold">                                       
                <td>TOTAL</td>                                              
                <td class="text-right">{{ asignado|intcomma }}</td>                            
                <td class="text-right">{{ ejecutado|intcomma }}</td>                           
                <td class="montos text-right">{% if asignado %}{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%{% endif %}</td>
              </tr>
            </tbody>
            </table>
        </div>
        {% if not municipio %}
        <!--maribel 21/07 tabla3 inversion - nacional -->
        <div class="col-md-7">
            <h3>Inversión municipal por población</h3>
            <h4 class="text-info">por categoría de municipios en córdobas corrientes</h3>
            <table class="table table-condensed">
                <tr class="info"><th>Categoría de municipio</th> <th>Asignado</th> <th>Ejecutado</th></tr>
                {% for row in porclasep %}
                <tr>
                    <td>{{ row.clasificacion }}</td>
                    <td class="tex-center">{% if row.asignado %}{{ row.asignado|floatformat:2 }}{% else %} 0 {% endif %}</td>
                    <td class="text-right">{% if row.ejecutado %}{{ row.ejecutado|floatformat:2 }} {% else %} 0 {% endif %}</td>
                </tr>
                {% endfor %}
                <tr class="success">
                    <td><strong>TOTAL</strong></td>
                    <td class="text-right"><strong>{{ porclasep|total_sum:'asignado'|floatformat:2 }}</strong></td>
                    <td class="text-right"><strong>{{ porclasep|total_sum:'ejecutado'|floatformat:2 }}</strong></td>
                </tr>
            </table>
        </div>
        <!-- /fin inversion tabla3 nacional -->                                                      
        {% endif %}
        <!-- maribel 21/07 inversion-tabla3-municipal -->
        {% if municipio %}
            <div class="col-md-5">
                <h3>Ranquin de municipio de misma categoría municipal</h3>
                <h4 class="text-info">Millones de córdobas corrientes por habitante</h4>
                <table class="table table-condensed">
                    <tr class="info"><th>Posición</th><th>Municipios</th> <th>P. Inicial</th> <th>Ejecución</th></tr>
                    {% for row in otros %}
                        {% if municipio.slug == row.inversion__municipio__slug%}
                        <tr class="info">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td> {{forloop.counter}} </td>
                            <td>{{ row.inversion__municipio__nombre }}</td>
                            <td class="text-right">{{ row.asignado_percent }}</td>
                            <td class="info text-right">{{ row.ejecutado_percent }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="success">
                        <td>TOTAL</td>
                        <td class="text-right">{{ otros|total_sum:'asignado'|floatformat:2 }}</td>
                        <td class="text-right">{{ otros|total_sum:'ejecutado'|floatformat:2 }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <br clear="all">
        <div class="col-md-6"><div id='fuentes'>Fuentes will be rendered here.</div></div>
        <!-- /fin inversion-tabla3-municipal -->
    </div>
    <div role="tabpanel" class="tab-pane fade" id="invmodificacion" aria-labelledby="invmodificacion-tab">

        <div class="col-md-10">
        <!-- maribel 21/07  inversion tabla4 -->
            <h3>Modificaciones al presupuesto municipal</h3>
            <h4>Inversiones en millones de córdobas corrientes</h4>
            <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Clasificaci&oacute;n de la Inversi&oacute;n</th>
                    <th>Inicial</th>
                    <th>Actualizado</th>
                    <th>Modificación</th>
                    <th>Ejecutado</th>
                    <th>%Ejecutado/Actualizado</th>
                    <th>%Ejecutado/Inicial</th>
                </tr>
            </thead>
            <tbody>
            {% for total in cat %}
              <tr>
                <td class="text-left">
                    {{ total.catinversion__nombre }}
                </td>
                <td class="text-right">
                   {{ total.asignado }}</td>
                </td>
                <td class="text-right">
                    {{ total.actualizado }}
                </td>
                <td class="text-right">
                    {% if total.actualizado %}{{ total.actualizado|sub:total.asignado|intcomma }}{% else %}0{% endif %} 
                </td>
                <td class="text-right">
                    {{ total.ejecutado }}
                </td>
                <td class="text-right">
                    {% if total.actualizado %}                                    
                      {{ total.ejecutado|div:total.actualizado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        0
                    {% endif %}     
                </td>
                <td class="text-right">
                    {% if total.actualizado %}                                    
                      {{ total.ejecutado|div:total.asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        0
                    {% endif %}     
                </td>
              </td>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <br clear="all">
    <div role="tabpanel" class="tab-pane fade" id="invhistorico" aria-labelledby="invhistorico-tab">
        <h3>Comportamiento histórico de las inversiones anuales</h3>
        <h4 class="text-info">En millones de córdobas corrientes
              <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsehistorico"  aria-expanded="false" aria-controls="collapsehistorico">Ver gráfico</a>
        </h4>
        <div class="collapse" id="collapsehistorico">               
           <div class="well col-md-8">                                              
                <div id='comparativo_anios' class="col-md-8"> Chart will be rendered here </div>
           </div>                                           
        </div> 
        <div class="col-md-9">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>A&ntilde;o</th>
                    <th>Inicial</th>
                    <th>Actualizado</th>
                    <th>Modificado</th>
                    <th>Ejecutado</th>
                    <th>Ejecutado/Inicial</th>
                </tr>
            </thead>
            {% for total in anuales %} 
              <tr>
                <td class="text-left">
                    <h4>{{ total.inversion__anio }}</h4>
                </td>
                <td>{% if total.asignado %}{{ total.asignado }}{% else %}No disponible {% endif %}</td>
                <td class="text-right">{{ total.actualizado }}</td>
                <td class="text-right">{% if total.actualizado %}{{ total.actualizado|sub:total.asignado }}{% else %}0{% endif %}</td>
                <td class="text-right">{{ total.ejecutado }}</td>
                <td class="text-right">
                {% if total.asignado %}
                    {{ total.ejecutado|div:total.asignado|mul:100|floatformat:2 }}%
                </div>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="col-md-10">
          <h3>Inversiones ejecutadas en los &uacute;ltimos a&ntilde;os</h3>
          <table class="table table-condensed">
            <tr class="info">
              <th></th>
              {% for year in year_list %}
                <th>{{ year|date:"Y" }}</th>
              {% endfor %}
              <th>Promedio</th>
            </tr>
            {% for key, data in porano.items %}
             <tr>
               <td class="text-left">{{ key }}</td>
               {% for year in year_list %}
                 <td>{{ data|keyvalue:year|intword }}</td>
               {% endfor %}
               <td>{{ data.extra|intword }}</td>
               <!-- old-fashioned way:
               {% for subkey, subdata in data.items %}
               <td>{{ subkey }} = {{ subdata| intword}}</td>
               {% endfor %}
                -->
             </tr>
           {% endfor %}
 
          </table>
        </div>
     </div>
    <!-- tabla1 -->
    <br clear="all"> <br />
    <div class="clearfix"></div>
    <div id='tipo' style="display:none;"> Chart will be rendered here </div>
    <div id='area'  style="display:none;"> Chart will be rendered here </div>
    <div id='fuente' style="display:none;"> Chart will be rendered here </div>
    <!--div id='percapita_anios'> Inversion percapita  </div-->
    <div id='ejecutado' style="display:none;">Inversion ejecutada </div>
    <div id='ultimos' style="display:none;">Ultimos anios </div>
{% endblock %}
