{% extends "base.html" %}
{% load static thumbnail chartit %}
{% block main_content %}
    <form method="GET">
    <select name="municipio">
    <option value="">Consolidado Municipal</option>
    {% for amunicipio in municipio_list %}
        <option {% if amunicipio.slug == municipio.slug %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Submit"/>
    </form>
    {{ charts|load_charts:"chart,barra" }}
    <div id='chart'> Chart will be rendered here </div>
    <div id='barra'> Chart will be rendered here </div>
{% endblock %}
