{% extends "base.html" %}
{% load static thumbnail chartit %}
{% load humanize %} 
{% load core_extras %} 
{% load mathfilters %} 
{% block main_content %}
	{% descargar_excel "icat-all" %}
    <h2 class="titular">Inversión municipal {{ municipio }} {{ year }}</h2>
    <form method="GET">
    <select name="year">
    {% for ayear in year_list %}
        <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">Consolidado Municipal</option>
    {% for amunicipio in municipio_list %}
        <option {% if amunicipio.slug == municipio.slug %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Buscar"/>
    </form>
    <div class="clearfix"></div>
    <ul id="invTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        <li role="presentation"><a href="#invmodificacion" aria-controls="invmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#invhistorico" aria-controls="invhistorico" role="tab" data-toggle="tab">Informaci&oacute;n hist&oacute;rica</a></li>
    </ul>

    {% if municipio and charts.4 %}
        {{ charts|load_charts:"tipo, area, fuente, fuente_pie, comparativo_anios, none, asignado" }}
    {% else %}
        {{ charts|load_charts:"tipo, area, fuente, fuente_pie, asignado, ultimos, fuentes" }}
    {% endif %}

    <!-- tabla4 -->
    <div id="invTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">
        <!--maribel 21/07 - ingresos resumen -->
        <div class="row alert alert-success">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{% static 'img/gfasignado.png' %}" class="img-responsive margen pull-left" alt="inversion monto asignado" />
                    <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el Porcentaje que Los Municipios  a nivel nacional destinaron para cubrir los ingresos de administración y prestación de los">Presupuesto inicial</h3>
                    <span class="cifra grande text-primary">{{ asignado|million|intcomma }}</span>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/gf.png' %}" class="img-responsive margen pull-left" alt="inversion monto asignado" />
                    <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ ejecutado|million|intcomma }}</span>
                </div>
                {% if municipio %}
                    <div class="col-md-4">
                    <img src="{% static 'img/categoria2.png' %}" class="img-responsive margen pull-left" alt="Categoria de municipio" />
                    <h3>Categor&iacute;a de municipio </h3><span class="cifra text-success grande">{{ mi_clase.clasificacion }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--Fin de resumen-->

        <div class="col-md-5">
            <!--maribel 21/07- tabla1 inversion municipal -->
            {% descargar_excel "icat1" %}
            <h3>Inversión municipal</h3>
            <h4 class="text-info">Porcentaje por clasificación
              <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsepastel2"  aria-expanded="false" aria-controls="collapsePastel2">Ver gráfico</a>
            </h4>
            <div class="collapse" id="collapsepastel1">               
                <div class="well col-md-8">                                              
                    <h3>Destino del gastos</h3> 
                    <div id='fuente_pie' class="col-md-8"> Chart will be rendered here </div>
                    <br clear="all" />
                </div>                                           
            </div> 
            <div class="collapse" id="collapsepastel2">               
                <div class="well">                                              
                    <div id='asignado' class="col-md-4"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <div class="collapse" id="collapsepastel">               
                <div class="well">                                              
                    <h3>Destino del gastos</h3> 
                    <div id='ejecutado' class="col-md-4"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <div class="collapse" id="collapsebarra">               
                <div class="well">                                              
                    <div id='tipo' class="col-md-5"> Chart will be rendered here </div>
                </div>                                           
            </div> 
            <table class="table">
            <tr class="info"><th colspan="2">Clasificación</th><th>Inicial</th><th>Ejecutado</th></tr>
            {% for total in totales %}
              <tr>
                <td class="text-left"><img src="/static/img/{{ total.catinversion__nombre }}.png" class="pull-left" width="50" alt="{{ total.catinversion__nombre }}" /></td>
                <td><h4>{{ total.catinversion__nombre }}</h4></td>
                <td><span class="btn btn-info col-md-12 cifra">{{ total.asignado_percent }}%</span></td>
                <td><span class="btn btn-info col-md-12 cifra">{{ total.ejecutado_percent }}%</span></td>
              </tr>
            {% endfor %}
            </table>
         <!-- tabla1 -->
        </div>
        <div class="col-md-7">
            <!--maribel 21/07 tabla2 inverson -->
            {% descargar_excel "icat2" %}
            <h3>Inversión municipal</h3>
            <h4 class="text-info">Millones de córdobas corrientes</h4>
            <table class="table table-bordered">
            <thead>
                <tr class="info">
                    <th>Clasificaci&oacute;n de la inversi&oacute;n</th>
                    <th>Inicial</th>
                    <th>Ejecutado</th>
                    <th>% Ejecutado</th>
                </tr>
            </thead>
            <tbody>
            {% for total in cat %}
              <tr>
                <td class="text-left">{{ total.catinversion__nombre }}</td>
                <td class="text-right">{{ total.inicial_asignado|million|intcomma }}</td>
                <td class="text-right">{{ total.ejecutado|million|intcomma }}</td>
                <td>
                {% if total.inicial_asignado %}
                    <span class="text-success">{{ total.ejecutado|div:total.inicial_asignado|mul:100|floatformat:2 }}%</span>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
              <tr class="success bold">                                       
                <td>TOTAL</td>                                              
                <td class="text-right">{{ asignado|million|intcomma }}</td>                            
                <td class="text-right">{{ ejecutado|million|intcomma }}</td>                           
                <td class="montos text-right">{% if asignado %}{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%{% endif %}</td>
              </tr>
            </tbody>
            </table>
        </div>
        {% if not municipio %}
        <!--maribel 21/07 tabla3 inversion - nacional -->
        <div class="col-md-7">
        {% descargar_excel "icat3" %}
            <h3>Inversión municipal por población</h3>
            <h4 class="text-info">por categoría de municipios en córdobas corrientes</h3>
            <table class="table table-condensed">
                <tr class="info"><th>Categoría de municipio</th> <th>Asignado</th> <th>Ejecutado</th></tr>
                {% for row in porclasep %}
                <tr>
                    <td>{{ row.clasificacion }}</td>
                    <td class="tex-center">{% if row.asignado %}{{ row.asignado|floatformat:2 }}{% else %} 0 {% endif %}</td>
                    <td class="text-right">{% if row.ejecutado %}{{ row.ejecutado|floatformat:2 }} {% else %} 0 {% endif %}</td>
                </tr>
                {% endfor %}
                <tr class="success">
                    <td><strong>TOTAL</strong></td>
                    <td class="text-right"><strong>{{ porclasep|total_sum:'asignado'|floatformat:2 }}</strong></td>
                    <td class="text-right"><strong>{{ porclasep|total_sum:'ejecutado'|floatformat:2 }}</strong></td>
                </tr>
            </table>
        </div>
        <!-- /fin inversion tabla3 nacional -->                                                      
        {% endif %}
        <!-- maribel 21/07 inversion-tabla3-municipal -->
        {% if municipio %}
            <div class="col-md-5">
            	{% descargar_excel "icat4" %}
                <h3>Ranquin de municipio de misma categoría municipal</h3>
                <h4 class="text-info">Millones de córdobas corrientes por habitante</h4>
                <table class="table table-condensed">
                    <tr class="info"><th>Posición</th><th>Municipios</th> <th>P. Inicial</th> <th>Ejecución</th></tr>
                    {% for row in otros %}
                        {% if municipio.slug == row.inversion__municipio__slug%}
                        <tr class="info">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td> {{forloop.counter}} </td>
                            <td>{{ row.inversion__municipio__nombre }}</td>
                            <td class="text-right">{{ row.asignado_percent|intcomma }}</td>
                            <td class="info text-right">{{ row.ejecutado_percent|intcomma }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="success">
                        <td colspan="2">TOTAL</td>
                        <td class="text-right">{{ otros|total_sum:'asignado'|million|intcomma }}</td>
                        <td class="text-right">{{ otros|total_sum:'ejecutado'|million|intcomma }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <br clear="all">
        <div class="col-md-6"><div id='fuentes'>Fuentes will be rendered here.</div></div>
        <!-- /fin inversion-tabla3-municipal -->
    </div>
    <div role="tabpanel" class="tab-pane fade" id="invmodificacion" aria-labelledby="invmodificacion-tab">

        <div class="col-md-10">
        <!-- maribel 21/07  inversion tabla4 -->
        	{% descargar_excel "icat5" %}
            <h3>Modificaciones al presupuesto municipal</h3>
            <h4>Inversiones en millones de córdobas corrientes</h4>
            <table class="table table-bordered">
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="4" class="success text-center">
                        <h4>Modificación intermedia 
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-info">*</a>
                        </h4>
                    </td>
                    <td colspan="4" class="danger text-center">
                        <h4>Modificación al cierre
                            <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
                        </h4>
                    </td>
                </tr>
                <tr class="info"> <th>Rubros de inversión</th> <th>Inicial</th> 
                    <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                    <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                </tr>
                {% for row in cat %}
                <tr>
                    <td class="text-left">{{ row.catinversion__nombre }}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
    
                    <td class="success text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="success text-right">{% if row.actualizado_asignado and row.inicial_asignado %}{{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="success text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                    {% if row.actualizado_asignado %}
                        <td class="success montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        <td class="success montos">0</td>
                    {% endif %}

                    <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif %}</td>
                    <td class="danger text-right">
                    {% if row.final_asignado and row.inicial_asignado %}{{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}
                    </td>
                    <td class="danger text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                    {% if row.final_asignado %}
                        <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <br clear="all">
    <div role="tabpanel" class="tab-pane fade" id="invhistorico" aria-labelledby="invhistorico-tab">
    	{% descargar_excel "icat6" %}
        <h3>Comportamiento histórico de las inversiones anuales</h3>
        <h4 class="text-info">En millones de córdobas corrientes
              <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsehistorico"  aria-expanded="false" aria-controls="collapsehistorico">Ver gráfico</a>
        </h4>
        <div class="collapse" id="collapsehistorico">               
           <div class="well col-md-8">                                              
                <div id='comparativo_anios' class="col-md-8"> Chart will be rendered here </div>
           </div>                                           
        </div> 
        <div class="col-md-9">
            <table class="table table-bordered">
                <tr class="info"><th>Años</th> <th>Inicial</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th></tr>
                {% for row in anuales %} 
                <tr>
                    <td class="text-left"><h4>{{ row.inversion__anio }}</h4></td>
                    <td class="text-right">{{ row.asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% if row.asignado %}
                        <td class="montos text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:2 }}%</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-10">
        	{% descargar_excel "icat7" %}
          <h3>Inversiones ejecutadas en los &uacute;ltimos a&ntilde;os</h3>
          <table class="table table-condensed">
            <tr class="info">
              <th></th>
              {% for year in year_list %}
                   <th>{{ year }}</th>
              {% endfor %}
              <th>Promedio</th>
            </tr>
            {% for key, data in porano.items %}
             <tr>
               <td class="text-left">{{ key }}</td>
               {% for year in year_list %}
                 <td>{{ data|keyvalue:year|million|intcomma }}</td>
               {% endfor %}
               <td>{{ data.extra|intword }}</td>
               <!-- old-fashioned way:
               {% for subkey, subdata in data.items %}
               <td>{{ subkey }} = {{ subdata|intcomma}}</td>
               {% endfor %}
                -->
             </tr>
           {% endfor %}
 
          </table>
        </div>
     </div>
    <!-- tabla1 -->
    <br clear="all"> <br />
    <div class="clearfix"></div>
    <div id='tipo' style="display:none;"> Chart will be rendered here </div>
    <div id='area'  style="display:none;"> Chart will be rendered here </div>
    <div id='fuente' style="display:none;"> Chart will be rendered here </div>
    <!--div id='percapita_anios'> Inversion percapita  </div-->
    <div id='ejecutado' style="display:none;">Inversion ejecutada </div>
    <div id='ultimos' style="display:none;">Ultimos anios </div>
{% endblock %}
