{% extends "_indicator.html" %}
{% load static thumbnail chartit %}
{% load humanize %}
{% load core_extras %}
{% load mathfilters %}

{% block section1 %}
<div class="container">
    <div class="row">
        <h2> <strong>Detalle de {{indicator_name}}</strong> <br/> del período</h2>
        <hr class="pma-line-2">
        <div class="col-md-7">
            <div class="chart-update col-xs-1 col-sm-1 col-md-1 float-left">
                    <span class="pma-icon pe-7s-bubble pma-fg-gray toggle-chart"
                        aria-hidden="true" id="chart-bubble-1" data-chartcontainer="bubble-1"></span>
                    <span id="chart-pie-1" class="pma-icon pe-7s-graph
                        pma-fg-gray toggle-chart" aria-hidden="true" data-chartcontainer="tipo"></span>
                    <span id="chart-bar-1" class="pma-icon pe-7s-graph3 pma-fg-gray toggle-chart" aria-hidden="true"></span>
                    <span class="pma-icon pe-7s-graph2 pma-fg-gray toggle-chart"
                        aria-hidden="true" id="icons"></span>
            </div>
            <div class="col-md-11 bubbletree-container chart-container">
                <div id="bubble-1" class="bubbletree-wrapper view-main">
                    <div class="bubbletree"></div>
                </div>
                <div id="pie-1" class="view-alternative"> Pastel por
                categorias </div>
                <div id="asignado_portada" class="view-alternative"> Pastel por
                categorias </div>
                <div id="chart-bar-1" class="view-alternative"> Barras por
                Rubros </div>
                <div id="chart-lines-1" class="view-alternative"> Lineas
                </div>
                <div id='fuente_pie' class="view-alternative"> Chart will be rendered here </div>
                <div id='asignado' class="view-alternative"> Chart will be rendered here </div>
                <div id='ejecutado' class="view-alternative"> Chart will be rendered here </div>
                <div id='tipo' class="view-alternative"> Chart will be rendered here </div>
            </div>
        </div>
        <div class="col-md-5 table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Clasificación</th>
                        {% if periodo_list|keyvalue:year == 'I' %}
                        <th class="text-right">Inicial</th>
                        {% else %}
                            <th class="text-right">Ejecutado</th>
                        {% endif %}
                    </tr>
                </thead>
                {% for row in cat %}
                <tr>
                    <td class="text-left">{{ row.catinversion__nombre }}</td>
                    {% if periodo_list|keyvalue:year == 'I' %}
                        <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                    {% else %}
                        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tfoot>
                    <tr class="">
                        <td>TOTAL</td>
                        {% if periodo_list|keyvalue:year == 'I' %}
                            <td class="text-right">{{ asignado|million|intcomma }}</td>
                        {% else %}
                            <td class="text-right">{{ ejecutado|million|intcomma|default:"0" }}</td>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block section2 %}
<div class="cd-horizontal-timeline loaded pma-gradient inverted">
    {% if municipio %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2><strong>Inversión municipal por población</strong> </h2>
            <h4>por categoría de municipios en córdobas corrientes</h4>
            <hr class="pma-line-3" />
            </div>
        </div>
    </div>
    <div class="timeline container">
        <div class="events-wrapper">
            <div class="events" style="width: {{ otros|length|mul:300 }}px;">
                <ol>
                    {% for row in otros|dictsortreversed:"asignado_percent" %}
                    <li>
                        <a href="#0"
                            data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}"
                            {% if municipio.slug == row.inversion__municipio__slug %} class="selected"{% endif %}
                            style="left: {{ forloop.counter|mul:300 }}px;">{{ row.inversion__municipio__nombre }}
                            <br/>
                            {% if periodo_list|keyvalue:year == 'I' %}
                                <span>{{ row.asignado_percent|intcomma }}
                                </span><br/>
                            {% else %}
                                <span>{{ row.asignado_percent|intcomma }}</span>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
                <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0772222);"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->
    <div class="events-content container text-center">
        <ol>
        {% for row in otros|dictsortreversed:"asignado_percent" %}
        <li{% if municipio.slug == row.inversion__municipio__slug %} class="selected"{% endif %} data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}">
        <!-- <h4>{{ row.inversion__municipio__nombre }}</h4>
        <span> Asignado: {{ row.asignado_percent|intcomma }}
        </span><br/>
        <span> Ejecutado: {{ row.asignado_percent|intcomma }}</span> -->
        </li>
        {% endfor %}
        </ol>
     </div> <!-- .events-content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="show-detail-1" class="btn btn-default" type="submit">
                Ver dealles en Tabla</button>
            </div>
        </div>
    </div>
    <div id="detail-1" class="container">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <h4 class="text-info text-info-ranking">Córdobas corrientes por habitante</h4>
                <table class="table table-condensed table-striped pma-bg-white">
                    <thead class="thead-inverse">
                        <tr class="bg-primary">
                        <th class="text-center"><strong>Posición</strong></th>
                        <th class="text-center"><strong>Municipios</strong></th>
                        <th class="text-center"><strong>P. Inicial</strong></th>{% if year != '2016' %}
                        <th class="text-center"><strong>Ejecución</strong></th>{% endif %}</tr>
                    </thead>
                    {% if ejecutado <= 0 %}
                    {% for row in otros|dictsortreversed:"asignado_percent" %}
                    {% if municipio.slug == row.inversion__municipio__slug %} <tr class="info">
                        {% else %}
                        <tr>
                            {% endif %}
                            <td class="text-center"> {{forloop.counter}} </td>
                            <td>{{ row.inversion__municipio__nombre }}</td>
                            <td class="text-right">{{ row.asignado_percent|intcomma }}</td>
                            {% if year != '2016' %}
                            <td class="text-right">{{ row.ejecutado_percent|intcomma }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for row in otros %}
                        {% if municipio.slug == row.inversion__municipio__slug %}
                        <tr class="info">
                            {% else %}
                            <tr>
                                {% endif %}
                                <td class="text-center"> {{forloop.counter}} </td>
                                <td>{{ row.inversion__municipio__nombre }}</td>
                                <td class="text-right">{{ row.asignado_percent|intcomma }}</td>
                                {% if year != '2016' %}
                                <td class="text-right">{{ row.ejecutado_percent|intcomma }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %} {% endif %}
<!--
                            <tr class="">
                                <td colspan="2">TOTAL</td>
                                <td class="text-right">
                                    {% if numerador > 0 %}
                                        {% with numerator=otros|total_sum:'asignado' denominator=otros|total_sum:'poblacion' %} {{ numerator|div:denominator|floatformat:2|intcomma }} {% endwith %}
                                    {% endif %}
                                </td>
                                {% if year != '2016' %}
                                <td class="text-right">
                                    {% if denominador > 0 %}
                                        {% with numerator=otros|total_sum:'ejecutado' denominator=otros|total_sum:'poblacion' %} {{ numerator|div:denominator|floatformat:2|intcomma }} {% endwith %}
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                        -->
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block section4 %}
<div class="container wide">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Información Histórica<br>
            <strong>Comportamiento histórico de las inversiones anuales {% if not municipio %}Consolidado municipal {% endif %}</strong> </h2>
            <hr class="pma-line-4" />
        </div>
    </div>
</div>
<div class="cd-horizontal-timeline loaded">
    <div class="timeline container">
        <div class="events-wrapper">
            <div class="events" style="{{anuales|length|mul:"150"}}px">
                <ol>
                    {% for row in anuales %}
                    <li><a href="#0" data-date="01/01/{{ row.inversion__anio }}"
                    {% if row.inversion__anio = year|add:"0" %} class="selected" {% endif %}
                    style="left:{{ forloop.counter|mul:"150" }}px;">{{ row.inversion__anio }}
                    <br/>
                    Asignado: <span>{{ row.asignado|million|intcomma }}</span>
                    <br/>
                    Ejecutado: <span>{{ row.ejecutado|million|intcomma }}</span>
                    </a></li>
                    {% endfor %}
                </ol>
                <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0772222);"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->

    <div class="events-content">
        <ol>
            <li data-date="01/01/{{ row.inversion__anio }}"
                {% if row.inversion__anio = year|add:"0" %} class="selected" {% endif %}>
            </li>
        </ol>
    </div> <!-- .events-content -->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="show-detail-3" class="btn btn-default" type="submit">
            Ver dealles en Tabla</button>
        </div>
    </div>
</div>
<div id="detail-3" class="container">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-condensed">
                <tr class="info">
                    <th></th>
                    {% for year in year_list %}
                    <th class="text-center">{{ year }}
                        {% if periodo_list|keyvalue:year == 'A' %}*Actualizado*{% endif %}</th>
                        {% endfor %}
                    </tr>
                    {% for key, data in porano.items %}
                    <tr>
                        <td class="text-left">{{ key }}</td>
                        {% for year in year_list %}
                        <td class="text-right">{{ data|keyvalue:year|million|intcomma }}</td>
                        {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block section5 %}
<div class="container wide">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2><strong>Modificaciones al presupuesto municipal de inversiones</strong><br>
            Millones de córdobas corrientes </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-condensed table-striped">
            <thead>
            <tr class="bg-primary">
                <td></td>
                <td></td>
                <td colspan="4" class="text-center">
                    <h4>Modificación intermedia
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-info">*</a>
                    </h4>
                </td>
                <td colspan="4" class="text-center">
                    <h4>Modificación al cierre
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
                    </h4>
                </td>
            </tr>
            <tr  class="bg-primary"> <th>Rubros de inversión</th> <th>Inicial</th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
            </tr>
            </thead>
            {% for row in cat %}
                <tr>
                    <td class="text-left">{{ row.catinversion__nombre}}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="text-right">{% if row.actualizado_asignado and row.inicial_asignado %}{{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                    {% if row.actualizado_asignado %}
                    <td class="montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                    <td class="montos">0</td>
                    {% endif %}
                    <td class="text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif %}</td>
                    <td class="text-right">{% if row.final_asignado %}{{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                    {% if row.final_asignado %}
                    <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}

                </tr>
            {% endfor %}
            <tfoot>
            <tr class="bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'actualizado_asignado' %}
                        {{ rubros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ rubros|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'final_asignado' %}
                        {{ rubros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
            </tfoot>
        </table>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_scripts %}
    {% if municipio and charts.4 %}
        {{ charts|load_charts:"tipo, area, fuente, fuente_pie, comparativo_anios, none, asignado" }}
    {% else %}
        {{ charts|load_charts:"tipo, area, fuente, fuente_pie, asignado, ultimos, fuentes" }}
    {% endif %}
{% endblock %}
