{% extends "base.html" %}
{% load static thumbnail chartit %}
{% block main_content %}
<br/>
<br/>
<ul>
<li><a href="{%url 'gasto_minimo_sector'%}">Gasto mínimo por sector</a></li>
<li><a href="{%url 'origen_ingresos'%}">OIM</a></li>
<li><a href="{%url 'origen_gastos'%}">OGM</a></li>
<li><a href="{%url 'inversion_categoria'%}">Inversión por categoría</a></li>
<li><a href="{%url 'gastos_funcion'%}">Gastos de funcionamiento</a></li>
<li><a href="{%url 'gastos_personal'%}">Gastos Personal</a></li>
<li><a href="{%url 'autonomia_gastos'%}">AGO</a></li>
<li><a href="{%url 'ahorro_corriente'%}">ACI</a></li>
<li><a href="{%url 'peso_deuda'%}">PSD</a></li>
<li><a href="{%url 'ejecucion_presupuesto'%}">EP</a></li>
<li><a href="{%url 'inversion_area'%}">Inversión por área</a></li>
<li><a href="{%url 'inversion'%}">Inversión</a></li>
</ul>
{% endblock %}
