            <div class="col-md-3 affix list-indicadores">
                <h2>Indicadores</h2>
                <ul>
                    <li><a href="{%url 'origen_ingresos'%}" class="borde-verde"><i class="fa fa-chevron-right" aria-hidden="true"></i>  Origen de los ingresos del municipio</a></li>
                    <li><a href="{%url 'origen_gastos'%}" class="borde-celeste"><i class="fa fa-chevron-right" aria-hidden="true"></i> Destino del gasto municipal</a></li>
                    <li><a href="{%url 'gastos_funcion'%}" class="borde-verde"><i class="fa fa-chevron-right" aria-hidden="true"></i> Gastos de funcionamiento</a></li>
                    <li><a href="{%url 'gastos_personal'%}" class="borde-celeste"><i class="fa fa-chevron-right" aria-hidden="true"></i> Gastos de personal</a></li>
                    <li><a href="{%url 'autonomia_gastos'%}" class="borde-verde"><i class="fa fa-chevron-right" aria-hidden="true"></i> Dependencia para asumir gastos corrientes</a></li>
                    <li><a href="{%url 'ahorro_corriente'%}" class="borde-celeste"><i class="fa fa-chevron-right" aria-hidden="true"></i> Ahorro corriente para inversiones</a></li>
                    <li><a href="{%url 'ejecucion_presupuesto'%}" class="borde-verde"><i class="fa fa-chevron-right" aria-hidden="true"></i> Ejecuci&oacute;n del presupuesto</a></li>
                    <li><a href="{%url 'inversion_categoria'%}" class="borde-celeste"><i class="fa fa-chevron-right" aria-hidden="true"></i> Inversiones</a></li>
                    <li><a href="{%url 'detalle_presupuesto'%}" class="borde-verde"><i class="fa fa-chevron-right" aria-hidden="true"></i>Descargar Detalle Presupuesto</a></li>
                  </ul>
            </div>
