{% load core_extras humanize %}
<div class="col-lg-12 col-md-12 position-relative" style="height: 450px">

    <div class="triangle-div">
        <div class="square">
            <span class="name">
                Ranking Municipal
                <br>
                {% if mi_clase.clasificacion %}
                    Grupo "{{ mi_clase.clasificacion }}"
                {% endif %}
            </span>
        </div>
    </div>
    {% if periodo_list|keyvalue:year == 'I' %}
        {% if otros.0.asignado_percent %}
            {% for row in otros|dictsortreversed:'asignado_percent' %}
                {% if forloop.first %}
                    <div class="balloon-dialogue first-balloon-dialogue">
                        <strong>
                            {% for letter in 'POSICIÓN'|make_list %}
                                <span>{{ letter }}</span>
                            {% endfor %}
                        </strong>
                        <div class="position-balloon">
                            <span {% if forloop.counter <= 10 %}style="left: 38%"{% endif %}>{{ forloop.counter }}</span>
                            <span class="municipio-data">
                               {% if municipio|lower == row|get_name_municipio|lower %}
                                   <b>MI MUNICIPIO</b>
                               {% endif %}
                                {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                                <br>
                                <span class="font-roboto">
                                    {% if row.asignado_percent|intcomma|floatformat:-2 %}
                                        {{ row.asignado_percent|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.asignado_percent|default_if_none:0|intcomma }}
                                    {% endif %}
                                    {% if mostraren == 'porcentaje' %}
                                        % del gasto total
                                    {% else %}
                                        M. de C&oacute;rdobas
                                    {% endif %}
                                </span>
                            </span>
                        </div>
                    </div>
                {% elif forloop.counter < forloop.last and municipio|lower == row|get_name_municipio|lower %}
                    <div class="balloon-dialogue second-balloon-dialogue">
                        <strong>
                            {% for letter in 'POSICIÓN'|make_list %}
                                <span>{{ letter }}</span>
                            {% endfor %}
                        </strong>
                        <div class="position-balloon">
                            <span {% if forloop.counter <= 10 %}style="left: 38%"
                                  {% elif forloop.counter >= 100 %}style="left: 16.3%"{% endif %}>{{ forloop.counter }}</span>
                            <span class="municipio-data">
                            <b>MI MUNICIPIO</b>
                            {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                            <br>
                                <span class="font-roboto">
                                    {% if row.asignado_percent|intcomma|floatformat:-2 %}
                                        {{ row.asignado_percent|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.asignado_percent|default_if_none:0|intcomma }}
                                    {% endif %}
                                    {% if mostraren == 'porcentaje' %}
                                        % del gasto total
                                    {% else %}
                                        M. de C&oacute;rdobas
                                    {% endif %}
                                </span>
                        </div>
                    </div>
                {% elif forloop.last %}
                    <div class="balloon-dialogue third-balloon-dialogue">
                        <strong>
                            {% for letter in 'POSICIÓN'|make_list %}
                                <span>{{ letter }}</span>
                            {% endfor %}
                        </strong>
                        <div class="position-balloon">
                            <span {% if forloop.counter >= 100 %}style="left: 16.3%"{% endif %}>{{ forloop.counter }}</span>
                            <span class="municipio-data">
                               {% if municipio|lower == row|get_name_municipio|lower %}
                                   <b>MI MUNICIPIO</b>
                               {% endif %}
                                {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                                <br>
                                <span class="font-roboto">
                                    {% if row.asignado_percent|intcomma|floatformat:-2 %}
                                        {{ row.asignado_percent|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.asignado_percen|default_if_none:0t|intcomma }}
                                    {% endif %}
                                    {% if mostraren == 'porcentaje' %}
                                        % del gasto total
                                    {% else %}
                                        M. de C&oacute;rdobas
                                    {% endif %}
                                </span>
                            </span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for row in otros|dictsortreversed:'asignado' %}
                {% if forloop.first %}
                    <div class="balloon-dialogue first-balloon-dialogue">
                        <strong>
                            {% for letter in 'POSICIÓN'|make_list %}
                                <span>{{ letter }}</span>
                            {% endfor %}
                        </strong>
                        <div class="position-balloon">
                            <span {% if forloop.counter <= 10 %}style="left: 38%"{% endif %}>{{ forloop.counter }}</span>
                            <span class="municipio-data">
                               {% if municipio|lower == row|get_name_municipio|lower %}
                                   <b>MI MUNICIPIO</b>
                               {% endif %}
                                {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                               <br>
                               <span class="font-roboto">
                                    {% if row.asignado|intcomma|floatformat:-2 %}
                                        {{ row.asignado|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.asignado|default_if_none:0|intcomma }}
                                    {% endif %}
                                   {% if mostraren == 'porcentaje' %}
                                       % del gasto total
                                   {% else %}
                                       M. de C&oacute;rdobas
                                   {% endif %}
                               </span>
                            </span>
                        </div>
                    </div>
                {% elif forloop.counter < forloop.last and municipio|lower == row|get_name_municipio|lower %} %}
                    <div class="balloon-dialogue second-balloon-dialogue">
                        <strong>
                            {% for letter in 'POSICIÓN'|make_list %}
                                <span>{{ letter }}</span>
                            {% endfor %}
                        </strong>
                        <div class="position-balloon">
                            <span {% if forloop.counter <= 10 %}style="left: 38%"
                                  {% elif forloop.counter >= 100 %}style="left: 16.3%"{% endif %}>{{ forloop.counter }}</span>
                            <span class="municipio-data">
                            <b>MI MUNICIPIO</b>
                            {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                            <br>
                             <span class="font-roboto">
                                    {% if row.asignado|intcomma|floatformat:-2 %}
                                        {{ row.asignado|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.asignado|default_if_none:0|intcomma }}
                                    {% endif %}
                                 {% if mostraren == 'porcentaje' %}
                                     % del gasto total
                                 {% else %}
                                     M. de C&oacute;rdobas
                                 {% endif %}
                               </span>
                        </div>
                    </div>
                {% elif forloop.last %}
                    <div class="balloon-dialogue third-balloon-dialogue">
                        <strong>
                            {% for letter in 'POSICIÓN'|make_list %}
                                <span>{{ letter }}</span>
                            {% endfor %}
                        </strong>
                        <div class="position-balloon">
                            <span {% if forloop.counter <= 10 %}style="left: 38%"
                                  {% elif forloop.counter >= 100 %}style="left: 16.3%"{% endif %}>{{ forloop.counter }}</span>
                            <span class="municipio-data">
                               {% if municipio|lower == row|get_name_municipio|lower %}
                                   <b>MI MUNICIPIO</b>
                               {% endif %}
                                {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                                <br>
                                 <span class="font-roboto">
                                    {% if row.asignado|intcomma|floatformat:-2 %}
                                        {{ row.asignado|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.asignado|default_if_none:0|intcomma }}
                                    {% endif %}
                                     {% if mostraren == 'porcentaje' %}
                                         % del gasto total
                                     {% else %}
                                         M. de C&oacute;rdobas
                                     {% endif %}
                                 </span>
                            </span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% for row in otros %}
            {% if forloop.first %}
                <div class="balloon-dialogue first-balloon-dialogue">
                    <strong>
                        {% for letter in 'POSICIÓN'|make_list %}
                            <span>{{ letter }}</span>
                        {% endfor %}
                    </strong>
                    <div class="position-balloon">
                        <span {% if forloop.counter <= 10 %}style="left: 38%"
                              {% elif forloop.counter >= 100 %}style="left: 16.3%"{% endif %}>{{ forloop.counter }}</span>
                        <span class="municipio-data">
                           {% if municipio|lower == row|get_name_municipio|lower %}
                               <b>MI MUNICIPIO</b>
                           {% endif %}
                            {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                            <br>
                            <span class="font-roboto">
                                {% if row.ejecutado_percent or row.ejecutado_percent == 0 %}
                                    {% if row.ejecutado_percent|intcomma|floatformat:-2 %}
                                        {{ row.ejecutado_percent|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.ejecutado_percent|default_if_none:0|intcomma }}
                                    {% endif %}
                                {% else %}
                                    {% if row.ejecutado|intcomma|floatformat:-2 %}
                                        {{ row.ejecutado|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.ejecutado|default_if_none:0|intcomma }}
                                    {% endif %}
                                {% endif %}
                                {% if mostraren == 'porcentaje' %}
                                    % del gasto total
                                {% else %}
                                    M. de C&oacute;rdobas
                                {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            {% elif forloop.counter < forloop.last and municipio|lower == row|get_name_municipio|lower %}
                <div class="balloon-dialogue second-balloon-dialogue">
                    <strong>
                        {% for letter in 'POSICIÓN'|make_list %}
                            <span>{{ letter }}</span>
                        {% endfor %}
                    </strong>
                    <div class="position-balloon">
                        <span {% if forloop.counter <= 10 %}style="left: 38%"
                              {% elif forloop.counter >= 100 %}style="left: 16.3%"{% endif %}>{{ forloop.counter }}</span>
                        <span class="municipio-data">
                            <b>MI MUNICIPIO</b>
                        {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                        <br>
                          <span class="font-roboto">
                                {% if row.ejecutado_percent or row.ejecutado_percent == 0 %}
                                    {% if row.ejecutado_percent|intcomma|floatformat:-2 %}
                                        {{ row.ejecutado_percent|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.ejecutado_percent|default_if_none:0|intcomma }}
                                    {% endif %}
                                {% else %}
                                    {% if row.ejecutado|intcomma|floatformat:-2 %}
                                        {{ row.ejecutado|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.ejecutado|default_if_none:0|intcomma }}
                                    {% endif %}
                                {% endif %}
                              {% if mostraren == 'porcentaje' %}
                                  % del gasto total
                              {% else %}
                                  M. de C&oacute;rdobas
                              {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            {% elif forloop.last %}
                <div class="balloon-dialogue third-balloon-dialogue">
                    <strong>
                        {% for letter in 'POSICIÓN'|make_list %}
                            <span>{{ letter }}</span>
                        {% endfor %}
                    </strong>
                    <div class="position-balloon">
                        <span {% if forloop.counter <= 10 %}style="left: 38%"
                              {% elif forloop.counter >= 100 %}style="left: 16.3%"{% endif %}>{{ forloop.counter }}</span>
                        <span class="municipio-data">
                           {% if municipio|lower == row|get_name_municipio|lower %}
                               <strong></strong>
                           {% endif %}
                            {% firstof row.gasto__municipio__nombre row.ingreso__municipio__nombre row.inversion__municipio__nombre row.nombre %}
                            <br>
                            <span class="font-roboto">
                                {% if row.ejecutado_percent or row.ejecutado_percent == 0 %}
                                    {% if row.ejecutado_percent|intcomma|floatformat:-2 %}
                                        {{ row.ejecutado_percent|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.ejecutado_percent|default_if_none:0|intcomma }}
                                    {% endif %}
                                {% else %}
                                    {% if row.ejecutado|intcomma|floatformat:-2 %}
                                        {{ row.ejecutado|default_if_none:0|intcomma|floatformat:-2 }}
                                    {% else %}
                                        {{ row.ejecutado|default_if_none:0|intcomma }}
                                    {% endif %}
                                {% endif %}
                                {% if mostraren == 'porcentaje' %}
                                    % del gasto total
                                {% else %}
                                    M. de C&oacute;rdobas
                                {% endif %}
                            </span>
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
