{% extends "base.html" %}
{% load static thumbnail chartit %}
{% load humanize %} 
{% load mathfilters %}
{% load core_extras %} 
{% block titulo %}
{{ obj.nombre }}
{% endblock %}
{% block main_content %}
    <h2 class="titular">Destino de los gastos   {{ request.GET.municipio|capfirst }} {{ anio }} </h2>
    <form method="GET">
    <select name="year">
    {% for ayear in year_list %}
        <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">--</option>
    {% for amunicipio in municipio_list %}
        <option {% if amunicipio.slug == municipio %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Submit"/>
    </form>
    <ul id="oimTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        <li role="presentation"><a href="#oimmodificacion" aria-controls="oimmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#oimorigen" aria-controls="oimorigen" role="tab" data-toggle="tab">Informacion hist&oacute;rica</a></li>
    </ul>

    {% if municipio and charts.4 %}
        {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo, asignado_barra, barra" }}
    {% else %}
        {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo, asignado_barra, barra" }}
    {% endif %}
    <div id="oimTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">
        <div class="col-md-6">
            <h3>Gastos del período</h3>
            <h4 class="text-info">Porcentaje de los gastos totales</h4>
            <hr />
            {% for total in totales %}
              <div class="row totales">
                <div class="col-md-8 text-left">
                <img src="/static/img/Otros origenes.png" class="pull-left" height="40" alt="{{ total.tipogasto__nombre }}" />
                <h4>{{ total.subsubtipogasto__origen__nombre }}</h4>
                </div>
                <div class="col-md-3">
                        <span class="btn btn-info col-md-87 cifra">{{ total.percent }}%</span>
                </div>
              </div>
            {% endfor %}
        </div>
        <!-- tabla solo un año -->
        <div class="col-md-6">
            <h3>Resultado presupuestario gastos de funcionamiento</h3>                  
            <h4 class="text-info">Millones de córdobas corrientes</h4>                  
            <table class="table table-condensed">                                       
                <tr class="info"> <th>Tipo</th> <th>Inicial</th> <th>Ejecutado</th> <th>% (ejecutado/inicial)</th></tr>
                {% for row in rubros %}                                                     
                <tr>                                                                        
                    <td>{{ row.tipogasto__nombre }}</td>                                    
                    <td>{{ row.asignado|intcomma }}</td>                                    
                    <td>{{ row.ejecutado|intcomma }}</td>                                   
                    {% if row.asignado %}                                                   
                        <td>{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}                                                             
                </tr>                                                                       
                {% endfor %}                                                                
                <tr class="success bold">                                                   
                    <td>TOTAL</td>                                                          
                    <td>{{ asignado|intcomma }}</td>                                        
                    <td>{{ ejecutado|intcomma }}</td>                                       
                    <td>{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%</td></tr>       
            </table>                                                                    
            <!-- /fin gftabla2 -->                                                      
            <br />   

          <h3>Gastos del período</h3>
          <h4 class="text-info">Millones de c&oacute;rdoba corrientes</h4>
          <table class="table table-condensed">
            <tr class="info">
              <th></th>
              <th>{{ anio }}</th>
              {% if municipio %}
              <th>Promedio de categor&iacute;a</th>
              {% endif %}
            </tr>
            {% for key, data in porano.items %}
             <tr>
               <td class="text-left">{{ key }}</td>
               <td class="text-center">{{ data|keyvalue:anio|intword }}</td>
              {% if municipio %}
               <td>{{ data.extra|intword }}</td>
              {% endif %}
             </tr>
           {% endfor %}
          </table>
        </div>
        <!-- tabla solo un año /-->
        <br clear="all" />
    <!-- javier 15/julio gftabla1 nacional -->
    {% if not municipio %}
        <div class="col-md-5">
        <h3>Porcentaje destinado a gastos (del total de gastos???)</h3>
        <h4 class="text-info">por categoría de Municipios</h4>

        <table class="table table-condensed">
            <tr class="info"><th>Categoría</th> <th>Asignado</th> <th>Ejecutado</th></tr>
            {% for row in porclasep %}
                <tr>
                    <td>{{ row.clasificacion }}</td>
                    <td class="tex-center">{% if row.asignado %}{{ row.asignado|floatformat:2 }}%{% else %} 0% {% endif %}</td>
                    <td>{% if row.ejecutado %}{{ row.ejecutado|floatformat:2 }}% {% else %} 0% {% endif %}</td>
                </tr>
            {% endfor %}
            <tr class="success">
                <td><strong>PROMEDIO</strong></td>
                <td><strong>{{ porclasep|total_avg:'asignado'|floatformat:1 }}%</strong></td>
                <td><strong>{{ porclasep|total_avg:'ejecutado'|floatformat:1 }}%</strong></td>
            </tr>
        </table>
        </div>
    {% endif%}
    <!-- /fin gftabla1 nacional-->
    <!-- javier 15/julio gftabla2 -->
    <h3>Resultado presupuestario gastos de funcionamiento</h3>
    <h4 class="text-info">Millones de córdobas corrientes</h4>
    <table class="table table-condensed">
        <tr class="info"> <th>Tipo</th> <th>Inicial</th> <th>Ejecutado</th> <th>% (ejecutado/inicial)</th></tr>
    {% for row in rubros %}
    <tr>
        <td>{{ row.tipogasto__nombre }}</td>
        <td>{{ row.asignado|intcomma }}</td>
        <td>{{ row.ejecutado|intcomma }}</td>
        {% if row.asignado %}
            <td>{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td>{{ asignado|intcomma }}</td>
        <td>{{ ejecutado|intcomma }}</td>
        <td>{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%</td></tr>
    </table>
    <!-- /fin gftabla2 -->
        <div class="col-md-12 graficos-azul">                                   
            <div class="col-md-8">                                                
                <h3>Destino del gastos</h3> 
                <div class="col-md-12">
                    <div id='tipo'> Chart will be rendered here </div>
                </div>
            </div>
            <div class="col-md-4">
              <h3>Ejecuci&oacute;n Presupuestaria</h3>
                <div class="col-md-12">
                    <div id='comparativo2'> Chart will be rendered here </div>
                    <div id='ejecutado' class="visible-xs"> Chart will be rendered here </div>
                </div>
            </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimmodificacion" aria-labelledby="oimmodificacion-tab">
            <h3>Ejecuci&oacute;n Presupuestaria {{ anio }}</h3>
        <div id='comparativo3' class="col-md-10"> Chart will be rendered here </div>
        <div id='barra' class="col-md-10 visible-xs"> Chart will be rendered here </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimorigen" aria-labelledby="oimorigen-tab">
        <div class="col-md-12">
            <h3>Gastos por períodos</h3>
            <h4 class="text-info">Millones de c&oacute;rdoba corrientes</h4>
          <table class="table table-condensed">
            <tr  class="info">
              <th></th>
              {% for year in year_list %}
                <th>{{ year }}</th>
              {% endfor %}
            </tr>
            {% for key, data in porano.items %}
             <tr>
               <td class="text-left">{{ key }}</td>
               {% for year in year_list %}
                 <td>{{ data|keyvalue:year|intword }}</td>
               {% endfor %}
               <td>{{ data.extra }}</td>
               <!-- old-fashioned way:
               {% for subkey, subdata in data.items %}
               <td>{{ subkey }} = {{ subdata| intword}}</td>
               {% endfor %}
                -->
             </tr>
           {% endfor %}
 
          </table>
        </div>
        <div class="col-md-12">
            <h3>Gastos del municipio vs Promedio de la categor&iacute;a</h3>
            <div id='comparativo_anios' class="col-md-10"> Chart will be rendered here </div>
        </div>
        <div id='asignado_barra' class="visible-xs"> Chart will be rendered here </div>
      </div>
    </div>
</div>
{% endblock %}
