{% extends "base.html" %}
{% load static thumbnail chartit %}
{% load humanize %} 
{% load mathfilters %}
{% load core_extras %} 
{% block titulo %}
{{ obj.nombre }}
{% endblock %}
{% block main_content %}
    <h2 class="titular">Destino de los gastos  {{ municipio }} {{ year }} </h2>
    <form method="GET">
    <select name="year">
    {% for ayear in year_list %}
        <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">--</option>
    {% for amunicipio in municipio_list %}
        <option {% if amunicipio.slug == municipio %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Submit"/>
    </form>
    <ul id="oimTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        <li role="presentation"><a href="#oimmodificacion" aria-controls="oimmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#oimorigen" aria-controls="oimorigen" role="tab" data-toggle="tab">Informacion hist&oacute;rica</a></li>
    </ul>

    {% if municipio and charts.4 %}
        {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo, asignado_barra, barra" }}
    {% else %}
        {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo, asignado_barra, barra" }}
    {% endif %}
    <div id="oimTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">
        <!--Gastos resumen -->
        <div class="row separador">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{% static 'img/gfasignado.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                    <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el Porcentaje que Los Municipios  a nivel nacional destinaron para cubrir los gastos de administración y prestación de los">Presupuestado</h3>
                    <span class="cifra grande text-primary">{{ asignado|intcomma }}</span>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/gf.png' %}" class="img-responsive margen pull-left" alt="Gasto de funcionamiento asignado" />
                    <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ ejecutado|intcomma }}</span>
                </div>
                {% if municipio %}
                    <div class="col-md-4">
                    <img src="{% static 'img/categoria2.png' %}" class="img-responsive margen pull-left" alt="Categoria de municipio" />
                    <h3>Categor&iacute;a de municipio </h3><span class="cifra text-success grande">{{ mi_clase.clasificacion }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--Fin de resumen-->
        <div class="separador"></div> 
        <div class="col-md-6">
            <!--maribel 21/07 inversion tabla1 -->
            <h3>Gastos del período</h3>
            <h4 class="text-info">Porcentaje del gasto total</h4>
            <table class="table">
                <tr class="info"> <th colspan="2">Rubros gastos</th><th>Inicial</th> <th>Ejecutado</th> </tr>
                {% for total in totales %}
                <tr>
                    <td><img src="/static/img/Otros origenes.png" class="pull-left" height="40" alt="{{ total.tipogasto__nombre }}" /></td>
                    <td><h4>{{ total.subsubtipogasto__origen__nombre }}</h4></td>
                    <td><span class="btn btn-info col-md-87 cifra">{{ total.asignado_percent }}%</span></td>
                    <td><span class="btn btn-info col-md-87 cifra">{{ total.ejecutado_percent }}%</span></td>
                </tr>
            {% endfor %}
            </table>
            <!-- fin tabla1 -->
        </div>
        <div class="col-md-6">
            <!-- maribel 21/07 tabla2 inversion -->
			<form method="post" id="anyofiscal_form" role="form" novalidate class="pull-right">
			    {% csrf_token %}
			    <input type="hidden" name="reporte" value="ogm"></button>
			    <button type="submit" class="btn btn-success btn-xs" title="Descargar en Excel" name="excel">
			      <span class="glyphicon glyphicon-download-alt"></span>
			      <span class="text">Excel</span>
			    </button>
			</form>            
            <h3>Eficiencia en la ejecución del gasto municipal</h3>
            <h4>Gastos en millones de córdobas corrientes</h4>
            <table class="table table-condensed">                                       
                <tr class="info"> <th>Rubro</th> <th>Inicial</th> <th>Ejecutado</th> <th>% (ejecutado/inicial)</th></tr>
                {% for row in rubros %}                                                     
                <tr>                                                                        
                    <td>{{ row.tipogasto__nombre }}</td>                                    
                    <td>{{ row.asignado|intcomma }}</td>                                    
                    <td>{{ row.ejecutado|intcomma }}</td>                                   
                    {% if row.asignado %}                                                   
                        <td class="montos">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}                                                             
                </tr>                                                                       
                {% endfor %}                                                                
                <tr class="success bold">                                                   
                    <td>TOTAL</td>                                                          
                    <td>{{ asignado|intcomma }}</td>                                        
                    <td>{{ ejecutado|intcomma }}</td>                                       
                    <td class="montos">{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%</td></tr>       
            </table>                                                                    
            <!-- /fin tabla2 -->                                                      
            <br />   
        </div>
        <!-- tabla solo un año /-->
        <br clear="all" />
        <hr />
        <div class="col-md-12">
            <!--maribel: personal permanente ogm-tabla3 -->
            <div class="col-md-7">
			<form method="post" id="anyofiscal_form" role="form" novalidate class="pull-right">
			    {% csrf_token %}
			    <input type="hidden" name="reporte" value="ogm2"></button>			                      
			    <button type="submit" class="btn btn-success btn-xs" title="Descargar en Excel" name="excel">
			      <span class="glyphicon glyphicon-download-alt"></span>
			      <span class="text">Excel</span>
			    </button>
			</form>             
                <h3>Eficiencia en la ejecución del gasto de personal permanente</h3>
                <h4>Gastos en millones de córdobas corrientes</h3>
                <table class="table table-condensed">                                       
                    <tr class="info"> <th>Rubro</th> <th>Inicial</th> <th>Ejecutado</th> <th>% (ejecutado/inicial)</th></tr>
                    {% for row in rubrosp %}                                                     
                    <tr>                                                                        
                        <td class="capfirst">{{ row.subsubtipogasto__nombre }}</td>                                    
                        <td>{{ row.asignado|intcomma }}</td>                                    
                        <td>{{ row.ejecutado|intcomma }}</td>                                   
                        {% if row.asignado %}                                                   
                            <td class="montos">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                        {% endif %}                                                             
                    </tr>                                                                       
                    {% endfor %}                                                                
                    <tr class="success bold">                                                   
                        <td>TOTAL</td>                                                          
                        <td>{{ asignado|intcomma }}</td>                                        
                        <td>{{ ejecutado|intcomma }}</td>                                       
                        <td class="montos">{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%</td>
                    </tr>       
                </table>                                                                    
                <!-- /fin ogm-tabla3 -->                                                      
            </div>

            <!-- maribel 06/07 gftabla4 nacional -->
            {% if not municipio %}
                <div class="col-md-5">
			<form method="post" id="anyofiscal_form" role="form" novalidate class="pull-right">
			    {% csrf_token %}
			    <input type="hidden" name="reporte" value="ogm3"></button>			                      
			    <button type="submit" class="btn btn-success btn-xs" title="Descargar en Excel" name="excel">
			      <span class="glyphicon glyphicon-download-alt"></span>
			      <span class="text">Excel</span>
			    </button>
			</form>                  
                <h3>Gastos de personal por habitante en cada categoría municipal</h3>
                <h4 class="text-info">Córdobas Corrientes</h4>
                <table class="table table-condensed">
                    <tr class="info"><th>Categoría de municipio</th> <th>Asignado</th> <th>Ejecutado</th></tr>
                    {% for row in porclasep %}
                    <tr>
                        <td>{{ row.clasificacion }}</td>
                        <td class="tex-center">{% if row.asignado %}{{ row.asignado|floatformat:2 }}{% else %} 0 {% endif %}</td>
                        <td>{% if row.ejecutado %}{{ row.ejecutado|floatformat:2 }} {% else %} 0 {% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr class="success">
                        <td><strong>TOTAL</strong></td>
                        <td><strong>{{ porclasep|total_sum:'asignado'|floatformat:2 }}</strong></td>
                        <td><strong>{{ porclasep|total_sum:'ejecutado'|floatformat:2 }}</strong></td>
                    </tr>
                </table>
                </div>
            {% endif%}
            <!-- /fin ogm-tabla4 nacional-->
            <!-- maribel 20/07 ogm-tabla4-municipal -->
            {% if municipio %}
                <div class="col-md-5">
                <h3>Ranquin de municipio de misma categoría municipal</h3>
                <h4 class="text-info">Millones de córdobas corrientes por habitante</h4>
                <table class="table table-condensed">
                    <tr class="info"><th>Posición</th><th>Municipios</th> <th>P. Inicial</th> <th>Ejecución</th></tr>
                    {% for row in otros %}
                        {% if municipio.slug == row.gasto__municipio__slug%}
                        <tr class="info">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td> {{forloop.counter}} </td>
                            <td>{{ row.gasto__municipio__nombre }}</td>
                            <td>{{ row.asignado_percent }}</td>
                            <td class="info">{{ row.ejecutado_percent }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="success">
                        <td>TOTAL</td>
                        <td>{{ otros|total_sum:'asignado'|floatformat:2 }}</td>
                        <td>{{ otros|total_sum:'ejecutado'|floatformat:2 }}</td>
                    </tr>
                </table>
                </div>
            {% endif %}
            <!-- /fin ogm-tabla4-municipal -->
        </div>

        <div class="col-md-12 graficos-azul">                                   
            <div class="col-md-8">                                                
                <h3>Destino del gastos</h3> 
                <div class="col-md-12">
                    <div id='tipo'> Chart will be rendered here </div>
                </div>
            </div>
            <div class="col-md-4">
              <h3>Ejecuci&oacute;n Presupuestaria</h3>
                <div class="col-md-12">
                    <div id='comparativo2'> Chart will be rendered here </div>
                    <div id='ejecutado' class="visible-xs"> Chart will be rendered here </div>
                </div>
            </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimmodificacion" aria-labelledby="oimmodificacion-tab">
        <!-- maribel 20/07 ogm-tabla5 -->
			<form method="post" id="anyofiscal_form" role="form" novalidate class="pull-right">
			    {% csrf_token %}
			    <input type="hidden" name="reporte" value="ogm4"></button>			                      
			    <button type="submit" class="btn btn-success btn-xs" title="Descargar en Excel" name="excel">
			      <span class="glyphicon glyphicon-download-alt"></span>
			      <span class="text">Excel</span>
			    </button>
			</form>         
        <h3>Modificaciones al presupuesto municipal de gastos</h3>
        <h4 class="text-info">Millones de córdobas corrientes</h4>
        <table class="table table-condensed">
            <tr class="info"> <th>Rubros del gasto</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th>% Ejecutado/Actualizado</th></tr>
            {% for row in rubros %}
                <tr>
                    <td class="pull-left">{{ row.tipogasto__nombre }}</td>
                    <td>{{ row.asignado|intcomma }}</td>
                    <td>{{ row.actualizado|intcomma }}</td>
                    <td>{% if row.actualizado %}{{ row.actualizado|sub:row.asignado|intcomma }}{% else %}0{% endif %}</td>
                    <td>{{ row.ejecutado|intcomma }}</td>
                    {% if row.actualizado %}
                        <td class="montos">{{ row.ejecutado|div:row.actualizado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr class="success bold">
                <td>TOTAL</td>
                <td>{{ rubros|total_sum:'asignado'|intcomma }}</td>
                <td>{{ rubros|total_sum:'actualizado'|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'asignado' %}
                    <td class="montos">
                    {% if rubros|total_sum:'actualizado' %}
                        {{ rubros|total_sum:'actualizado'|sub:sum_asignado|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td>{{ rubros|total_sum:'ejecutado'|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado' %}
                    <td class="montos">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
        </table>
        <br />
        <!-- /fin ogm-tabla5 -->
        <!-- maribeli 20/07 ogm-tabla6 -->
        <h3>Modificacion al presupuesto municipal del gasto de personal permanente</h3>
        <h4 class="text-info">Millones de córdobas corrientes</h4>
        <table class="table table-condensed">
            <tr class="info"> <th>Rubros del gasto</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th>% Ejecutado/Actualizado</th></tr>
            {% for row in rubrosp %}
                <tr>
                    <td class="pull-left">{{ row.subsubtipogasto__nombre }}</td>
                    <td>{{ row.asignado|intcomma }}</td>
                    <td>{{ row.actualizado|intcomma }}</td>
                    <td>{% if row.actualizado %}{{ row.actualizado|sub:row.asignado|intcomma }}{% else %}0{% endif %}</td>
                    <td>{{ row.ejecutado|intcomma }}</td>
                    {% if row.actualizado %}
                        <td class="montos">{{ row.ejecutado|div:row.actualizado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr class="success bold">
                <td>TOTAL</td>
                <td>{{ rubros|total_sum:'asignado'|intcomma }}</td>
                <td>{{ rubros|total_sum:'actualizado'|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'asignado' %}
                    <td class="montos">
                    {% if rubros|total_sum:'actualizado' %}
                        {{ rubros|total_sum:'actualizado'|sub:sum_asignado|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td>{{ rubros|total_sum:'ejecutado'|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado' %}
                    <td class="montos">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
        </table>

        <h3>Ejecuci&oacute;n Presupuestaria {{ anio }}</h3>
        <div id='comparativo3' class="col-md-10"> Chart will be rendered here </div>
        <div id='barra' class="col-md-10 visible-xs"> Chart will be rendered here </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimorigen" aria-labelledby="oimorigen-tab">
        <!--maribel 20/07 ogm-tabla 7 -->
        <div class="col-md-6">
            <h3>Ejecución presupuestaria del gasto sector municipal</h3>
            <h4 class="text-info">Millones de córdobas corrientes</h4>
            <table class="table table-condensed">
                <tr class="info"><th>Años</th> <th>Inicial</th> <th>Ejecutado</th> <th>% Ejecutado/Inicial</th></tr>
                {% for row in anuales %}
                <tr>
                    <td>{{ row.gasto__anio }}</td>
                    <td>{{ row.asignado|intcomma }}</td>
                    <td>{{ row.ejecutado|intcomma }}</td>
                    {% if row.asignado %}
                        <td class="montos">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                 </tr>
                {% endfor %}
                <tr class="success bold">
                    <td>TOTAL</td>
                    <td>{{ anuales|total_sum:'asignado'|intcomma }}</td>
                    <td>{{ anuales|total_sum:'ejecutado'|intcomma }}</td>
                    {% with total_sum_asignado=anuales|total_sum:'asignado' %}</td>
                    <td class="montos">{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
                    {% endwith %}
                </tr>
            </table>
        </div>
        <!-- /fin gftabla7 -->
        <!--maribel 20/07 ogm-tabla 8 -->
        <div class="col-md-12">
            <h3>Gastos por períodos</h3>
            <h4 class="text-info">Millones de c&oacute;rdoba corrientes</h4>
            <table class="table table-condensed">
                <tr  class="info">
                    <th>Rubro</th>
                    {% for year in year_list %}
                        <th>{{ year }}</th>
                    {% endfor %}
                </tr>
                {% for key, data in porano.items %}
                <tr>
                    <td class="text-left">{{ key }}</td>
                    {% for year in year_list %}
                    <td>{{ data|keyvalue:year|intword }}</td>
                    {% endfor %}
                   <!--td>{{ data.extra }}</td-->
                   <!-- old-fashioned way:
                     {% for subkey, subdata in data.items %}
                       <td>{{ subkey }} = {{ subdata| intword}}</td>
                       {% endfor %}
                   -->
                </tr>
                {% endfor %}
            </table>
        </div>
        <!--fin ogm-tabla8 -->
        <div class="col-md-12">
            <h3>Gastos de funcionamiento</h3>
            <h4>Municipio de {{ municipio}} y Categoría del Municipio {{ year }}</h4>
            <h4 class="text-info">Millones de córdobas corrientes</h4>
            <div id='comparativo_anios' class="col-md-10"></div>
        </div>
        <hr />
        <div class="col-md-12">
            <h3>Gastos del municipio vs Promedio de la categor&iacute;a</h3>
            <div id='comparativo_anios' class="col-md-10"> Chart will be rendered here </div>
        </div>
        <div id='asignado_barra' class="visible-xs"> Chart will be rendered here </div>
      </div>
    </div>
</div>
{% endblock %}
