{% extends "_indicator.html" %}
{% load static thumbnail chartit %}
{% load humanize %}
{% load mathfilters %}
{% load core_extras %}
{# TODO: Replace this by django-seo2 #}
{% block titulo %}
{{ municipio }}
{% endblock %}

{% block custom_header_links %}
    <link rel="stylesheet" href="{% static 'css/linea_basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bubbletree.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}" />
{% endblock %}
{% block custom_footer_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.history.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
    <script type="text/javascript  " src="{% static 'js/Tween.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bubbletree.js' %}"></script>
    <script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/aggregator.js"></script>
    <script type="text/javascript" src="{% static 'js/cofog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bar-chart.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            var $tooltip = $('<div class="tooltip">Tooltip</div>');
            $('.bubbletree').append($tooltip);
            $tooltip.hide();

            var tooltip = function(event) {
                if (event.type == 'SHOW') {
                    // show tooltip
                    vis4.log(event);
                    $tooltip.css({
                        left: event.mousePos.x + 4,
                        top: event.mousePos.y + 4
                    });
                    $tooltip.html(event.node.label+' <b>'+event.node.famount+'</b>');
                    var bubble = event.target;

                    $tooltip.show();
                } else {
                    // hide tooltip
                    $tooltip.hide();
                }
            };
            var data = {{ bubble_data|safe }}
            $.each( data['children'], function( key, value ) {
                data['children'][key]['color'] =  vis4color.fromHSL(key/data.children.length*360, .7, .5).x;
                var node_color =  vis4color.fromHSL(key/data.children.length*360, .7, .5).x;
                $.each(data['children'][key]['children'], function(j, val){
                    data['children'][key]['children'][j]['color'] =  vis4color.fromHex(node_color).lightness('*'+(.5+Math.random()*.5)).x;
                });
            });

            new BubbleTree({
                data: data,
                container: '.bubbletree',
                bubbleType: 'icon',
                bubbleStyles: {
                    'cofog': BubbleTree.Styles.Cofog
                },
                formatValue: function(value) {
                    return 'C$ ' + value + 'M';
                }
            });
        });
    </script>
    <script>
    $('#oimTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    });
    $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                            placement : 'top'
                        });
            });
    </script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/pma.js' %}"></script>
    {% if municipio and charts.4 %}
    {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2,comparativo3, tipo, asignado_barra, barra" }}
    {% else %}
	{{ charts|load_charts:"ejecutado,comparativo2,tipo,comparativo3,comparativo_anios" }}
    {% endif %}

{% endblock %}

    {% block header_title %}
    <h2 class="text-center">{% if municipio %}<strong>{{ municipio }}</strong><br/>{% endif %} Origen de los ingresos <strong>{% if year %}{{ year }}{% else %}2015 {% endif %}</strong></h2>
    {% endblock %}

    {% block header_summary %}
    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon pma-icon initial">
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Inicial {{ asignado|million|intcomma }}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-4 pma-fg-white">
        <div class="info-box">
            <span class="info-box-icon pma-icon executed">
            </span>
            <div class="info-box-content">
                <span class="info-box-text">
                {% if year != '2016' %}
                Ejecutado {{ ejecutado|million|intcomma }}
                {% endif %}
                </span>
                <span class="info-box-number pma-green"></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon pma-icon municipality-category">
            </span>
            <div class="info-box-content">
                {% if municipio %}
                {% endif %}
                <span class="info-box-text">Categor&iacute;a de municipio {{ mi_clase.clasificacion }}</span>
                <span class="info-box-number pma-green"></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    {% endblock %}

{% block section1 %}
<div class="container">
    <div class="row">
        <h2> <strong>Ingresos del período</strong> <br/></h2>
        <hr class="pma-line-1">
        <div class="col-md-7">
            <div class="chart-update col-md-1 float-left">
                    <span class="pma-icon pe-7s-bubble pma-fg-gray"
                        aria-hidden="true" id="chart-bubble-1"></span>
                    <span id="chart-pie-1" class="pma-icon pe-7s-graph
                        pma-fg-gray" aria-hidden="true"></span>
                    <span id="chart-bar-1" class="pma-icon pe-7s-graph3 pma-fg-gray" aria-hidden="true"></span>
                    <span class="pma-icon pe-7s-graph2 pma-fg-gray"
                        aria-hidden="true" id="icons"></span>
            </div>
            <div class="col-md-11 bubbletree-container chart-container">
                <div id="bubble-1" class="bubbletree-wrapper view-main">
                    <div class="bubbletree"></div>
                </div>
                <div id="ejecutado" class="view-alternative"> Pastel Ejecucion por
                Rubros </div>
                <div id="comparativo2" class="view-alternative"> Chart will be rendered here
                </div>
                <div id="icons" class="view-alternative">
                </div>
            </div>
        </div>
        <div class="col-md-5 table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="">
                        <th>Rubros de ingresos</th>
                        <th class="text-right">Inicial</th>
                        <th class="text-right">Ejecutado</th>
                    </tr>
                </thead>
                {% for row in rubros %}
                <tr>
                    <td>{{ row.subsubtipoingreso__origen__nombre}}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma|default:"0" }}</td>
                </tr>
                {% endfor %}
                <tfoot>
                    <tr class="">
                        <td>TOTAL</td>
                        <td class="text-right">{{ asignado|million|intcomma }}</td>
                        <td class="text-right">{{ejecutado|million|intcomma|default:"0" }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block section2 %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 table-responsive">
            {% if not municipio %}
            <h2><strong>Recaudación por habitante</strong><br/>Córdobas Corrientes</h2>
            <hr class="pma-line-1">
            <h3>  según categoría de municipios</h3>
            <table class="table table-condensed">
                <tr class="">
                    <th>Categoría de municipio</th>
                    <th>Presupuestado</th>
                    {% if year != '2016' %}<th>Ejecutado</th>{% endif %}</tr>
                {% for row in porclasep %}
                <tr>
                    <td class="text-center">{{ row.clasificacion }}</td>
                    <td class="text-right">{% if row.asignado %}{{ row.asignado|floatformat:2|intcomma }}{% else %} 0 {% endif %}</td>
                    {% if year != '2016' %}
                    <td class="text-right">{% if row.ejecutado %}{{ row.ejecutado|floatformat:2|intcomma }} {% else %} 0 {% endif %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr class="">
                    <td><strong>Media NacionaL</strong></td>
                    <td class="text-right"><strong>{{ porclasep|total_sum:'asignado'|floatformat:2|intcomma }}</strong></td>
                    <td class="text-right"><strong>{{ porclasep|total_sum:'ejecutado'|floatformat:2|intcomma }}</strong></td>
                </tr>
            </table>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}
{% block section3 %}
<div class="pma-gradient">
    <div class="container wide">
        <div class="row">
            <div class="col-md-12 text-center">
            {% if year == '2016' %}
            <h2>Recaudación por habitante</h2>
            {% else %}
            <h2>Ranking de recaudación por habitante categoría municipal
                "{{ mi_clase.clasificacion }}"</h2>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block section4 %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="timeline">
                <!-- <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        </div>
                    </div>
                </li> -->
                {% for row in otros|dictsortreversed:"asignado_percent" %}
                <li{% if forloop.counter|divisibleby:2 %} class="timeline-inverted"{% endif %}>
                    <div class="timeline-badge primary"><i class="icon
                            icon-basic-gunsight"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{ row.ingreso__municipio__nombre }}</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Asignado: {{ row.asignado_percent|intcomma }}</p>
                        {% if year != '2016' %}
                        <p>ejecutado: {{ row.ejecutado_percent|intcomma }}</p>
                        {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 table-responsive">
            <h4 class="text-info">Córdobas corrientes por habitante</h4>
            <table class="table table-condensed table-striped">
                <tr class="">
                    <th>Posición</th>
                    <th>Municipios</th>
                    <th>P. Inicial</th>{% if year != '2016' %}
                    <th>Ejecución</th>{% endif %}</tr>
                {% if ejecutado <= 0 %}
                {% for row in otros|dictsortreversed:"asignado_percent" %}
                {% if municipio.slug == row.ingreso__municipio__slug%} <tr class="info">
                    {% else %}
                    <tr>
                        {% endif %}
                        <td class="text-center"> {{forloop.counter}} </td>
                        <td>{{ row.ingreso__municipio__nombre }}</td>
                        <td class="text-right">{{ row.asignado_percent|intcomma }}</td>
                        {% if year != '2016' %}
                        <td class="text-right">{{ row.ejecutado_percent|intcomma }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for row in otros %}
                    {% if municipio.slug == row.ingreso__municipio__slug%}
                    <tr class="info">
                        {% else %}
                        <tr>
                            {% endif %}
                            <td class="text-center"> {{forloop.counter}} </td>
                            <td>{{ row.ingreso__municipio__nombre }}</td>
                            <td class="text-right">{{ row.asignado_percent|intcomma }}</td>
                            {% if year != '2016' %}
                            <td class="text-right">{{ row.ejecutado_percent|intcomma }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %} {% endif %}

                        <tr class="">
                            <td colspan="2">TOTAL</td>
                            <td class="text-right">
                                {% if numerador > 0 %}
                                    {% with numerator=otros|total_sum:'asignado' denominator=otros|total_sum:'poblacion' %} {{ numerator|div:denominator|floatformat:2|intcomma }} {% endwith %}
                                {% endif %}
                            </td>
                            {% if year != '2016' %}
                            <td class="text-right">
                                {% if denominador > 0 %}
                                    {% with numerator=otros|total_sum:'ejecutado' denominator=otros|total_sum:'poblacion' %} {{ numerator|div:denominator|floatformat:2|intcomma }} {% endwith %}
                                {% endif %}
                            </td>
                            {% endif %}
                            <td></td>
                        </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block section5 %}
<div class="pma-gradient">
    <div class="container wide">
        <div class="row">
            <div class="col-md-12 text-center">
            <h2>Información histórica
                "{{ mi_clase.clasificacion }}"</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block section6 %}
<div class="container">
    <div class="row">
        <h2> <strong>Modificaciones al presupuesto municipal de ingresos</strong> <br/></h2>
        <hr class="pma-line-1">
        <h5 class="text-info">Datos en millones de córdobas corrientes
        </h5>
         <div class="collapse" id="collapsemodificacion">
            <div class="well">
                <div class="col-md-3 pull-left">Las transferencias se asigna cada año según los criterios establecido en la ley de transferencias y están distribuidas en gatos corrientes y capital.<p></div>
                <div class="col-md-7"><div id='comparativo3'> Chart will be rendered here </div></div>
            </div>
        </div>
        <div class="col-md-11">
        <table class="table table-condensed">
            <tr>
                <td></td>
                <td></td>
                <td colspan="4" class="warning text-center">
                    <h4>Modificación intermedia
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-info">*</a>
                    </h4>
                </td>
                <td colspan="4" class="danger text-center">
                    <h4>Modificación al cierre
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
                    </h4>
                </td>
            </tr>
            <tr class="info"> <th>Rubros de ingresos</th> <th>Inicial</th>
                <th class="warning"> Actualizado</th> <th
                    class="warning">Modificación</th> <th
                    class="warning">Ejecutado</th> <th class="warning"><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
            </tr>
            {% for row in rubros %}
                <tr>
                    <td class="pull-left">{{ row.subsubtipoingreso__origen__nombre}}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>

                    <td class="warning text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="warning text-right">{% if row.actualizado_asignado and row.inicial_asignado %}{{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="warning text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                    {% if row.actualizado_asignado %}
                        <td class="warning montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        <td class="success montos">0</td>
                    {% endif %}

                    <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif %}</td>
                    <td class="danger text-right">{% if row.final_asignado %}{{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="danger text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                    {% if row.final_asignado %}
                        <td class="danger montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}

                </tr>
            {% endfor %}
            <tr class="success bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'actualizado_asignado' %}
                        {{ rubros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ rubros|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'final_asignado' %}
                        {{ rubros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
        </table>
        <h2> <strong>Ejecución presupuestaria del ingreso total. {% if not municipio %}Consolidado municipal {% endif %}</strong> <br/></h2>
        <hr class="pma-line-1">
        <h5 class="text-info">Datos en millones de córdobas corrientes
        </h5>
            <table class="table table-condensed">
                <tr class="info"><th>Años</th> <th>Inicial</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th></tr>
                {% for row in anuales %}
                <tr>
                    <td>{{ row.ingreso__anio }}</td>
                    <td class="text-right">{{ row.asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% if row.asignado %}
                        <td class="montos text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:2 }}%</td>
                    {% endif %}
                 </tr>
                {% endfor %}
                <tr class="success bold">
                    <td>TOTAL</td>
                    <td class="text-right">{{ anuales|total_sum:'asignado'|million|intcomma }}</td>
                    <td class="text-right">{{ anuales|total_sum:'ejecutado'|million|intcomma }}</td>
                    {% with total_sum_asignado=anuales|total_sum:'asignado' %}</td>
                    <td class="montos">{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:2 }}%</td>
                    {% endwith %}
                </tr>
            </table>
    </div>
</div>
{% endblock %}
