{% extends "base.html" %}
{% load static thumbnail chartit %}
{% load humanize %} 
{% load core_extras %} 
{% block titulo %}
{{ request.GET.municipio|capfirst }}
{% endblock %}

{% block main_content %}
    <h2 class="title">Origen de los ingresos {{ anio }}</h2>
    <form method="GET">
    <select name="year">
    {% for year in year_list %}
        <option {% if year == request.GET.year|add:"0" %}selected{% endif %} value="{{year}}">{{year}}</option>
    {% endfor %}
    </select>
    <select name="municipio">
    <option value="">--</option>
    {% for municipio in municipio_list %}
        <option {% if municipio.slug == request.GET.municipio %}selected{% endif %} value="{{municipio.slug}}">{{municipio}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Submit"/>
    </form>
    <ul id="oimTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">Asignado y ejecutado anual</a></li>
        <li role="presentation"><a href="#oimmodificacion" aria-controls="oimmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#oimorigen" aria-controls="oimorigen" role="tab" data-toggle="tab">Informaci&oacute;n hist&oacute;rica</a></li>
    </ul>
    {% if municipio and charts.4 %}
        {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo, asignado_barra, barra2" }}
    {% else %}
        {{ charts|load_charts:"ejecutado, comparativo_anios, comparativo2, comparativo3, tipo, asignado_barra, barra2" }}
    {% endif %}
    <div id="oimTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">
          <div class="col-md-5">
              <h3>Ingresos totales</h3>
            {% for total in totales %}
              <div class="row totales">
                <div class="col-md-9 text-left">
                    <img src="/static/img/{{ total.subsubtipoingreso__origen__nombre }}.png" class="pull-left" height="40" alt="{{ total.subsubtipoingreso__origen__nombre }}" />
                    <h4>{{ total.subsubtipoingreso__origen__nombre }}</h4> 
                </div>
                <div class="col-md-3">
                    <span class="btn btn-info col-md-12">{{ total.percent }} %</span>
                    {% with ''|center:total.percent as range %}
                    {% for i in range %}
                    {% endfor %}
                    {% endwith %}
                </div>
              </div>
            {% endfor %}
          </div>
        <div class="col-md-7">
           <h3>Ingresos totales</h3>
          <table class="table table-condensed">
            <tr class="info">
              <th></th>
              <th>{{ anio }}</th>
              {% if municipio %}
              <th>Promedio de categor&iacute;a</th>
              {% endif %}
            </tr>
            {% for key, data in porano.items %}
             <tr>
               <td class="text-left">{{ key }}</td>
               <td class="text-center">{{ data|keyvalue:anio|intword }}</td>
              {% if municipio %}
               <td>{{ data.extra|intword }}</td>
              {% endif %}
             </tr>
           {% endfor %}
          </table>
        </div>
        <div class="col-md-12 graficos-azul">
          <div class="col-md-8">
              <h3>Origen de los Ingresos </h3>
            <div id='tipo'> Chart will be rendered here </div>
          </div>
          <div class="col-md-4">
              <h3>Ejecuci&oacute;n Presupuestaria</h3>
            <div id='comparativo2'> Chart will be rendered here </div>
          </div>
          <div class="col-md-6 visible-xs">
            <div id='ejecutado'> Chart will be rendered here </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimmodificacion" aria-labelledby="oimmodificacion-tab">
            <h3>Ejecuci&oacute;n Presupuestaria {{ anio }}</h3>
          <div class="col-md-3 pull-left">Las transferencias se asigna cada año según los criterios establecido en la ley de transferencias y están distribuidas en gatos corrientes y capital.<p></div>
          <div id='comparativo3' class="col-md-7"> Chart will be rendered here </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oimorigen" aria-labelledby="oimorigen-tab">
          <h3>Ingresos Totales</h3>
          <table class="table table-condensed">
            <tr class="info">
              <th></th>
              {% for year in year_list %}
                <th class="text-center">{{ year }}</th>
              {% endfor %}
            </tr>
            {% for key, data in porano.items %}
             <tr>
               <td class="text-left">{{ key }}</td>
               {% for year in year_list %}
                 <td class="text-right">{{ data|keyvalue:year|intcomma }}</td>
               {% endfor %}
               <!-- old-fashioned way:
               {% for subkey, subdata in data.items %}
               <td>{{ subkey }} = {{ subdata| intword}}</td>
               {% endfor %}
                -->
             </tr>
           {% endfor %}
          </table>
          <div class="col-md-12">
            <h3>Ingresos del municipio vs Promedio de la categor&iacute;a</h3>
            <h4 class="text-primary">Presupuesto Inicial y Final</h4>
            <div id='comparativo_anios' class="col-md-10"> Chart will be rendered here </div>
          </div>
          <div class="clear"></div>
          <hr />
          <!--div class="col-md-12">
            <div id='asignado_barra' class="col-md-10"> Chart will be rendered here </div>
          </div-->
      </div>
    </div>
</div>


{% endblock %}


<script>
$('#oimTab a').click(function (e) {
  e.preventDefault()
    $(this).tab('show')
    })
</script>
