{% extends "_page.html" %}
{% load static thumbnail chartit %}
{% load humanize %}
{% load mathfilters %}
{% load core_extras %}
{# TODO: Replace this by django-seo2 #}
{% block titulo %}
{{ municipio }}
{% endblock %}

{% block custom_header_links %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/bubbletree.css' %}" />
{% endblock %}
{% block custom_footer_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.history.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Tween.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bubbletree.js' %}"></script>
    <script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/aggregator.js"></script>
    <script type="text/javascript" src="{% static 'js/cofog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bar-chart.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            var $tooltip = $('<div class="tooltip">Tooltip</div>');
            $('.bubbletree').append($tooltip);
            $tooltip.hide();

            var tooltip = function(event) {
                if (event.type == 'SHOW') {
                    // show tooltip
                    vis4.log(event);
                    $tooltip.css({
                        left: event.mousePos.x + 4,
                        top: event.mousePos.y + 4
                    });
                    $tooltip.html(event.node.label+' <b>'+event.node.famount+'</b>');
                    var bubble = event.target;

                    $tooltip.show();
                } else {
                    // hide tooltip
                    $tooltip.hide();
                }
            };
            var data = {{ bubble_data|safe }}
            $.each( data['children'], function( key, value ) {
                data['children'][key]['color'] =  vis4color.fromHSL(key/data.children.length*360, .7, .5).x;
                var node_color =  vis4color.fromHSL(key/data.children.length*360, .7, .5).x;
                $.each(data['children'][key]['children'], function(j, val){
                    data['children'][key]['children'][j]['color'] =  vis4color.fromHex(node_color).lightness('*'+(.5+Math.random()*.5)).x;
                });
            });

            new BubbleTree({
                data: data,
                container: '.bubbletree',
                bubbleType: 'icon',
                bubbleStyles: {
                    'cofog': BubbleTree.Styles.Cofog
                },
                formatValue: function(value) {
                    return 'C$ ' + value.toString() + 'M';
                }
            });
        });
    </script>
    <script>
    $('#oimTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    });
    $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                            placement : 'top'
                        });
            });
    </script>
{% endblock %}

    {% block header %}
    <div class="pma-hero">
        <div class="container ">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="text-center"> Origen de los ingresos {% if municipio %}<strong> {{ municipio }} </strong>{% endif %}</h2>
                    <h4 class="text-center">{% if year %}{{ year }}{% else %}2015 {% endif %}</h4>
                    <div>
                        {% block illustration %}

                        {% endblock %}
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block section1 %}
                        <div class="bubbletree-container">
                            <div class="bubbletree-wrapper">
                                <div class="bubbletree"></div>
                            </div>
                        </div>
{% endblock %}
