<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> Django Chartit Demo - {{title}} </title>
{% load static %}
    <script src="/static/jquery-1.11.2.min.js"></script>
    <script src="/static/highcharts.js"></script>
</head>
<body>
    {% load chartit %}
    {{ oimpiechart|load_charts:"container" }}
    <div id='container'> Chart will be rendered here </div>
</body>
</html>
