{% extends "base.html" %}
{% load static thumbnail chartit humanize %}
{% load mathfilters %}
{% load core_extras %} 
{% block main_content %}
    <div class="col-md-12 text-centered">
        <div class="pull-left col-md-6">
        	{% descargar_excel "gp-all" %}
            <h2 class="title">Gastos de personal {{ municipio }} {{ year }} </h2>
        </div>
        <div class="pull-left">
            <button type="button" class="btn btn-danger btn-xs" data-toggle="popover" data-trigger="hover" title="&iquest;Qué significa?" data-content="Indica el porcentaje que los municipios  a nivel ... FIXME ">?</button>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myVideo">
                video <i class="fa fa-video-camera icon-large"></i>
            </button>
        </div>
        <!-- video modal -->
        <div class="modal fade" id="myVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">&iquest; Qué son los gastos de personal?</h4>
                  </div>
                  <div class="modal-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9Kv6H2NLQCU" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="span12 search">
        <form method="GET">
        <select name="year">
        {% for ayear in year_list %}
            <option {% if ayear == year|add:"0" %}selected{% endif %} value="{{ayear}}">{{ayear}}</option>
        {% endfor %}
        </select>
        <select name="municipio">
            <option value="">Consolidado Municipal</option>
            {% for amunicipio in municipio_list %}
                <option {% if amunicipio.slug == municipio.slug %}selected{% endif %} value="{{amunicipio.slug}}">{{amunicipio}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Buscar" class="btn btn-primary"/>
        </form>
    </div>
    <ul id="gfTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#asignados" aria-controls="asignados" role="tab" data-toggle="tab">P. Inicial y ejecutado anual</a></li>
        <li role="presentation"><a href="#modificacion" aria-controls="gfmodificacion" role="tab" data-toggle="tab">Modificaciones al presupuesto</a></li>
        <li role="presentation"><a href="#cierre" aria-controls="gforigen" role="tab" data-toggle="tab">Información histórica</a></li>
    </ul>
    <div class="clearfix"></div>

    {% if municipio %}
        {{ charts|load_charts:"gfbar, barra, pie, comparativo2, comparativo3, comparativo_anios," }}
    {% else %}
        {{ charts|load_charts:"gfbar, barra, pie, comparativo2, comparativo3, comparativo_anios, nivelejecucion" }}
    {% endif %}
    <div id="gfTabContent" class="tab-content col-md-12">

    <!--TAB1-->
    <div role="tabpanel" class="tab-pane fade active in" id="asignados" aria-labelledby="asignados-tab">

    <!--Gastos de personal resumen -->
    <div class="row alert alert-success">
        <div class="col-md-12">
            <div class="col-md-4">
                <img src="{% static 'img/gfasignado.png' %}" class="img-responsive margen pull-left" alt="Gasto de personal asignado" />
                <h3 class="titular" data-toggle="popover" title="Presupuestado" data-content="Indica el porcentaje que los municipios  a nivel nacional destinaron para cubrir los gastos de administración y prestación de los">Presupuesto inicial</h3>
                <span class="cifra grande text-primary">{{ asignado|million|intcomma }}</span>
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/gf.png' %}" class="img-responsive margen pull-left" alt="Gasto de personal asignado" />
                <h3>Ejecutado </h3><span class="cifra text-warning grande">{{ ejecutado|million|intcomma }}</span>
            </div>
            {% if municipio %}
            <div class="col-md-4">
                <img src="{% static 'img/categoria2.png' %}" class="img-responsive margen pull-left" alt="Categoria de municipio" />
                <h3>Categor&iacute;a de municipio </h3><span class="cifra text-success grande">{{ mi_clase.clasificacion }}</span>
            </div>
            {% endif %}
        </div>
    </div>
    <!--Fin de resumen-->

    {% if not municipio %}
        <div class="col-md-5">
        <!-- javier 16/julio gftabla1 nacional -->
        <h3>Porcentaje destinado a gastos de personal</h3>
        <h4 class="text-info">por categoría de Municipios</h4>

        <table class="table table-condensed">
            <tr class="info"><th>Categoría</th> <th>P. Inicial</th> <th>Ejecutado</th></tr>
            {% for row in porclasep %}
                <tr>
                    <td class="text-center">{{ row.clasificacion }}</td>
                    <td class="text-right">{% if row.asignado %}{{ row.asignado|floatformat:2 }}%{% else %} 0% {% endif %}</td>
                    <td class="text-right">{% if row.ejecutado %}{{ row.ejecutado|floatformat:2 }}% {% else %} 0% {% endif %}</td>
                </tr>
            {% endfor %}
            <tr class="success">
                <td><strong>PROMEDIO</strong></td>
                <td class="text-right"><strong>{{ porclasep|total_avg:'asignado'|floatformat:1 }}%</strong></td>
                <td class="text-right"><strong>{{ porclasep|total_avg:'ejecutado'|floatformat:1 }}%</strong></td>
            </tr>
        </table>
        <!-- /fin gftabla1 nacional-->
        </div>
    {% endif %}

    <!--maribel:   20/07/2015 -->

    {% if municipio %}
    <div class="col-md-5">
    <!-- javier 7/junio gftabla1 -->
    <h3>Ranquin de municipio de misma categoría municipal</h3>
    <h4 class="text-info">Porcentaje del gasto total destinado a gastos de funcionamiento</h4>
    <table class="table table-condensed">
        <tr class="info"><th>Posición</th><th>Municipios</th> <th>P. Inicial</th> <th>Ejecución</th></tr>
    {% for row in otros %}
        {% if municipio.slug == row.gasto__municipio__slug%}
            <tr class="info">
        {% else %}
            <tr>
        {% endif %}
        <td> {{forloop.counter}} </td>
        <td>{{ row.gasto__municipio__nombre }}</td>
        <td class="text-right">{{ row.asignado_percent }}%</td>
        <td class="text-right info">{{ row.ejecutado_percent }}%</td>
    </tr>
    {% endfor %}
    <tr class="success">
        <td>PROMEDIO</td>
        <td>{{ otros|total_avg:'asignado_percent'|floatformat:1 }}%</td>
        <td>{{ otros|total_avg:'ejecutado_percent'|floatformat:1 }}%</td>
    </tr>
    </table>
    <!-- /fin gftabla1 -->
    </div>
    {% endif %}

    <div class="col-md-7">
    <!-- javier 7/junio gftabla2 -->
    {% descargar_excel "gp1" %}
    <h3>Resultado presupuestario gastos de personal</h3>
    <h4 class="text-info">Millones de córdobas corrientes
        <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsegrafico1"  aria-expanded="false" aria-controls="collapseGrafico1">Ver gráfico </a>
    </h4>
    <hr />
    <div class="collapse col-md-4" id="collapsegrafico1">
        <div class="well">
            <div id='comparativo2' class="col-md-6"> Chart will be rendered here </div>
        </div>
    </div>
    <table class="table table-condensed">
        <tr class="info"> <th>Rubros de gastos de personal</th> <th>Inicial</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
    {% for row in rubros %}
    <tr>
        <td>{{ row.subtipogasto__nombre }}</td>
        <td class="text-right">{{ row.asignado|million|intcomma }}</td>
        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
        {% if row.asignado %}
            <td class="text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td class="text-right">{{ asignado|million|intcomma }}</td>
        <td class="text-right">{{ ejecutado|million|intcomma }}</td>
        <td class="text-right">{{ ejecutado|div:asignado|mul:100|floatformat:1 }}%</td></tr>
    </table>
    <!-- /fin gftabla2 -->
    <h3>Gastos de personal {% if municipio %}municipal{% endif %}</h3>
    <h4>Porcentaje del gasto total</h3>
    <div id='pie'>chart</div>
    
    <!--maribel - FIXME: del funcionamiento antrior -->
    <div id='chart_ejecutado' style="display:none;">chart</div>

    <div id='tipo'>chart</div>

    </div>
    </div>
    <!--Fin TAB1 -->

    <!--TAB2 -->
    <div role="tabpanel" class="tab-pane fade" id="modificacion" aria-labelledby="modificacion-tab">

    <!-- javier 7/junio gftabla3 -->
    {% descargar_excel "gp2" %}
    <h3>Modificaciones al presupuesto municipal</h3>
    <h4 class="text-info">Gasto de personal - millones de córdobas
        <!--a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsegraficomod1"  aria-expanded="false" aria-controls="collapseGraficomod1">Ver gráfico </a-->
    </h4>
    <hr />
    <div class="collapse col-md-4" id="collapsegraficomod1">
        <div class="well">
            <div id='comparativo3' class="col-md-6"> Chart will be rendered here </div>
        </div>
    </div>
   
    <table class="table table-condensed">
        <tr class="info"> <th>Rubros de gastos de personal</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th></tr>
    {% for row in rubros %}
    <tr>
        <td class="pull-left">{{ row.subtipogasto__nombre }}</td>
        <td class="text-right">{{ row.asignado|million|intcomma }}</td>
        <td class="text-right">{{ row.actualizado|million|intcomma }}</td>
        <td class="text-right">{% if row.actualizado %}{{ row.actualizado|sub:row.asignado|million|intcomma }}{% else %}0{% endif %}</td>
        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
        {% if row.actualizado %}
        <td class="text-right">{{ row.ejecutado|div:row.actualizado|mul:100|floatformat:1|intcomma }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td class="text-right">{{ rubros|total_sum:'asignado'|million|intcomma }}</td>
        <td class="text-right">{{ rubros|total_sum:'actualizado'|million|intcomma }}</td>
        {% with sum_asignado=rubros|total_sum:'asignado' %}
        <td class="text-right">
        {% if rubros|total_sum:'actualizado' %}
            {{ rubros|total_sum:'actualizado'|sub:sum_asignado|million|intcomma }}
        {% else %}
            0
        {% endif %}
        </td>
        {% endwith %}
        <td class="text-right">{{ rubros|total_sum:'ejecutado'|million|intcomma }}</td>
        {% with sum_actualizado=rubros|total_sum:'actualizado' %}
        <td class="text-right">
        {% if sum_actualizado %}
        {{ rubros|total_sum:'ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}
        {% endif %}
        </td>
        {% endwith %}
    </tr>
    </table>
    <br />
    <!-- /fin gftabla3 -->
    
    {% if not municipio %}
    <!-- javier 7/junio gftabla4 nacional -->
    {% descargar_excel "gp3" %}
    <h3>Modificaciones al presupuesto municipal por categoría</h3>
    <h4 class="text-info">Millones de córdobas</h4>
    <table  class="table table-condensed">
        <tr class="info"><th>Municipio</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actializado" class="link-info">%</a></th></tr>
    {% for row in porclase %}
    <tr>
        <td>{{ row.clasificacion }}</td>
        <td class="text-right">{% if row.asignado %} {{ row.asignado|million|intcomma }}{% else %}0 {% endif %}</td>
        <td class="text-right">{% if row.actualizado %} {{ row.actualizado|million|intcomma }}{% else %}0 {% endif %}</td>
        <td class="text-right">{% if row.actualizado %} {{ row.actualizado|sub:row.asignado|million|intcomma }}{% else %}0 {% endif %}</td>
        <td class="text-right">{% if row.ejecutado %} {{ row.ejecutado|million|intcomma }}{% else %}0 {% endif %}</td>
        {% if row.actualizado %}
        <td class="text-right">{{ row.ejecutado|div:row.actualizado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td class="text-right">{{ porclase|total_sum:'asignado'|million|intcomma }}</td>
        <td class="text-right">{{ porclase|total_sum:'actualizado'|million|intcomma }}</td>
        {% with sum_asignado=porclase|total_sum:'asignado' %}
        <td class="text-right">
        {% if porclase|total_sum:'actualizado' %}
            {{ porclase|total_sum:'actualizado'|sub:sum_asignado|million|intcomma }}
        {% else %}
            0
        {% endif %}
        </td>
        {% endwith %}
        <td class="text-right">{{ porclase|total_sum:'ejecutado'|million|intcomma }}</td>
        {% with sum_actualizado=porclase|total_sum:'actualizado' %}
        <td class="text-right">
        {% if sum_actualizado %}
        {{ porclase|total_sum:'ejecutado'|div:sum_actualizado|mul:100|million|intcomma}}
        {% endif %}
        </td>
        {% endwith %}
    </tr>
    </table>
    <!-- /fin gftabla4 nacional -->

    {% else %}
    
    <!-- javier 7/junio gftabla4 -->
    {% descargar_excel "gp4" %}
    <h3>Modificación al presupuesto municipios categoría '{{ mi_clase.clasificacion }}'</h3>
    <h4 class="text-info">Millones de córdobas destinado a gastos de funcionamiento por categoría de Municipios</h4>
    <table  class="table table-condensed">
        <tr class="info"><th>Municipio</th> <th>Inicial</th> <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
    {% for row in otros %}
        {% if municipio.slug == row.gasto__municipio__slug%}
            <tr class="info">
        {% else %}
            <tr>
        {% endif %}
        <td>{{ row.gasto__municipio__nombre }}</td>
        <td class="text-right">{{ row.asignado|million|intcomma }}</td>
        <td class="text-right">{{ row.actualizado|million|intcomma }}</td>
        <td class="text-right">{% if row.actualizado %} {{ row.actualizado|sub:row.actualizado|million|intcomma }}{% else %}0 {% endif %}</td>
        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
        {% if row.asignado %}
        <td class="text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td class="text-right">{{ otros|total_sum:'asignado'|million|intcomma }}</td>
        <td class="text-right">{{ otros|total_sum:'actualizado'|million|intcomma }}</td>
        {% with sum_asignado=otros|total_sum:'asignado' %}
        <td class="text-right">
        {% if otros|total_sum:'actualizado' %}
            {{ otros|total_sum:'actualizado'|sub:sum_asignado|million|intcomma }}
        {% else %}
            0
        {% endif %}
        </td>
        {% endwith %}
        <td class="text-right">{{ otros|total_sum:'ejecutado'|million|intcomma }}</td>
        {% with sum_actualizado=otros|total_sum:'actualizado' %}
        <td class="text-right">
        {% if sum_actualizado %}
        {{ otros|total_sum:'ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}
        {% endif %}
        </td>
        {% endwith %}
    </tr>
    </table>
    {% endif %}
    <!-- /fin gftabla4 -->
        <div id='nivelejecucion' class="col-md-10"></div>
        <div id='comparativo3' class="col-md-10 visible-xs"></div>
    </div> 
    <!--END TAB2-->

    <!--TAB3-->
    <div role="tabpanel" class="tab-pane fade" id="cierre" aria-labelledby="cierre-tab">
    <!-- javier 7/junio gftabla5 -->
    <div class="col-md-7">
    	{% descargar_excel "gp5" %}
        <h3>Ejecución presupuestaria del gasto de personal</h3>
        <h4 class="text-info">Millones de córdobas corrientes</h4>
            <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapsegraficoanios"  aria-expanded="false" aria-controls="collapseGraficioanio">Ver gráfico </a>
        </h4>
    <hr />
    <div class="collapse col-md-7" id="collapsegraficoanios">
        <div class="well">
            {% if municipio %}
                <div id='comparativo_anios' class="col-md-10"></div>                    
            {% else %}
                <div id='gfbar' class="col-md-7">gfbar</div>
            {% endif %}
        </div>
    </div>
    <table class="table table-condensed">
        <tr class="info"><th>Municipio</th> <th>Inicial</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
    {% for row in anuales %}
    <tr>
        <td>{{ row.gasto__anio }}</td>
        <td class="text-right">{{ row.asignado|million|intcomma }}</td>
        <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
        {% if row.asignado %}
        <td class="text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="success bold">
        <td>TOTAL</td>
        <td class="text-right">{{ anuales|total_sum:'asignado'|million|intcomma }}</td>
        <td class="text-right">{{ anuales|total_sum:'ejecutado'|million|intcomma }}</td>
        {% if municipio %}
            {% with total_sum_asignado=anuales|total_sum:'asignado' %}</td>
            <td class="text-right">{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
            {% endwith %}
        {% endif %}
    </tr>
    </table>
    <!-- /fin gftabla5 -->
    </div>
        <div id='barra'  style="display:none;"></div>
        <div id='gfbar' style="display:none;"></div>
        <div id='none' style="display:none"></div>
     </div>
    </div>
<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
$('#gfTab a').click(function (e) {
  e.preventDefault()
    $(this).tab('show')
})
</script>

{% endblock %}
