{% load core_extras humanize %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12" id="greater-middle-lower">
                <div class="row">
                    {% if periodo_list|keyvalue:year == 'I' %}
                        {% for row in otros|dictsortreversed:'asignado_percent' %}
                            {% if forloop.first and municipio.slug|lower == row.gasto__municipio__slug|lower or forloop.first and municipio.slug|lower == row.ingreso__municipio__nombre|lower or forloop.first and municipio.slug|lower == row.inversion__municipio__slug|lower %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">
                                                {{ row.asignado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% elif forloop.first %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">
                                                {{ row.asignado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% elif  municipio.slug|lower == row.gasto__municipio__slug|lower or municipio.slug|lower == row.ingreso__municipio__nombre|lower or municipio.slug|lower == row.inversion__municipio__slug|lower %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">
                                                {{ row.asignado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if forloop.last %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">
                                                {{ row.asignado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for row in otros|dictsortreversed:'ejecutado_percent' %}
                            {% if forloop.first and municipio.slug|lower == row.gasto__municipio__slug|lower or forloop.first and municipio.slug|lower == row.ingreso__municipio__nombre|lower or forloop.first and municipio.slug|lower == row.inversion__municipio__slug|lower %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">{{ row.ejecutado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas</p>
                                        </div>
                                    </div>
                                </div>
                            {% elif forloop.first %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">{{ row.ejecutado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas</p>
                                        </div>
                                    </div>
                                </div>
                            {% elif  municipio.slug|lower == row.gasto__municipio__slug|lower or municipio.slug|lower == row.ingreso__municipio__nombre|lower or municipio.slug|lower == row.inversion__municipio__slug|lower %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">{{ row.ejecutado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if forloop.last %}
                                <div class="col-lg-12 col-md-12 col-sm-12 draw">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center mt-1 pt-0_8">
                                            <span class="font-35px">{{ forloop.counter }}</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right mt-1">
                                            <p class="font-17px">
                                                {% firstof row.gasto__municipio__slug row.ingreso__municipio__nombre row.inversion__municipio__slug %}
                                            </p>
                                            <p class="font-17px info-box-number">{{ row.ejecutado_percent|floatformat:2|intcomma }}
                                                M. de C&oacute;rdobas</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="bar_horizontal" class="view-alternative"> Barra Horizontal
                </div>
            </div>
        </div>
    </div>
</div>