{% extends "base.html" %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="." method="GET">
                    <div class="row">
                        {% csrf_token %}

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Ingresos</h3>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for=""> {{ form.municipio.label }}</label>
                            {{ form.municipio }}
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="">{{ form.year.label }}</label>
                            {{ form.year }}
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="">{{ form.periodo.label }}</label>
                            {{ form.periodo }}
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 1.7em">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 mt-1">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                {% for tipo_ingreso in tipos_ingresos %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading{{ forloop.counter0 }}">
                                            <h4 class="panel-title font-color-black">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                   href="#collapse{{ forloop.counter0 }}" aria-expanded="true"
                                                   aria-controls="collapse{{ forloop.counter0 }}">
                                                    <strong>{{ tipo_ingreso.tipo_ing_nombre }}</strong>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{ forloop.counter0 }}"
                                             class="panel-collapse collapse {% if forloop.first %} in {% endif %}"
                                             role="tabpanel"
                                             aria-labelledby="heading{{ forloop.counter0 }}">
                                            <div class="panel-body">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Rengl&oacute;n C&oacute;digo</th>
                                                        <th class="text-center">Rengl&oacute;n Nombre</th>
                                                        <th class="text-center">Asignado</th>
                                                        <th class="text-center">Ejecutado</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for reglon in tipo_ingreso.ingreso_reglon %}
                                                        <tr>
                                                            <td class="text-center">{{ forloop.counter }}</td>
                                                            <td>
                                                                <input type="hidden"
                                                                       name="reglon[{{ forloop.counter0 }}][codigo]"
                                                                       value="{{ reglon.codigo }}">
                                                                {{ reglon.codigo }}
                                                            </td>
                                                            <td>{{ reglon.nombre }}</td>
                                                            <td>
                                                                <input type="number" class="form-control"
                                                                       name="reglon[{{ forloop.counter0 }}][asignado]"
                                                                       value="">
                                                            </td>
                                                            <td>
                                                                <input type="number" class="form-control"
                                                                       name="reglon[{{ forloop.counter0 }}][ejecutado]"
                                                                       value="">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>


    </div>
{% endblock %}
