{% load core_extras humanize %}
<div class="col-12 position-relative long-margin">
    <h5 class="title-center-info">Ranking de recaudaci&oacute;n
        por habitante categor&iacute;a</h5>
    <h4 class="title-center-category">
        Municipal "C"
    </h4>
    <hr class="line-underline-category">
    <h6 class="title-description">
        C&oacute;rdobas corrientes por habitante en base a ingresos ejecutados.
    </h6>
    <div class="balloon-dialog first-balloon-dialog">
        <div class="dialog-inside">
            <h1>01</h1>
        </div>
        <div class="first-ballon-horn"></div>
        <span class="name">MI MUNICIPIO Managua</span>
        <span class="number">200.80 M. de C&oacute;rdobas</span>
    </div>

    <div class="balloon-dialog second-balloon-dialog">
        <div class="dialog-inside">
            <h1>02</h1>
        </div>
        <div class="second-ballon-horn"></div>
        <span class="name">MI MUNICIPIO Managua</span>
        <span class="number">200.80 M. de C&oacute;rdobas</span>
    </div>

    <div class="balloon-dialog third-balloon-dialog">
        <div class="dialog-inside">
            <h1>03</h1>
        </div>
        <div class="third-ballon-horn"></div>
        <span class="name">MI MUNICIPIO Managua</span>
        <span class="number">200.80 M. de C&oacute;rdobas</span>
    </div>

    <ul class="chart-skills">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>