{% extends '_indicator.html' %}
{% load static humanize core_extras %}

{% block custom_header_links %}
    <style>
        .table-responsive {
            display: block;
            overflow-x: auto;
            width: 100%;
            -webkit-overflow-scrolling: touch;
        }

        .table-responsive > .table-bordered {
            border: 0;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="container wide">
        <div class="row">
            {% if request.GET.municipio %}

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form class="navbar-form navbar-left">
                        <p>
                            Escoger el municipio: <select class="form-control" name="municipio2" id="municipio2">
                            <option value="">(Municipio)</option>
                            {% for municipio in municipios %}
                                <option value="{{ municipio.slug }}">{{ municipio.nombre }}</option>
                            {% endfor %}
                        </select>
                            con el que desea comparar.
                        </p>
                    </form>
                </div>

                <h3>{{ municipio }}</h3>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th>Clase</th>
                            {% for periodo in periodos %}
                                <th>{{ periodo }}<br>{{ periodo.clasificacion }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for clasificacion in clasificaciones %}
                            <tr>
                                <td>Corriente</td>
                                {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'corriente' %}
                                    <td> {{ value|floatformat:2 }} </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Capital</td>
                                {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'capital' %}
                                    <td> {{ value|floatformat:2 }} </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Total</td>
                                {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'total' %}
                                    <td> {{ value|floatformat:2 }} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if request.GET.municipio2 %}
                    <h3>{{ municipio2 }}</h3>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="bg-primary">
                                <th>Clase</th>
                                {% for periodo in periodos %}
                                    <th>{{ periodo }}<br>{{ periodo.clasificacion }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for clasificacion in clasificaciones %}
                              <tr>
                                 <td>Total</td>
                                 {% for value in data2|keyvalue:clasificacion|keyvalue:'total' %}
                                    <td> {{ value }} </td>
                                 {% endfor %}
                               </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h2>
                                Tasa de crecimiento promedio anual
                                por periodo de gobierno
                            </h2>
                            <h4>Asignaci&oacute;n total</h4>
                            <hr class="pma-line-1"/>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-bordered mt-3">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Clase</th>
                                    {% for periodo in periodos %}
                                        {% if not forloop.first %}
                                            <th>{{ periodo }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for clasificacion in clasificaciones %}
                                    <tr>
                                        <td>{{ clasificacion }}</td>
                                        {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'total' %}
                                            {% if not forloop.first %}
                                                <td> {{ value|floatformat:"2" }} </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="fuente">Fuente: Elaboración propia a partir de transmuni.gob.ni</p>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div id="line_chart1"></div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <h2>Tasa de crecimiento promedio anual
                                Asignaci&oacute;n por grupo de municipios
                                por periodo de gobierno
                            </h2>
                            <h4>Gastos corrientes</h4>
                            <hr class="pma-line-1"/>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Clase</th>
                                    {% for periodo in periodos %}
                                        {% if not forloop.first %}
                                            <th>{{ periodo }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for clasificacion in clasificaciones %}
                                    <tr>
                                        <td>{{ clasificacion }}</td>
                                        {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'corriente' %}
                                            {% if not forloop.first %}
                                                <td> {{ value|floatformat:"2" }} </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="fuente">Fuente: Elaboración propia a partir de transmuni.gob.ni</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div id="line_chart2"></div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <h2>Tasa de crecimiento promedio anual
                                Asignaci&oacute;n por grupo de municipios
                                por periodo de gobierno
                            </h2>
                            <h4>Gastos de capital</h4>
                            <hr class="pma-line-1"/>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Clase</th>
                                    {% for periodo in periodos %}
                                        {% if not forloop.first %}
                                            <th>{{ periodo }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for clasificacion in clasificaciones %}
                                    <tr>
                                        <td>{{ clasificacion }}</td>
                                        {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'capital' %}
                                            {% if not forloop.first %}
                                                <td> {{ value|floatformat:"2" }} </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="fuente">Fuente: Elaboración propia a partir de transmuni.gob.ni</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div id="line_chart3"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_footer_scripts %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
    <script src="{% static 'js/pma.js' %}"></script>

    <script src="{% static 'js/highcharts.js' %}"></script>
    <script>
        $(function () {
            let custom_options = {
                'xTick': [
                    {% for periodo in periodos %}
                        {% if not forloop.first %}
                            '{{ periodo|safe }}',
                        {% endif %}
                    {% endfor %}
                ],
                'ylabel': 'Promedio Anual',
                'xlabel': 'Periodos del Gobierno',
            };
            {% if not municipio %}
                let charts_dict = {
                    {% for i in '123'|make_list %}
                        'data_chart{{ i }}': [
                            {% for clasificacion in clasificaciones %}
                                {
                                    'name': '{{ clasificacion }}',
                                    'data': [
                                        {% if i == '1' %}
                                            {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'total' %}
                                                {% if not forloop.first %}
                                                    {{ value|floatformat:2|safe }},
                                                {% endif %}
                                            {% endfor %}
                                        {% elif i == '2' %}
                                            {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'corriente' %}
                                                {% if not forloop.first %}
                                                    {{ value|floatformat:2|safe }},
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'capital' %}
                                                {% if not forloop.first %}
                                                    {{ value|floatformat:2|safe }},
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    ]
                                },
                            {% endfor %}
                        ],
                    {% endfor %}
                };
                {% for i in '123'|make_list %}
                    graphLineChart('line_chart{{i}}', charts_dict['data_chart{{ i }}'], custom_options);
                {% endfor %}
            {% endif %}



            let municipio2 = $('#municipio2');

            municipio2.on('change', function () {
                let parameters = window.location.search;
                let current_url = window.location.pathname;
                const urlParams = new URLSearchParams(parameters);
                //valido si existe municipio2 en la url para agregar o actualizar su valor
                if (urlParams.has('municipio2')) {
                    urlParams.set('municipio2', $(this).val())
                } else {
                    urlParams.append('municipio2', $(this).val())
                }

                window.location.href = `${current_url}?${urlParams.toString()}`;
            });


            function graphLineChart(id_container, data, custom_options) {
                Highcharts.chart(id_container, {
                    title: {
                        text: '',
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    xAxis: {
                        categories: custom_options['xTick'],
                        title: {
                            text: custom_options['xlabel']
                        }
                    },
                    yAxis: {
                        title: {
                            text: custom_options['ylabel']
                        }
                    },
                    series: data,

                });
            }
        });
    </script>
{% endblock %}
