{% extends '_indicator.html' %}
{% load static humanize core_extras %}

{% block custom_header_links %}
    <style>
        .table-responsive {
            display: block;
            overflow-x: auto;
            width: 100%;
            -webkit-overflow-scrolling: touch;
        }

        .table-responsive > .table-bordered {
            border: 0;
        }
    </style>
{% endblock %}
{% block indicator_title %}
    <h2 class="text-center">
        <strong>Transferencias Municipales</strong><br/>
        Tasa de crecimiento promedio anual
    </h2>
    <hr class="pma-line-5"/>
    <h4 class="text-center">
        {% if municipio %}
            <strong>{{ municipio }}</strong><br/>
        {% else %}
            Por grupo de municipios
        {% endif %}</h4>
    <p class="text-center metric-description container"></p>
{% endblock %}
{% block section1 %}
    <div class="container wide">
        <div class="row">
            {% if request.GET.municipio %}
                <div class="col-lg-12 col-md-12">
                    <h2>
                        Tasa de crecimiento promedio anual de
                        por período de gobierno<br/>
                    </h2>
                    <h4>Evolución de las asignaciones por uso y total</h4>
                    <hr class="pma-line-1"/>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form class="navbar-form navbar-right">
                        Elija el municipio con el cual desea comparar a {{ municipio }}:
                        <select class="form-control" name="municipio2" id="municipio2">
                            <option value="">(Municipio)</option>
                            {% for municipio in municipios %}
                                <option value="{{ municipio.slug }}">{{ municipio.nombre }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>{{ municipio }}</h2>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th>Partido de gobierno</th>
                            {% for partido in partidos %}
                                {% if not forloop.first %}
                                    <td class="text-center">{{ partido.nombre }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr class="bg-primary">
                            <th>Clase</th>
                            {% for periodo in periodos %}
                                {% if not forloop.first %}
                                    <th>{{ periodo }}<br>{{ periodo.clasificacion }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for clasificacion in clasificaciones %}
                            <tr>
                                <td>Corriente</td>
                                {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'corriente' %}
                                    {% if not forloop.first %}
                                        <td class="text-right">{% if value != '' %}
                                            {{ value|floatformat:2 }}%
                                        {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Capital</td>
                                {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'capital' %}
                                    {% if not forloop.first %}
                                        <td class="text-right">{% if value != '' %}
                                            {{ value|floatformat:2 }}%
                                        {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Total</td>
                                {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'total' %}
                                    {% if not forloop.first %}
                                        <td class="text-right">{% if value != '' %}
                                            {{ value|floatformat:2 }}%
                                        {% endif %}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if request.GET.municipio2 %}
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3>{{ municipio2 }}</h3>
                        <table class="table table-bordered">
                            <thead>
                            <tr class="bg-primary">
                                <th>Partido de gobierno</th>
                                {% for partido in partidos_municpio2 %}
                                    {% if not forloop.first %}
                                        <td class="text-center">{{ partido.nombre }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr class="bg-primary">
                                <th>Clase</th>
                                {% for periodo in periodos %}
                                    {% if not forloop.first %}
                                        <th>{{ periodo }}<br>{{ periodo.clasificacion }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for clasificacion in clasificaciones2 %}
                                <tr>
                                    <td>Corriente</td>
                                    {% for value in data_tasa_municipio2|keyvalue:clasificacion|keyvalue:'corriente' %}
                                        {% if not forloop.first %}
                                            <td class="text-right">{% if value != '' %}
                                                {{ value|floatformat:2 }}%
                                            {% endif %}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% for clasificacion in clasificaciones2 %}
                                <tr>
                                    <td>Capital</td>
                                    {% for value in data_tasa_municipio2|keyvalue:clasificacion|keyvalue:'capital' %}
                                        {% if not forloop.first %}
                                            <td class="text-right">{% if value != '' %}
                                                {{ value|floatformat:2 }}%
                                            {% endif %}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% for clasificacion in clasificaciones2 %}
                                <tr>
                                    <td>Total</td>
                                    {% for value in data_tasa_municipio2|keyvalue:clasificacion|keyvalue:'total' %}
                                        {% if not forloop.first %}
                                            <td class="text-right">{% if value != '' %}
                                                {{ value|floatformat:2 }}%
                                            {% endif %}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                <div class="{% if request.GET.municipio2 %}col-lg-12 col-md-12{% else %}col-lg-6 col-md-12{% endif %}">
                    <ul class="nav nav-tabs" id="tab-graphics" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab"
                               aria-controls="tab1" aria-selected="true">Total Segregado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab"
                               aria-controls="tab2" aria-selected="false">Total</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active in" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div id="line_chart_municipio"></div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                            <div id="column_chart_municipio"></div>
                        </div>
                    </div>
                </div>


            {% else %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h2>
                                Tasa de crecimiento promedio anual
                                por período de gobierno
                            </h2>
                            <h4>Asignaci&oacute;n total</h4>
                            <hr class="pma-line-1"/>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-bordered mt-3">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Clase</th>
                                    {% for periodo in periodos %}
                                        {% if not forloop.first %}
                                            <th>{{ periodo }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for clasificacion in clasificaciones %}
                                    <tr>
                                        <td>{{ clasificacion }}</td>
                                        {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'total' %}
                                            {% if not forloop.first %}
                                                <td class="text-right">{% if value != '' %}
                                                    {{ value|floatformat:2 }}%
                                                {% endif %}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="fuente">Fuente: Elaboración propia a partir de transmuni.gob.ni</p>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div id="line_chart1"></div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <h2>Tasa de crecimiento promedio anual<br/>
                                Asignaci&oacute;n por grupo de municipios
                                por período de gobierno
                            </h2>
                            <h4>Gastos corrientes</h4>
                            <hr class="pma-line-1"/>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Clase</th>
                                    {% for periodo in periodos %}
                                        {% if not forloop.first %}
                                            <th>{{ periodo }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for clasificacion in clasificaciones %}
                                    <tr>
                                        <td>{{ clasificacion }}</td>
                                        {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'corriente' %}
                                            {% if not forloop.first %}
                                                <td class="text-right">{% if value != '' %}
                                                    {{ value|floatformat:2 }}%
                                                {% endif %}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="fuente">Fuente: Elaboración propia a partir de transmuni.gob.ni</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div id="line_chart2"></div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <h2>Tasa de crecimiento promedio anual<br/>
                                Asignaci&oacute;n por grupo de municipios
                                por período de gobierno
                            </h2>
                            <h4>Gastos de capital</h4>
                            <hr class="pma-line-1"/>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Clase</th>
                                    {% for periodo in periodos %}
                                        {% if not forloop.first %}
                                            <th>{{ periodo }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for clasificacion in clasificaciones %}
                                    <tr>
                                        <td>{{ clasificacion }}</td>
                                        {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'capital' %}
                                            {% if not forloop.first %}
                                                <td class="text-right">{% if value != '' %}
                                                    {{ value|floatformat:2 }}%
                                                {% endif %}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="fuente">Fuente: Elaboración propia a partir de transmuni.gob.ni</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div id="line_chart3"></div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <h2>Tasa de crecimiento promedio anual<br/>
                                rankin municipal 
                                por período de gobierno
                            </h2>
                            <hr class="pma-line-1"/>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <table class="table table-bordered mt-3">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Clase</th>
                                    {% for periodo in periodos %}
                                        {% if not forloop.first %}
                                            <th>{{ periodo }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for clasificacion in clasificaciones %}
                                    <tr>
                                        <td>{{ clasificacion }}</td>
                                        {% for value in data_tasa_detalle|keyvalue:clasificacion|keyvalue:'total' %}
                                            {% if not forloop.first %}
                                                <td class="text-right">{% if value != '' %}
                                                    {{ value|floatformat:2 }}%
                                                {% endif %}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="fuente">Fuente: Elaboración propia a partir de transmuni.gob.ni</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_footer_scripts %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
    <script src="{% static 'js/pma.js' %}"></script>

    <script src="{% static 'js/highcharts.js' %}"></script>
    <script>
        $(function () {
            let custom_options = {
                'xTick': [
                    {% for periodo in periodos %}
                        {% if not forloop.first %}
                            '{{ periodo|safe }}',
                        {% endif %}
                    {% endfor %}
                ],
                'ylabel': 'Promedio Anual',
                'xlabel': 'Periodos del Gobierno',
                'type_chart': 'line',
                'title': 'Tasa promedio de crecimiento por período',
                'subtitle': '',
            };
            let custom_options_total = {
                'xTick': [
                    {% for periodo in periodos %}
                        {% if not forloop.first %}
                            '{{ periodo|safe }}',
                        {% endif %}
                    {% endfor %}
                ],
                'ylabel': 'Promedio Anual',
                'xlabel': 'Periodos del Gobierno',
                'type_chart': 'line',
                'subtitle': '',
            };
            let charts_dict = null;
            {% if not municipio %}
                charts_dict = {
                    {% for i in '123'|make_list %}
                        'data_chart{{ i }}': [
                            {% for clasificacion in clasificaciones %}
                                {
                                    'name': '{{ clasificacion }}',
                                    'data': [
                                        {% if i == '1' %}
                                            {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'total' %}
                                                {% if not forloop.first %}
                                                    {{ value|floatformat:2|safe }},
                                                {% endif %}
                                            {% endfor %}
                                        {% elif i == '2' %}
                                            {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'corriente' %}
                                                {% if not forloop.first %}
                                                    {{ value|floatformat:2|safe }},
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'capital' %}
                                                {% if not forloop.first %}
                                                    {{ value|floatformat:2|safe }},
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    ]
                                },
                            {% endfor %}
                        ],
                    {% endfor %}
                };
                {% for i in '123'|make_list %}
                    {% if forloop.first %}
                        custom_options['subtitle'] = 'transferencias totales';
                    {% elif forloop.last %}
                        custom_options['subtitle'] = 'transferencias capital';
                    {% else %}
                        custom_options['subtitle'] = 'transferencias corriente';
                    {% endif %}
                    graphChart('line_chart{{i}}', charts_dict['data_chart{{ i }}'], custom_options);
                {% endfor %}
            {% else %}
                custom_options['type_chart'] = 'bar';
                charts_dict = {
                    'data_chart_municipio': [
                        {% for clasificacion in clasificaciones %}
                            {
                                'name': 'Corriente {{ municipio }}',
                                'data': [
                                    {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'corriente' %}
                                        {% if not forloop.first %}
                                            {{ value|floatformat:2|safe }},
                                        {% endif %}
                                    {% endfor %}
                                ]
                            },
                            {
                                'name': 'Capital {{ municipio }}',
                                'data': [
                                    {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'capital' %}
                                        {% if not forloop.first %}
                                            {{ value|floatformat:2|safe }},
                                        {% endif %}
                                    {% endfor %}
                                ]
                            },
                        {% endfor %}
                    ],
                };

                custom_options_total['type_chart'] = 'column';
                charts_dict['data_chart_municipio_totals'] = [
                    {% for clasificacion in clasificaciones %}
                        {
                            'name': 'Total {{ municipio }}',
                            'data': [
                                {% for value in data_tasa|keyvalue:clasificacion|keyvalue:'total' %}
                                    {% if not forloop.first %}
                                        {{ value|floatformat:2|safe }},
                                    {% endif %}
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ];

                custom_options['title'] = 'asignación transferencias de corrientes y de capital';
                custom_options_total['title'] = 'asignación transferencias totales';

                {% if municipio2 %}
                    custom_options['title'] = 'gráfico comparativo';
                    custom_options_total['title'] = 'gráfico comparativo';
                    custom_options['subtitle'] = 'asignación transferencias de corrientes y de capital';
                    custom_options_total['subtitle'] = 'asignación transferencias totales';
                    charts_dict['data_chart_municipio'].push(
                        {% for clasificacion in clasificaciones2 %}
                            {
                                'name': 'Corriente {{ municipio2 }}',
                                'data': [
                                    {% for value in data_tasa_municipio2|keyvalue:clasificacion|keyvalue:'corriente' %}
                                        {% if not forloop.first %}
                                            {{ value|floatformat:2|safe }},
                                        {% endif %}
                                    {% endfor %}
                                ]
                            },
                            {
                                'name': 'Capital {{ municipio2 }}',
                                'data': [
                                    {% for value in data_tasa_municipio2|keyvalue:clasificacion|keyvalue:'capital' %}
                                        {% if not forloop.first %}
                                            {{ value|floatformat:2|safe }},
                                        {% endif %}
                                    {% endfor %}
                                ]
                            },
                        {% endfor %}
                    );

                    charts_dict['data_chart_municipio_totals'].push(
                        {% for clasificacion in clasificaciones2 %}
                            {
                                'name': 'Corriente {{ municipio2 }}',
                                'data': [
                                    {% for value in data_tasa_municipio2|keyvalue:clasificacion|keyvalue:'total' %}
                                        {% if not forloop.first %}
                                            {{ value|floatformat:2|safe }},
                                        {% endif %}
                                    {% endfor %}
                                ]
                            },
                        {% endfor %}
                    );
                {% endif %}
                graphChart('line_chart_municipio', charts_dict['data_chart_municipio'], custom_options);
                graphChart('column_chart_municipio', charts_dict['data_chart_municipio_totals'], custom_options_total);
            {% endif %}

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) { // on tab selection event
                let id = $(this).attr('id');
                let grafico1 = $('#line_chart_municipio');
                let grafico2 = $('#column_chart_municipio');
                if (id === 'tab2-tab') {
                    grafico1.hide();
                    grafico2.show();
                } else {
                    grafico2.hide();
                    grafico1.show();
                }
            });


        });
    </script>
{% endblock %}
