{% extends '_indicator.html' %}
{% load static humanize core_extras %}

{% block main_content %}
    <div class="container wide">
        <div class="row">
            {% if request.GET.municipio %}

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form class="navbar-form navbar-left">
                        <p>
                            Escoger el municipio: <select class="form-control" name="municipio2" id="municipio2">
                            <option value="">(Municipio)</option>
                            {% for municipio in municipios %}
                                <option value="{{ municipio.slug }}">{{ municipio.nombre }}</option>
                            {% endfor %}
                        </select>
                            con el que desea comparar.
                        </p>
                    </form>
                </div>

                <h3>{{ municipio }}</h3>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th>Asignación Anual</th>
                            {% for year in years %}
                                <th>{{ year.year }}<br>{{ year.clasificacion }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for asignacion in asignaciones %}
                            <tr>
                                <td>{{ asignacion }}</td>
                                {% for row in data_asignacion|keyvalue:asignacion %}
                                    <td>{{ row }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if request.GET.municipio2 %}
                    <h3>{{ municipio2 }}</h3>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="bg-primary">
                                <th>Asignación Anual</th>
                                {% for year in years2 %}
                                    <th>{{ year.year }}<br>{{ year.clasificacion }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for asignacion in asignaciones %}
                                <tr>
                                    <td>{{ asignacion }}</td>
                                    {% for row in data_asignacion2|keyvalue:asignacion %}
                                        <td>{{ row }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th>Clase</th>
                            <th>Asignación Anual</th>
                            {% for year in years %}
                                <th>{{ year }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data %}
                            {% ifchanged row.clasificacion %}
                                <tr>
                                    <td rowspan=3>{{ row.clasificacion }}</td>
                                    {% for row2 in data_clase|keyvalue:row.clasificacion %}
                                        {% if forloop.first %}
                                            <td>Corriente</td>{% endif %}
                                        <td>{{ row2.corriente|intcomma }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for row2 in data_clase|keyvalue:row.clasificacion %}
                                        {% if forloop.first %}
                                            <td>Capital</td>{% endif %}
                                        <td>{{ row2.capital|intcomma }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for row2 in data_clase|keyvalue:row.clasificacion %}
                                        {% if forloop.first %}
                                            <td>Total</td>{% endif %}
                                        <td>{{ row2.capital|add:row2.corriente|intcomma }}</td>
                                    {% endfor %}
                                </tr>
                            {% endifchanged %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_footer_scripts %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });
    </script>
    <script src="{% static 'js/pma.js' %}"></script>
{% endblock %}