{% extends "_indicator.html" %}
{% load static thumbnail chartit humanize %}
{% load mathfilters %}
{% load core_extras %}

{% block indicator_description %}
{{indicator_description}}
{% endblock %}

{% block section1 %}
<div class="container">
    <div class="row">
        <h2> <strong>Detalle de {{indicator_name}}</strong> <br/> del período</h2>
        <hr class="pma-line-2">
        <div class="col-md-7">
            <div class="chart-update col-md-1">
                    <span class="pma-icon pe-7s-bubble pma-fg-gray toggle-chart"
                        aria-hidden="true" id="chart-bubble-1"
                        data-chartcontainer="bubble-1"></span>
                    <span id="chart-pie-1" class="pma-icon pe-7s-graph
                        pma-fg-gray toggle-chart" aria-hidden="true" data-chartcontainer="pie"></span>
                    <span id="chart-bar-1" class="pma-icon pe-7s-graph3 pma-fg-gray toggle-chart" aria-hidden="true" data-chartcontainer="bar"></span>
            </div>
            <div class="col-md-11 chart-container bubbletree-container">
                <div id="bubble-1" class="bubbletree-wrapper view-main">
                    <div class="bubbletree" id="bubbletree-1"></div>
                </div>
                <div id="pie" class="view-alternative"></div>
                <div id="bar" class="view-alternative"></div>
            </div>
        </div>
        <div class="col-md-5 table-responsive">
            <table class="table table-striped table-hover" id="datatable-1">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-left">Rubro de Ingreso</th>
                        <th class="text-right">Inicial</th>
                        <th class="text-right">Ejecutado</th>
                        <th class="text-right">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in rubros %}
                <tr>
                    <td>{% firstof row.tipoingreso__nombre row.tipogasto__nombre row.tipogasto__clasificacion %}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% if row.inicial_asignado %}
                        <td class="text-right">{{ row.ejecutado|div:row.inicial_asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                <tr class="bold">
                    <td>TOTAL</td>
                    <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                    <td class="text-right">{{ rubros|total_sum:'ejecutado'|million|intcomma }}</td>
                    {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                        <td class="text-right">
                            {% if sum_asignado %}
                                {{ rubros|total_sum:'ejecutado'|div:sum_asignado|mul:100|floatformat:2|intcomma}}%
                            {% endif %}
                        </td>
                    {% endwith %}
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <hr class="pma-line-2">
        <div class="col-md-5 table-responsive">
            <table class="table table-striped table-hover" id="datatable-1">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-left">Rubro de Gasto</th>
                        <th class="text-right">Inicial</th>
                        <th class="text-right">Ejecutado</th>
                        <th class="text-right">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in rubrosg %}
                <tr>
                    <td>{% firstof row.tipogasto__nombre row.tipogasto__clasificacion %}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% if row.inicial_asignado %}
                        <td class="text-right">{{ row.ejecutado|div:row.inicial_asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
                <tr class="">
                    <td class="text-right">TOTAL</td>
                    <td class="text-right">{{ rubrosg|total_sum:'inicial_asignado'|million|intcomma }}</td>
                    <td class="text-right">{{ rubrosg|total_sum:'ejecutado'|million|intcomma }}</td>
                    {% with sum_asignado=rubrosg|total_sum:'inicial_asignado' %}
                        <td class="text-right">
                            {% if sum_asignado %}
                                {{ rubrosg|total_sum:'ejecutado'|div:sum_asignado|mul:100|floatformat:2|intcomma}}%
                            {% endif %}
                        </td>
                    {% endwith %}
                </tr>
            </table>
        </div>
        <div class="col-md-7">
            <div class="col-md-11 chart-container bubbletree-container">
                <div class="bubbletree-wrapper view-main">
                    <div class="bubbletree" id="bubbletree2"></div>
                </div>
                <div id="pie2" class="view-alternative"></div>
                <div id="bar2" class="view-alternative"></div>
            </div>
            <div class="chart-update col-md-1 float-left">
                    <span class="pma-icon pe-7s-bubble pma-fg-gray toggle-chart"
                        id="chart-bubble-1"
                        data-chartcontainer="bubbletree2"></span>
                    <span id="chart-pie-1" class="pma-icon pe-7s-graph
                        pma-fg-gray toggle-chart" data-chartcontainer="pie2"></span>
                    <span id="chart-bar-1" class="pma-icon pe-7s-graph3 pma-fg-gray toggle-chart" data-chartcontainer="bar2"></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block section2 %}
<div class="cd-horizontal-timeline loaded pma-gradient inverted">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% if not municipio %}
            <h2><strong>Gastos de funcionamiento </strong> <br>
                por categoría de Municipios</h2>
            {% else %}
            <h2><strong>Ranking </strong> <br>
                por habitante categoría municipal
                "{{ mi_clase.clasificacion }}"</h2>
            {% endif %}
            <hr class="pma-line-3" />
            </div>
        </div>
    </div>
    <div class="timeline container">
        <div class="events-wrapper rankin">
            <div class="events" style="width: {{ otros|length|mul:300 }}{{ porclasep|length|mul:300 }}px;">
                <ol>
                    {% for row in porclasep %}
                    <li>
                        <a href="#0"
                            data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}"
                            {% if municipio.slug == row.ingreso__municipio__slug %} class="selected"{% endif %}
                            style="left: {{ forloop.counter|mul:120 }}px;"><span class="posicion">{% firstof row.nombre row.clasificacion %}</span>
                            <br/>
                            {% if periodo_list|keyvalue:year == 'I' %}
                              <span class="line-cifra">{{ row.asignado|floatformat:2 }}
                              </span><br/>
                            {% else %}
                              <span class="line-cifra">{{ row.ejecutado|floatformat:2 }}</span>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                    {% for row in otros %}
                    <li>
                        <a href="#0"
                            data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}"
                            {% if forloop.first %} class="selected"{% endif %}
                            style="left: {{ forloop.counter|mul:240 }}px;"><span class="posicion2">{% firstof row.nombre row.clasificacion %}</span>
                            <br/>
                            {% if periodo_list|keyvalue:year == 'I' %}
                              <span class="line-cifra">{{ row.asignado|floatformat:2 }}
                              </span><br/>
                            {% else %}
                              <span class="line-cifra">{{ row.ejecutado|floatformat:2 }}</span>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
                <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.0772222);"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->
    <div class="events-content container text-center">
        <ol>
        {% for row in otros|dictsortreversed:"asignado" %}
        <li{% if municipio.slug == row.ingreso__municipio__slug %} class="selected"{% endif %} data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}">
        </li>
        {% endfor %}
        {% for row in porclasep|dictsortreversed:"asignado" %}
        <li{% if municipio.slug == row.ingreso__municipio__slug %} class="selected"{% endif %} data-date="{% now "SHORT_DATETIME_FORMAT" %} 00:{{ forloop.counter }}">
        </li>
        {% endfor %}
        </ol>
    </div> <!-- .events-content -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center medium">
                <button id="show-detail-1" class="blanco btn pma-bg-blue more" type="submit">
                Ver detalles en tabla</button>
            </div>
        </div>
    </div>
    <div id="detail-1" class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Ingresos corrientes totales</h2>
                <h3>Millones de córdobas corrientes</h3>
                <table class="table table-condensed pma-bg-white">
                    <thead>
                    <tr class="bg-primary">
                        <th>Rubros ingresos</th>
                        <th>Inicial</th>
                        <th>Ejecutado</th>
                        <th>% (ejecutado/inicial)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in rubros %}
                    <tr>
                        <td>{% firstof row.tipoingreso__nombre row.tipoingreso__clasificacion %}</td>
                        <td>{{ row.inicial_asignado|million|intcomma }}</td>
                        <td>{{ row.ejecutado|million|intcomma }}</td>
                        {% if row.inicial_asignado %}
                        <td class="montos">{{ row.ejecutado|div:row.inicial_asignado|mul:100|floatformat:2 }}%</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="">
                        <td>TOTAL</td>
                        <td>{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                        <td>{{ rubros|total_sum:'ejecutado'|million|intcomma }}</td>
                        {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                        <td class="text-right">
                            {% if sum_asignado %}
                            {{ rubros|total_sum:'ejecutado'|div:sum_asignado|mul:100|floatformat:2|intcomma}}%
                            {% endif %}
                        </td>
                        {% endwith %}
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Gastos corrientes totales</h2>
                <h3>Millones de córdobas corrientes</h3>
                <table class="table table-condensed pma-bg-white">
                    <thead>
                    <tr class="bg-primary">
                    <th>Rubros de gastos</th>
                    <th>Inicial</th>
                    <th>Ejecutado</th>
                    <th>% (ejecutado/inicial)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in rubrosg %}
                    <tr>
                        <td>{% firstof row.tipogasto__nombre row.tipogasto__clasificacion %}</td>
                        <td>{{ row.inicial_asignado|million|intcomma }}</td>
                        <td>{{ row.ejecutado|million|intcomma }}</td>
                        {% if row.inicial_asignado %}
                        <td class="montos">{{ row.ejecutado|div:row.inicial_asignado|mul:100|floatformat:2 }}%</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="">
                        <td>TOTAL</td>
                        <td>{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                        <td>{{ rubros|total_sum:'ejecutado'|million|intcomma }}</td>
                        {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                        <td>
                            {% if sum_asignado %}
                            {{ rubros|total_sum:'ejecutado'|div:sum_asignado|mul:100|floatformat:2|intcomma}}%
                            {% endif %}
                        </td>
                        {% endwith %}
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block section3 %}
<div class="container wide">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Información Histórica<br>
            <strong>Ejecución presupuestaria del gasto de funcionamiento {% if not municipio %}Consolidado municipal {% endif %}</strong> </h2>
            <hr class="pma-line-4" />
        </div>
    </div>
</div>
<div  class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Ejecución presupuestaria del ingreso corrientes propios</h3>
            <h4 class="text-info">Millones de córdobas corrientes</h4>
            <table class="table table-condensed">
                <tr class="info"><th>Años</th> <th>Inicial</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
                {% for row in anuales %}
                <tr>
                    <td>{{ row.ingreso__anio }}</td>
                    <td class="text-right">{{ row.asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% if row.asignado %}
                        <td class="montos text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                 </tr>
                {% endfor %}
                <tr class="success bold">
                    <td>TOTAL</td>
                    <td class="text-right">{{ anuales|total_sum:'asignado'|million|intcomma }}</td>
                    <td class="text-right">{{ anuales|total_sum:'ejecutado'|million|intcomma }}</td>
                    {% with total_sum_asignado=anuales|total_sum:'asignado' %}
                    {% if total_sum_asignado %}
                        <td class="montos text-right">{{ anuales|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                    {% endwith %}
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            {% descargar_excel "ago8" %}
            <h3>Ejecución presupuestaria - Gasto corrientes totales</h3>
            <h4 class="text-info">Millones de córdobas corrientes</h4>
            <table class="table table-condensed">
                <tr class="info"><th>Años</th> <th>Inicial</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Inicial" class="link-info">%</a></th></tr>
                {% for row in anualesg %}
                <tr>
                    <td>{{ row.gasto__anio }}</td>
                    <td class="text-right">{{ row.asignado|million|intcomma }}</td>
                    <td class="text-right">{{ row.ejecutado|million|intcomma }}</td>
                    {% if row.asignado %}
                        <td class="montos text-right">{{ row.ejecutado|div:row.asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                 </tr>
                {% endfor %}
                <tr class="success bold">
                    <td>TOTAL</td>
                    <td class="text-right">{{ anualesg|total_sum:'asignado'|million|intcomma }}</td>
                    <td class="text-right">{{ anualesg|total_sum:'ejecutado'|million|intcomma }}</td>
                    {% with total_sum_asignado=anualesg|total_sum:'asignado' %}
                    {% if total_sum_asignado %}
                        <td class="montos text-right">{{ anualesg|total_sum:'ejecutado'|div:total_sum_asignado|mul:100|floatformat:1 }}%</td>
                    {% endif %}
                    {% endwith %}
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block section4 %}
<div class="container wide">
    <div class="row">
        <div class="col-md-12">
            <h2><strong>Modificaciones al presupuesto municipal</strong><br>
            Millones de córdobas corrientes </h2>
            <hr class="pma-line-3" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <h3><strong>Ingresos corrientes propios</strong></h3>
            <hr class="pma-line-4" />
          </div>
          <table class="table table-condensed">
            <tr class="bg-primary"> <th>Rubros de ingresos</th> <th>Inicial</th>
                <th>Actualizado</th> <th>Ejecutado</th>
            </tr>
            {% for row in rubros %}
                <tr>
                    <td>{% firstof row.tipoingreso__nombre row.tipoingreso__clasificacion %}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>

                    <td class="text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                </tr>
            {% endfor %}
            <tr class="bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <h3><strong>Gastos corrientes totales</strong></h3>
            <hr class="pma-line-4" />
          </div>
          <table class="table table-condensed">
            <tr class="bg-primary"> <th>Rubros de ingresos</th> <th>Inicial</th>
                <th>Actualizado</th><th>Ejecutado</th>
            </tr>
            {% for row in rubrosg %}
                <tr>
                    <td>{% firstof row.tipogasto__nombre row.tipogasto__clasificacion %}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>

                    <td class="text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                </tr>
            {% endfor %}
            <tr class="bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
            </tr>
          </table>
        </div>

        <div class="container">
            <div class="col-md-12 text-center medium">
                <button id="show-detail-2" class="blanco btn pma-bg-blue more" type="submit">
                Ver detalles </button>
            </div>
        </div>

        <div id="detail-2" class="row">
        <div class="col-md-12">
        <h3><strong>Detalle de modificaciones en</strong> ingresos corrientes propios</h3>
        <table class="table table-bordered">
            <tr class="bg-primary">
                <td></td>
                <td></td>
                <td colspan="4" class="text-center">
                    <h4>Modificación intermedia
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-info">*</a>
                    </h4>
                </td>
                <td colspan="4" class="text-center">
                    <h4>Modificación al cierre
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
                    </h4>
                </td>
            </tr>
            <tr class="bg-primary"> <th>Rubros de ingresos</th> <th>Inicial</th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info blanco">%</a></th>
            </tr>
            {% for row in rubros %}
                <tr>
                    <td>{% firstof row.tipoingreso__nombre row.tipoingreso__clasificacion %}</td>
                    <td class="text-right">{{ row.inicial_asignado|million|intcomma }}</td>

                    <td class="text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="text-right">{% if row.actualizado_asignado and row.inicial_asignado %}{{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                    {% if row.actualizado_asignado %}
                        <td class="montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        <td class="montos">0</td>
                    {% endif %}

                    <td class="text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif %}</td>
                    <td class="text-right">{% if row.final_asignado %}{{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                    {% if row.final_asignado %}
                        <td class="montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr class="bg-primary bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'actualizado_asignado' %}
                        {{ rubros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ rubros|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'final_asignado' %}
                        {{ rubros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
        </table>
        </div>
        <div class="col-md-12">
        <h3><strong>Detalle de modificaciones en</strong> gastos corrientes totales</h3>
        <table class="table table-bordered">
            <tr class="bg-primary">
                <td></td>
                <td></td>
                <td colspan="4" class="text-center">
                    <h4>Modificación intermedia
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.actualizado }}" class="link-info">*</a>
                    </h4>
                </td>
                <td colspan="4" class="text-center">
                    <h4>Modificación al cierre
                        <a href="#" data-toggle="tooltip" data-original-title="Modificación al {{ year_data.final }}" class="link-info">*</a>
                    </h4>
                </td>
            </tr>
            <tr class="bg-primary"> <th>Rubros de ingresos</th> <th>Inicial</th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info">%</a></th>
                <th>Actualizado</th> <th>Modificación</th> <th>Ejecutado</th> <th><a href="#" data-toggle="tooltip" data-original-title="Ejecutado/Actualizado" class="link-info blanco">%</a></th>
            </tr>
            {% for row in rubrosg %}
                <tr>
                    <td>{% firstof row.tipogasto__nombre row.tipogasto__clasificacion %}</td>
                    <td>{{ row.inicial_asignado|million|intcomma }}</td>

                    <td class="text-right">{{ row.actualizado_asignado|million|intcomma }}</td>
                    <td class="text-right">{% if row.actualizado_asignado and row.inicial_asignado %}{{ row.actualizado_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="text-right">{{ row.actualizado_ejecutado|million|intcomma }}</td>
                    {% if row.actualizado_asignado %}
                        <td class="montos">{{ row.actualizado_ejecutado|div:row.actualizado_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% else %}
                        <td class="montos">0</td>
                    {% endif %}

                    <td class="text-right">{% if row.final_asignado %}{{ row.final_asignado|million|intcomma }}{% else %}0 {% endif %}</td>
                    <td class="text-right">{% if row.final_asignado %}{{ row.final_asignado|sub:row.inicial_asignado|million|intcomma }}{% else %}0{% endif %}</td>
                    <td class="text-right">{% if row.final_ejecutado %}{{ row.final_ejecutado|million|intcomma }}{% else %}0{% endif %}</td>
                    {% if row.final_asignado %}
                        <td class="montos">{{ row.final_ejecutado|div:row.final_asignado|mul:100|floatformat:1|intcomma }}%</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr class="bg-primary bold">
                <td>TOTAL</td>
                <td class="text-right">{{ rubros|total_sum:'inicial_asignado'|million|intcomma }}</td>
                <td class="text-right">{{ rubros|total_sum:'actualizado_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'actualizado_asignado' %}
                        {{ rubros|total_sum:'actualizado_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'actualizado_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'actualizado_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'actualizado_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
                <!-- totales periodo final -->
                <td class="text-right">{{ rubros|total_sum:'final_asignado'|million|intcomma }}</td>
                {% with sum_asignado=rubros|total_sum:'inicial_asignado' %}
                    <td class="montosi text-right">
                    {% if rubros|total_sum:'final_asignado' %}
                        {{ rubros|total_sum:'final_asignado'|sub:sum_asignado|million|intcomma }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                {% endwith %}
                <td class="text-right">{{ rubros|total_sum:'final_ejecutado'|million|intcomma }}</td>
                {% with sum_actualizado=rubros|total_sum:'final_asignado' %}
                    <td class="montos text-right">
                        {% if sum_actualizado %}
                        {{ rubros|total_sum:'final_ejecutado'|div:sum_actualizado|mul:100|floatformat:1|intcomma}}%
                        {% endif %}
                    </td>
                {% endwith %}
            </tr>
        </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_footer_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.history.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Tween.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bubbletree.js' %}"></script>
    <script type="text/javascript" src="http://assets.openspending.org/openspendingjs/master/lib/aggregator.js"></script>
    <script type="text/javascript" src="{% static 'js/cofog.js' %}"></script>
    <script type="text/javascript">
            var data1 = {{ bubble_data_1|safe }};
            var data2 = {{ bubble_data_2|safe }};
    </script>
    <script type="text/javascript" src="{% static 'js/pma-bubbletree.js' %}"></script>
    <script>
    $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip({
                            placement : 'top'
                        });
            });
    </script>
    <script src="{% static 'js/pma.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/horizontal-timeline.js' %}"></script>
{% endblock %}

{% block custom_scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    {{ charts|load_charts:"bar,pie,pie2,bar2" }}
{% endblock %}
