:root {
    --width-chart: 600px;
    --radio-border: 300px;
    --size-left: calc((100% - 60%) + 40px);
    --width-balloon-dialog: 160px;
    --first-color-position: #5159AC;
    --second-color-position: #14a0c1;
    --third-color-position: #01cd9c;
}

.long-margin {
    margin-top: 240px;
}

/* titles and line inside the semi-donut chart*/
.title-center-info, .title-center-category,
.line-underline-category, .title-description,
.balloon-dialog {
    position: absolute;
}

.title-center-info, .title-center-category {
    left: var(--size-left);
}

.title-center-category, .title-description,
.dialog-inside {
    text-align: center;
}

.title-center-info {
    top: calc(var(--width-chart) / 5);
    width: calc(var(--width-chart) * 0.3);
    font-weight: bold;
}

.title-center-category {
    font-weight: bold;
    top: calc(var(--width-chart) / 3.8);
    width: calc(var(--width-chart) * 0.28);
    color: #296FB0;
}

.line-underline-category {
    top: calc(var(--width-chart) / 3.5);
    width: calc(var(--width-chart) * 0.14);
    left: calc((100% - 56%) + 35px);
    border: 1px solid #296FB0;
    border-radius: 10px;
}

.title-description {
    top: calc(var(--width-chart) / 3);
    width: calc(var(--width-chart) * 0.34);
    left: calc((100% - 62%) + 40px);
}

/*Balloon dialog*/
.first-balloon-dialog {
    width: var(--width-balloon-dialog);
    height: var(--width-balloon-dialog);
    left: 10%;
    border-radius: 100%;
    background-color: var(--first-color-position);
    z-index: 10;
    top: 40px;
}

.first-balloon-dialog .first-ballon-horn {
    position: relative;
    width: 32px;
    height: 32px;
    transform: rotate(160deg);
    background-color: var(--first-color-position);
    right: -80%;
    top: 10px;
}

.first-balloon-dialog span.name {
    position: relative;
    top: -170px;
    white-space: nowrap;
    color: var(--first-color-position);
    font-weight: 500;
}

.first-balloon-dialog span.number {
    font-size: 14px;
    position: relative;
    left: 10px;
    text-align: center;
    top: -175px;
    white-space: nowrap;
}

.second-balloon-dialog {
    width: calc(var(--width-balloon-dialog) - 30px);
    height: calc(var(--width-balloon-dialog) - 30px);
    left: 45%;
    border-radius: 100%;
    background-color: var(--second-color-position);
    z-index: 10;
    top: -150px;
}

.second-balloon-dialog .second-ballon-horn {
    position: relative;
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
    bottom: -10px;
    background-color: var(--second-color-position);;
    right: -40%;
}

.second-balloon-dialog span.name {
    position: relative;
    top: -170px;
    white-space: nowrap;
    color: var(--second-color-position);
    font-weight: 500;
}

.second-balloon-dialog span.number {
    font-size: 14px;
    position: relative;
    left: 10px;
    text-align: center;
    top: -175px;
    white-space: nowrap;
}

.third-balloon-dialog {
    width: calc(var(--width-balloon-dialog) - 40px);
    height: calc(var(--width-balloon-dialog) - 40px);
    right: 12%;
    top: 75px;
    border-radius: 100%;
    background-color: var(--third-color-position);
    z-index: 10;
}

.third-balloon-dialog .third-ballon-horn {
    position: relative;
    width: 32px;
    height: 32px;
    bottom: 10px;
    background-color: var(--third-color-position);
    left: 5px;
}

.third-balloon-dialog span.name {
    position: relative;
    left: 10px;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    color: var(--third-color-position);
    font-weight: 500;
}

.third-balloon-dialog span.number {
    font-size: 14px;
    position: relative;
    left: 10px;
    text-align: center;
    top: 5px;
    white-space: nowrap;
}

.first-balloon-dialog .dialog-inside {
    top: 2.5rem;
    left: 2.5rem;
}

.second-balloon-dialog .dialog-inside {
    top: 1.5rem;
    left: 1.5rem;
}

.third-balloon-dialog .dialog-inside {
    top: 1.1rem;
    left: 1.1rem;
}

.dialog-inside {
    width: calc(var(--width-balloon-dialog) - 70px);
    height: calc(var(--width-balloon-dialog) - 70px);
    border-radius: 100%;
    background-color: #fff;
    z-index: 11;
    position: relative;
}

.dialog-inside h1 {
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
    top: calc(50% - 30px);
}

/* RESET STYLES */
.chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
    box-sizing: border-box;
}

/* CHART-SKILLS STYLES */
.chart-skills {
    position: relative;
    width: var(--width-chart);
    height: calc(var(--width-chart) / 2);
    overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
    position: absolute;
}

.chart-skills::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 45px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: var(--radio-border);
    border-top-right-radius: var(--radio-border);
}

.chart-skills::after {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-weight: bold;
    color: cadetblue;
}

.chart-skills li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 60px solid;
    border-top: none;
    border-bottom-left-radius: var(--radio-border);
    border-bottom-right-radius: var(--radio-border);
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
}

.chart-skills li:nth-child(1) {
    z-index: 4;
    border-color: var(--first-color-position);
    animation-name: rotate-one;
}

.chart-skills li:nth-child(2) {
    z-index: 3;
    border-color: var(--second-color-position);
    animation-name: rotate-two;
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) {
    z-index: 2;
    border-color: var(--third-color-position);
    animation-name: rotate-three;
    animation-delay: .8s;
}

.chart-skills span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
}

/* ANIMATIONS */

@keyframes rotate-one {
    100% {
        transform: rotate(80deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotate(80deg);
    }
    100% {
        transform: rotate(155deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotate(155deg);
    }
    100% {
        transform: rotate(180deg);
    }
}


@keyframes fade-in {
    0%,
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}